---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar.astro";
import Reviews from "@components/reviews.astro";
import Contactbtn from "@components/contactbtn.astro";
import Btn from "@components/btn.astro";
import Unitsappliances from "@components/units-appliances-glessell-park.astro";
import Unitscommercial from "@components/units-commercial-equipment-glessell-park.astro";

import "css/service-areas/style-service-areas.css";
---

<Navbar />
<Reviews />
<Layout title="Same Day Appliance Repair Glessell Park">
  <Container>
    <div class="full-page">
      <div class="page-header">
        <span class="animate-charcter">
          <h1>Appliance Repair Glessell Park CA</h1>
        </span>

        <div class="header-a">
          <img
            width="600px"
            height="600px"
            alt="Same Day Apliance Repair Glessell Park"
            src="/images/same-day-appliance-repair-experts.webp"
          />
          <Contactbtn />
        </div>
        
    

      </div>



    </div>
  </Container>
  <Cta />
</Layout>
