---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---
 <Layout title="">
      <Container>
<div class="content">
    <h2>Same Day Appliance Repair - Pasadena</h2>
                <p>At Same Day Appliance Repair in Pasadena, we address a wide array of appliance problems, from refrigerators and stoves to washer maintenance. Our team of professional, certified, and fully insured technicians is dedicated to restoring your appliances to working order. We service all major appliance brands, including high-end ones such as Sub-Zero, Viking, Dacor, and Thermador.</p>
                <h2>Same Day Household Appliance Repair, Installation, and Maintenance</h2>
                <p>Our same day appliance repair experts will fix your appliance on the first visit in 90% of cases. Our trained technicians have parts on hand to ensure a quick repair.</p>
 </div>
    <Cta />
</Container>
</Layout>
