---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Contactbtn from "@components/contactbtn.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

---
<Layout title="Appliance Repair Pasadena">
<Container>
<div class="content">
 <h1 class="top"><span class="animate-charcter">Appliance Repair</span> Pasadena</h1>
    <div class="two-col-grid"><div class="col-one"><img class="img-header" src="/images/same-day-appliance-reapir-pasadena.webp" width="600" height="232" alt="Professional appliance repair technician working on a dishwasher">
        <Contactbtn />
    </div>
    <div class="col-two">
        <p><a class="anchor" href="#household-appliance-repair"> Household Appliance Repair </a>|<a class="anchor" href="#commercial-appliance-repair"> Commercial Appliance Repair </a>|<a class="anchor" href="#heating"> Heating Ventilation And Air-Conditioning </a>|<a class="anchor" href="#faq"> FAQs</a></p>        
<p>We are an appliance repair company in Pasadena and South Pasadena providing same-day expert appliance repair with a quick response time to Pasadena residents. Professionally trained and attentive to details, our technicians in Pasadena quickly manage repairs for a variety of appliance types. We can professionally and quickly fix your refrigerator, washer, dryer, oven, range, dishwasher, freezer, range hood, ice maker, microwave, fireplace, washing machine, cooktop, BBQ grill, laundry speed queen, wine cellar, wine cooler, and trash compactor. We are a Pasadena appliance repair company that can fix it all.</p>
</div></div>

<Cta />
</Container>
</Layout>

