---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Contactbtn from "@components/contactbtn.astro";
import Btn from "@components/btn.astro";
import Costanchor from "@components/price-list/components_dryer-repair-cost.astro";
import Cta from "@components/cta.astro";
import Navbar from "@components/navbar/navbar.astro";
import Reviews from "@components/reviews.astro";

import "css/service/style_services.css";
---

<!-- частые вопросы -->
<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    let coll = document.getElementsByClassName("FAQ");
    for (let i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        let content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  });
</script>

<Navbar />
<Reviews />
<Layout title="Microwave Repair">
  <Container>
    <main>
      <div class="page-header">

       <div class="page-header-d-full">
         <div class="page-header-d">
           <h1><span class="animate-charcter">Microwave Repair</span></h1>
           <Contactbtn />
          </div>
        </div> 

        <div class="page-header-f">
          <img src="/public/microwave-repair/page_header_photos.webp" alt="Microwave repair">
        </div>

      </div>
    </main>
  </Container>
</Layout>
<Cta />
