---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Contactbtn from "@components/contactbtn.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

---
<Layout title="Commercial Refrigerator repair - Los Angeles">
<Container>
<div class="content">
 <h1 class="top"><span class="animate-charcter">Commercial Refrigerator Repair</span> Los Angeles</h1>
    <div class="two-col-grid"><div class="col-one"><img class="img-header" src="/images/commercial-refrigerator-repair-los-angeles.webp" width="600" height="232" alt="Commercial Refrogerator Repair in Los Angeles">
        <Contactbtn />
    </div>
    <div class="col-two">
    
<Cta />
</Container>
</Layout>

