---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Btn from "@components/btn.astro";
import Cta from "@components/cta.astro";
import Navbar from "@components/navbar/navbar.astro";
import Reviews from "@components/reviews.astro";
import Arrow from "@components/js/arrow-phone.astro";
import Focus from "@components/js/focus-menu.astro";
import Faqs from "@components/js/faqs.astro";
import LogoBrands from "@components/js/logo-brands.astro";
import ContactForm from "@components/contact-form.astro";
import Areas from "@components/areas.astro";


import "css/service/style_services.css";

const description = "Fast & reliable commercial washing machine repair. Serving Los Angeles and nearby areas with expert technicians and quality parts. Call now:  (323) 870-4790";
const title ="Commercial Washing Machine Repair Los Angeles & Nearby Areas";
---
 
  

    <Layout title="" description="">
  <Navbar />
<Reviews />
 
  <Container>
    <main>
      <div class="page-header">
        <div class="page-header-d-full">
          <div class="page-header-d">
            <h1>
              <span class="animate-charcter">h1</span>
            </h1>
          </div>
        </div>

        <div class="page-header-f">
          <div class="page-header-f-rel">
            <img
              width="2000px"
              height="1000px"
              src="/commercial-dryer/commercial-dryer-page_header_photos.webp"
              alt="Commercial Washing Machine Repair Los Angeles"
            />
          </div>

          <div class="page-header-f-gradient"></div>
        </div>

        <div class="page-header-p-full">
          <div class="page-header-p">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </main>

    <div class="page213">
      <div class="open-full_left">
        <svg
          width="40px"
          height="40px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g>
            <path
              id="arrow-left-menu"
              d="M4 12H20M20 12L16 8M20 12L16 16"
              stroke="rgb(59, 59, 59)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
<!--Form-->
      <div class="full_left_menu_r">
        <div class="list_left">
          <a href="#form">
            <h2>Contact Form</h2>
          </a>
        </div>
 <!--Menu-->

        <div class="list_left">
          <a href="#why-us">
            <h2>Why Choose</h2>
          </a>
        </div>

        <div class="list_left">
          <a href="#types">
            <h2>Types</h2>
          </a>
        </div>
        
        <div class="list_left">
          <a href="#problems">
            <h2>Problems</h2>
          </a>
        </div>
        <div class="list_left">
          <a href="#signs">
            <h2>Signs</h2>
          </a>
        </div>

        <div class="list_left">
            <a href="#industries">
              <h2>Industries</h2>
            </a>
          </div>

        <div class="list_left">
          <a href="#maintenance">
            <h2>Maintenance</h2>
          </a>
        </div>

        <div class="list_left">
          <a href="#repair-replace">
            <h2>Repair Or Replace</h2>
          </a>
        </div>
        
        <div class="list_left">
          <a href="#expert-services">
            <h2>Contact Expert Repair Services</h2>
          </a>
        </div>

        <div class="list_left">
          <a href="#brands">
            <h2>Brands</h2>
          </a>
        </div>

        <div class="list_left">
          <a href="#areas">
            <h2>Areas</h2>
          </a>
        </div>

        <div class="list_left">
          <a href="#faqs">
            <h2>FAQs</h2>
          </a>
        </div>
      </div>
<!--Form-->
      <div class="page213-container">
        <div class="page213-content" id="form">
          <div class="content__page-desc">
            <ContactForm />
          </div>
        </div>

 <!--why-us-->       
        <div class="page213-content" id="why-us">
          <div class="content__page-full-hed">
            <div class="content__page-hed-h">
              <h2>Why Choose</h2>
            </div>

            <div class="content__page-full-desc">
              <div class="content__page-desc-phot">
                <img
                  src="/commercial-dryer/commercial-dryer-1.webp"
                  loading="lazy"
                  width="450px"
                  height="450px"
                  alt="Commercial Washing Machine Repair"
                />
              </div>

            <div class="content__page-hed-desc"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

          </div>
          <Btn />
        </div>

   <!--types-->         
        <div class="page213-content" id="types">
          <div class="content__page-full-hed">
            <div class="content__page-hed-h">
              <h2>Types</h2>
            </div>
            <div class="content__page-hed-desc"></div>
          </div>

          <div class="content__page-full-desc content__page-full-desc-ph-ri">
            <div class="content__page-desc-phot">
              <img
                src="/commercial-dryer/commercial-dryer-2.webp"
                width="450px"
                height="450px"
                alt="Commercial Washing Machine Repair"
                loading="lazy"
              />
            </div>

            <div class="content__page-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <Btn />
        </div>
   
  <!--problems-->        
  <div class="page213-content" id="problems">
    <div class="content__page-full-hed">
      <div class="content__page-hed-h">
        <h2>Problems</h2>
      </div>
      <div class="content__page-hed-desc"></div>
    </div>

    <div class="content__page-full-desc content__page-full-desc-ph-ri">
      <div class="content__page-desc-phot">
        <img
          src="/commercial-dryer/commercial-dryer-2.webp"
          width="450px"
          height="450px"
          alt="Commercial Washing Machine Repair"
          loading="lazy"
        />
      </div>

      <div class="content__page-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <Btn />
  </div>                  

<!--signs--> 
<div class="page213-content" id="signs">
  <div class="content__page-full-hed">
    <div class="content__page-hed-h">
      <h2>Signs</h2>
    </div>
    <div class="content__page-hed-desc"></div>
  </div>

    <div class="content__page-desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
      <Btn/>
    </div> 

    <!--Industries--> 
<div class="page213-content" id="industries">
    <div class="content__page-full-hed">
      <div class="content__page-hed-h">
        <h2>Industries</h2>
      </div>
      <div class="content__page-hed-desc"></div>
    </div>
  
      <div class="content__page-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
        <Btn/>
      </div> 

   <!--maintenance--> 
<div class="page213-content" id="maintenance">
  <div class="content__page-full-hed">
    <div class="content__page-hed-h">
      <h2>Maintenance</h2>
    </div>
    <div class="content__page-hed-desc"></div>
  </div>

    <div class="content__page-desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
      <Btn/>
    </div> 

       <!--repair-replace--> 
<div class="page213-content" id="repair-replace">
  <div class="content__page-full-hed">
    <div class="content__page-hed-h">
      <h2>Repair Or Replace</h2>
    </div>
    <div class="content__page-hed-desc"></div>
  </div>

    <div class="content__page-desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
      <Btn/>
    </div> 
    
    <!--expert-services--> 
    <div class="page213-content" id="expert-services">
      <div class="content__page-full-hed">
        <div class="content__page-hed-h">
          <h2>expert-services</h2>
        </div>
        <div class="content__page-hed-desc"></div>
      </div>
    
        <div class="content__page-desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
          <Btn/>
        </div> 

<!--Brands-->
        <div class="page213-content" id="brands">
          <div class="content__page-full-hed">
            <div class="content__page-hed-h">
              <h2>Brands</h2>
            </div>
            <div class="content__page-hed-desc">
              <p>
                We repair all major brands of commercial washers and other major appliances.
              </p>
            </div>
          </div>
          <div class="content__page-full-logo-brand">
            <div class="ph-logo-brand">
              <div class="logo-brand logo-bran-ph-1">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/speed-queen.webp"
                    alt="Speed Queen"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-2">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/maytag.webp"
                    alt="Maytag"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-3">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/whirlpool.webp"
                    alt="Whirlpool"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-4">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/electrolux.webp"
                    alt="Electrolux"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-5">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/lg.webp"
                    alt="LG"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-6">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/samsung.webp"
                    alt="Samsung"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-7">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/huebsch.webp"
                    alt="Huebsch"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-8">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/dexter.webp"
                    alt="Dexter"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-9">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/milnor.webp"
                    alt="Milnor"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-10">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/continental-girbau.webp"
                    alt="Continental Girbau"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-11">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/unimac.webp"
                    alt="Unimac"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-12">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/wascomat.webp"
                    alt="Wascomat"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-13">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/american-dryer-corporation.webp"
                    alt="American Dryer Corporation"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-14">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/ipso.webp"
                    alt="Ipso"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-15">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/primus.webp"
                    alt="Primus"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-16">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/miele.webp"
                    alt="JMiele"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-17">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/fagor.webp"
                    alt="Fagor"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-18">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/alliance-laundry-systems.webp"
                    alt="Alliance Laundry Systems"
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-19">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/girbau-north-america.webp"
                    alt="Girbau North America "
                    loading="lazy"
                  />
                </a>
              </div>

              <div class="logo-brand logo-bran-ph-20">
                <a href="#">
                  <img
                    width="150px"
                    height="150px"
                    src="/brand-logos/pellerin-milnor-corporation.webp"
                    alt="Pellerin Milnor Corporation"
                    loading="lazy"
                  />
                </a>
              </div>
            </div>

            <div class="full-desc-logo-brand">
              <p>Brands of Commercial Washing Machine we repair</p>

              <div class="desc-logo-brand logo-bran-d-1">
                <h3><a href="#">Speed Queen</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-2">
                <h3><a href="#">Maytag</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-3">
                <h3><a href="#">Whirlpool</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-4">
                <h3><a href="#">Electrolux</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-5">
                <h3><a href="#">LG electronics</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-6">
                <h3><a href="#">Samsung</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-7">
                <h3><a href="#">Huebsch</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-8">
                <h3><a href="#">Dexter</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-9">
                <h3><a href="#">Milnor</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-10">
                <h3><a href="#">Continental Girbau</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-11">
                <h3><a href="#">Unimac</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-12">
                <h3><a href="#">Wascomat</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-13">
                <h3><a href="#">American Dryer Corporation</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-14">
                <h3><a href="#">Ipso</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-15">
                <h3><a href="#">Primus</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-16">
                <h3><a href="#">Miele</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-17">
                <h3><a href="#">Fagor</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-18">
                <h3><a href="#">Alliance Laundry Systems</a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-19">
                <h3><a href="#">Girbau North America </a></h3>
              </div>

              <div class="desc-logo-brand logo-bran-d-20">
                <h3><a href="#">Pellerin Milnor Corporation</a></h3>
              </div>
            </div>
          </div>

          <Btn />
        </div>

<!--End Brand-->
<!--Areas-->
        <div class="page213-content" id="areas">
          <div class="content__page-full-hed">
            <div class="content__page-hed-h">
              <h2>
                Areas
              </h2>
            </div>
            <div class="content__page-hed-desc"></div>
          </div>

            <div class="content__page-desc">
             <p>Areas</p>
             <Areas />
            </div>
          <Btn />
        </div>

      <!--FAQs-->

        <div class="page213-content" id="faqs">


          <div class="content__page-full-hed">
            <div class="content__page-hed-h">
              <h2>FAQs</h2>
            </div>
          </div>

          <div class="content__page-full-desc">
            <div class="content__page-desc">
              <div class="faq-full" id="faqs-anchor">
            
                <div class="FAQ">
                  <div class="fa">
                    <h3>Question</h3>
                  </div>
                  <div class="fa_plus">︾</div>
                  <div class="fa_minus">︽</div>
                </div>
                <div class="questions">
                 Answer
                </div>


              </div>
            

                <div class="FAQ_bottom"></div>
              </div>
            </div>
          </div>
          <Btn />
        </div>
      </div>
    </div>
  </Container>
 
<Cta />

<Arrow />
<Focus />
<Faqs />
<LogoBrands />
