/* .reviews {
    width: 100%;
    background-color: #000;
}

.reviews-header p {
    color: #fff;
    padding: 15px 10px 15px 10px;
    align-items: center;
    display: flex;
    margin: 0 !important;
    font-size:  17px;
}

.reviews-header {
    cursor: pointer;
    margin-top: -3px;
}

.reviews-content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.reviews-header a {
    color: #fff;
    transition: .25s;
    height: 100%;
    align-content: center;
}

.reviews-header:hover a {
    color: #ca0913 !important;
}





.header-licenses-foto {
    display: flex;
    padding: 0 10px 0 0;
}

.header-licenses-foto a {
    display: flex;
}

.header-licenses-foto img {
    padding: 0 3px;
    margin: 13px 0px;
}





@media (max-width:768px) {

    .reviews-content {
        display: grid;
    }

    .header-licenses-foto img {
        margin: 10px 3px;
    }

    .reviews-header p {
        padding: 10px 10px 5px 10px;
    }
} */