*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


.full-button-global {
  max-width: 360px;
  display: flex;
  margin: 15px 0px;
}







.button-top-global {
  display: inline-block;
  width: 50px;
  margin: 0 10px 0 0;
  background-color: #090909;
  border-radius: 7px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button-top-global:hover {
  margin: 0 10px 0 0;
  background-color: #000000;
}

.button-top-global a {
  display: grid;
  color: #fff;
  text-align: center;
}

.button-top-global svg {
  margin: -1px 3px 0px 3px;
}

.button-top-global p {
  line-height: 20px;
  margin: -5px 0 3px 0;
}











.button-book-global {
  display: inline-block;
  align-self: center;
  margin: 0 10px 0 0;
  width: 150px;
}

.button-book-global button {
  font-weight: 600;
  height: 53px;
  line-height: 1.14;
  padding: 12px 24px;
  box-shadow: none;
  border-radius: 100px;
  color: #fff;
  background-color: #ca0913;
  text-transform: uppercase;
  position: relative;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  text-indent: 0px;
  text-shadow: none;
  font-weight: normal;
  align-items: center;
  overflow: auto;
  max-width: 140px;
  justify-self: center;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button-book-global:hover button {
  background-color: black;
  transition: 0.25s;
}



.button-call-global {
  /* display: inline-block; */
  display: grid;
  width: 180px;
  background-color: #ca0913;
  box-shadow: inset 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 7px;
  align-self: center;
  font-weight:;
}

.button-call-global a {
  padding: 10px 8px;
  width: 180px !important;
  align-self: center;
  color: #fff;
  margin: 0 !important;
}

.button-call-global:hover {
  background-color: black;
  transition: 0.25s;
}







@media (max-width:390px) {
  .full-button-global {
    display: inline-block;
  }

  .button-call-global {
    margin-top: 10px;
  }

}