*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}




.full-contact-button-global {
  max-width: 345px;
  display: inline-flex;
  margin: 15px 0px;
}

.contact-button-book-global {
  align-self: center;
  margin: 0 10px 0 0;
  max-width: 145px;
  height: 53px;
}

.contact-button-book-global button {
  font-weight: 700 !important;
  height: 100%;
  line-height: 1.14;
  padding: 7px 24px;
  box-shadow: none;
  border-radius: 7px;
  color: #fff;
  background-color: #ca0913;
  text-transform: uppercase;
  position: relative;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  text-indent: 0px;
  text-shadow: none;
  align-items: center;
  overflow: auto;
  max-width: 145px;
  justify-self: center;
  white-space: nowrap;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  text-shadow: 1.2px 1.2px 2px black;
}

.contact-button-book-global:hover button {
  background-color: black;
  transition: 0.25s;
}


.contact-button-call-global {
  display: grid;
  max-width: 180px;
  height: 53px;
  background-color: #ca0913;
  box-shadow: inset 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 7px;
  align-self: center;
  justify-self: center;
}

.contact-button-call-global a {
  padding: 13px 24px;
  width: auto;
  height: auto;
  display: grid;
  align-self: center;
  justify-self: center;
  color: #fff;
  margin: 0 !important;
  font-weight: 700;
  transform: scale(1, 1.1);
  white-space: nowrap;
  text-shadow: 1.2px 1.2px 2px black
}

.contact-button-call-global:hover {
  background-color: black;
  transition: 0.25s;
}







@media (max-width:768px) {

  .contact-button-top-global {
    margin: 0 8px 0 0;
  }

  .contact-button-book-global {
    margin: 0 8px 0 0;
  }


  .contact-button-book-global button {
    padding: 7px 8px;
    font-size: 14px;
  }

  .contact-button-call-global a {
    padding: 14px 6px;
    font-size: 15px;
  }


}









