*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

body {
    /* max-width: 1920px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    margin-top: 126px;
}

.max-w-screen-xl {
    width: 100%;
    max-width: 100%;
    /* background-color: #000; */
    /* padding: 0; */

}

.inside-reviews_header-full {
    max-width: 1920px;
    width: 100%;
    transform: translate(-50%, 0%);
    left: 50%;
    position: relative;
    background-color: #000;
}

.header-full {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 2000;
}

@media (min-width: 900px) {
    .inside-reviews_header-full {
        /* overflow-y: scroll;
        height: 100% !important; */
    }

}


.inside_header-full {
    display: flex;
    justify-content: space-between;
}




.relative span,
.py-2 span {
    color: #fff;
}

.py-2:hover span {
    color: rgb(169 170 171);
}

.lg\:bg-white {
    background-color: rgb(0 0 0);
}

.w-3 {
    color: #fff;
}

.text-slate-800 {
    color: #f2f4f7;
}

.gap-1:hover span {
    color: rgb(169 170 171);
}

.gap-4 {
    color: #fff;
    justify-content: space-between;
}

.gap-4 a {
    background-color: #ca0913;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    color: #fff;
    transition: 0.25s;
    text-shadow: 1.2px 1.2px 2px black
}

.gap-4 a:hover {
    color: rgb(0, 0, 0);
}

.header-bootun {
    display: flex;
    align-self: center;
    margin: 0 6px;
    grid-gap: 0.5em
}

.hover\:bg-gray-200 {
    font-weight: 700 !important;
    transition: 0.25s;
}

.hover\:bg-gray-200:hover {
    background-color: #ca0913;
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}

.text-gray-800 {
    color: #fff;
}

.text-gray-600 {
    color: rgb(254 254 255);
}

.hover\:text-gray-900:hover {
    color: rgb(169 170 171);
}

button.hcp-button {
    background-color: #ca0913 !important;
}

button.hcp-button:hover {
    background-color: #ca0913 !important;
}

button.hcp-button {
    overflow-x: hidden !important;
    max-width: 148px;
    width: 100%;
    font-weight: 700 !important;
    line-height: 1.14;
    padding: 10px 24px !important;
    box-shadow: none;
    border-radius: 7px !important;
    color: #fff;
    /* background-color: #0f77cc; */
    text-transform: uppercase;
    position: relative;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    text-decoration: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    text-indent: 0px;
    text-shadow: none;
    align-items: center;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    overflow-x: hidden !important;
    justify-content: center;
    text-shadow: 1.2px 1.2px 2px black !important;
    transition: 0.25s !important;
    white-space: nowrap !important;
}

button.hcp-button:hover {
    color: #000;
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}

.call-header {
    width: 214px;
    height: 100%;
    /* display: block; */
    display: contents;
    border-radius: 7px;
    transition: 0.25s !important;
}

.call-header a:hover {
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}

.call-header a {
    width: 100%;
    display: grid;
    padding: 10px 4px;
    white-space: nowrap;
    font-weight: 700 !important;
    border-radius: 7px !important;
    color: #fff;
    text-shadow: 1.2px 1.2px 2px black !important;
    align-self: center;
}







.lg\:gap-3 {
    gap: 0.20rem;
    align-self: center;
}

.header-licenses-foto {
    display: none;
}

.header-licenses-foto img {
    margin: 3px 5px;
}

.logo-header img {
    max-width: 244px;
    transition: 0.25s;
}

.w-full {
    width: auto;
    grid-gap: 0.4em;
}

#astronav-menu svg {
    width: 34px;
    height: 34px;
}

.header-menu-content li {
    align-content: center;
}

.astronav-dropdown svg {
    width: 100%;
    min-width: 15px;
    max-width: 15px;
}

.w-3 {
    width: 15px;
    height: 20px;
}

.header-bootun-1024 {
    display: none;
}

.call-header-1024 a {
    color: #fff;
    background-color: #ca0913;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    white-space: nowrap;
    color: #fff;
    transition: 0.25s;
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 700 !important;
    text-shadow: 1.2px 1.2px 2px black !important;
}

.header-bootun-1024:hover a {
    color: #000;
    box-shadow: inset 0px 4px 6px 1px rgb(0 0 0 / 25%), 0px 6px 7px 0px rgb(0 0 0 / 11%), 0px 3px 11px 4px rgb(0 0 0 / 25%) !important;
}










@media (max-width:1440px) {
    .header-bootun {
        display: grid;
    }


}




@media (max-width:1180px) {
    body {
        margin-top: 112px;
    }


    .logo-header img {
        max-width: 214px;
    }

    .w-full {
        grid-gap: 0.2em;
    }

    .call-header a {
        font-size: 14px;
    }

    button.hcp-button {
        padding: 10px 10px !important;
        font-size: 15px;
    }

}


@media (max-width:1024px) {

    .block {
        display: flex;
    }

    .header-bootun-1024 {
        display: flex;
        align-self: center;
    }


    .mt-3 {
        margin: 10px 0;
    }

    body {
        margin-top: 84px;
    }

    .logo-header img {
        max-width: 150px;
    }

    button.hcp-button {
        margin: 0 !important;
    }



}


@media (max-width:1023px) {
    .inside_header-full {
        display: block;
    }
}



@media (max-width:400px) {
    .call-header-1024 a {
        width: 100%;
        max-width: 300px;
        white-space: wrap;
        padding: 2% 2%;
        font-size: 16px;
        justify-self: center;
        display: grid;

    }
}
















@media (max-width:400px) {
    .hover\:bg-gray-200 {
        padding: 9px 4px !important;
        width: 216px !important;
    }

    .gap-4 {
        gap: 0.6rem;
    }

    .gap-4 button {
        max-width: 75px !important;
        padding: 12px 17px !important;
        justify-content: center !important;
    }

}