*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


.common-communication-buttons {
  max-width: 400px;
  width: 100%;
  /* margin: auto auto; */
  padding: 5px;
}





button.hcp-button {
  font-weight: 600;
  line-height: 1.14;
  padding: 12px 24px;
  box-shadow: none;
  border-radius: 100px;
  color: #fff;
  background-color: #0f77cc;
  text-transform: uppercase;
  position: relative;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  text-decoration: none;
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  text-indent: 0px;
  text-shadow: none;
  font-weight: normal;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: auto;
  max-width: 140px;
  justify-self: center;
}


.number-digit {
  text-align: center;
  max-width: 185px;
  width: 100%;
  background-color: #0f77cc;
  border-radius: 5px;
  display: inline-grid;
  cursor: pointer;
  transition: 250ms;

  /* border: solid 1px #000; */
}

.number-digit:hover {
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.number-digit a {
  max-width: 185px;
  width: 100%;
  height: 100%;
  color: #fff;
  display: grid;
  justify-self: center;
  padding: 8px 8px;
}

@media (max-width:768px) {
  .number-digit {
    display: none;
  }
}