:root {
    --table-color: rgb(231 231 231 / 58%);
    --text-shadown-b-h3: 0.6px 0.6px 1px #8f9499;
}


h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

b {
    font-weight: 600;
    color: #1f1f1f;
    margin-bottom: 5px;
    font-size: clamp(16px, 3vw, 18px);
}


.max-w-screen-xl {
    max-width: 100%;
    padding: 0;
}
/* 
h1 {
    text-shadow: 2.3px 2.3px 3.7px rgb(21 21 21);
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fff 0%,
            #000 15%,
            #111112 67%,
            #858384 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: clamp(35px, 7vw, 60px);
    line-height: clamp(56px, 8vh, 60px);
    font-weight: 900;
}


h2 {
    margin: 0;
    text-align: center;
    font-size: clamp(24px, 5vw, 28px) !important;
    text-shadow: 1px 1px 1.3px #8f9499;
}


main {
    display: grid;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.page-header {
    position: relative;
    display: grid;
    justify-self: center;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 42%, rgba(255, 255, 255, 0.7478641114648985) 63%, rgba(255, 255, 255, 0) 100%);
}

.page-header-d-full {
    width: 100%;
    max-width: 1920px;
    justify-self: center;
    height: 100%;
    padding: 2% 3% 1% 3%;
}


.page-header-d {
    left: 0;
    width: 80%;
    position: relative;
    align-self: center;
}

@media (min-width:1440px) {
    .page-header-d {
        width: 50%;
    }

    .page-header-d-full {
        padding: 3% 3% 3% 3%;
    }

}






.page-header-f {
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: 40%;
}

.page-header-f-rel {
    position: relative;
    display: grid;
}

.page-header-f-gradient {
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 53%, rgba(255, 255, 255, 0.8991246156665791) 68%, rgba(255, 255, 255, 0) 89%);
    margin-top: -15%;
    height: 33vh;
    width: 100vw;
}

.page-header-f img {
    max-width: 65%;
}


.page-header-p-full {
    max-width: 1920px;
    justify-self: center;
    padding: 0 3% 3% 3%;
    width: 100%;
    text-align: left;
}

.page-header-p {
    text-align: left;
    width: 100%;
}

.page-header-p p {
    color: #262626;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 18px);
    max-width: 70%;
}


.page-header-p p:nth-child(2) {
    margin-top: 10px;
}


@media (max-width:1220px) {

    .page-header-p p:nth-child(2) {
        max-width: 100%;
    }

    .oven-page-header-p-full .page-header-p p:nth-child(2) {
        max-width: 70%;
    }

}

 */




















.page213 {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    margin: 0 auto;
    margin-top: 15px;
}



.full-form-1 {
    margin: 0 auto;
    padding: 0% 2% 3% 2%;
}




/* левое меню  навигации*/

.full_left_menu_r::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #ffffff00;
}


.full_left_menu_r {
    grid-column: 1/2;
    position: -webkit-sticky;
    position: sticky;
    top: 140px;
    height: 78vh;
    min-width: 215px;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-radius: 5px;
}


.list_left {
    background-color: rgb(237, 237, 237);
    border-bottom: 1.5px solid #ca09134d;
    transition: 0.25s;
}

.list_left:hover {
    background-color: rgb(215, 215, 215);
}


.list_left a {
    display: grid;
    text-align: left;
    justify-self: left;
}

#list_left-line {
    border-bottom: none;
}


.list_left h2 {
    color: #3f3f3fff;
    padding: 2px 7px;
    padding-right: 3px;
    align-self: center;
    justify-self: left;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    margin: 1% 0% 1% 0%;
    font-size: clamp(16px, 5vw, 18px) !important;
    text-shadow: 0.7px 0.7px 1px black !important;
    transition: color 0.3s ease-in-out;
}

.list_left:hover h2 {
    color: #000;
}




.full_cart-scrol.list_left {
    background-color: rgb(196, 196, 196);
}

.full_cart-scrol.list_left h2 {
    color: #000000;
}

.full_cart-scrol:hover.list_left {
    background-color: rgb(170, 170, 170);
}






.list_im {
    max-width: 80px;
    margin-left: 10px;
}

.list_im img {
    width: 100%;
    overflow: hidden;
}





.open-full_left {
    position: fixed;
    z-index: 11;
    top: 140px;
    left: -40px;
    width: 40px;
    background-color: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #ca0913;
    opacity: 0.9;
    cursor: pointer;
}


.open-full_left svg {
    width: 100%;
}

.open-full_left #arrow-left-menu {
    stroke: #ca0913;
    transition: 0.4s;
}



@media (max-width:1024px) {
    .full_left_menu_r {
        top: 100px;
    }

}

@media (max-width:767px) {
    .open-full_left {
        top: 95px;
        left: -1px;
        transition: all 0.5s;
    }

    .open-full_left.menu-LeftOpen {
        left: 244px;
        transition: 0.5s;
    }

    #arrow-left-menu.menu-LeftOpen {
        transform: rotate(180deg) translateY(-24px) translateX(-24px);
        transition: 0.5s;
    }


    .full_left_menu_r {
        position: fixed;
        z-index: 10;
        height: 100%;
        top: 65px;
        max-width: 250px;
        min-width: 250px;
        overflow-y: auto;
        scroll-behavior: smooth;
        left: -255px;
        transition: 0.5s;
    }

    .full_left_menu_r.menu-LeftOpen {
        left: 0;
    }
}


@media (max-height:520px) {
    .full_left_menu_r {
        top: 65px;
        height: 100%;
        max-height: 13.5%;
    }
}

@media (max-height:319px),
(max-width:767px) {
    .full_left_menu_r {
        top: 94px;
        height: 100%;
        max-height: 78%;
    }
}

/* левое меню  навигации*/











.page213-container {
    grid-column: 2 / 8;
    position: relative;
    margin: 0 2% 0 2%;
}


.page213-container p {
    margin-bottom: 10px;
    color: #262626;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 18px);
}

.page213-container li {
    margin-bottom: 10px;
    color: #262626;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 18px);
}
.page213-content:nth-child(1) {
    margin: 0 0;
}

.page213-content {
    margin: 4% 0;
    width: 100%;
}

#left-menu-1::before,
#left-menu-2::before,
#left-menu-3::before,
#left-menu-4::before,
#left-menu-5::before,
#left-menu-6::before,
#left-menu-7::before,
#left-menu-8::before,
#left-menu-9::before,
#left-menu-10::before,
#left-menu-11::before,
#left-menu-12::before,
#left-menu-13::before,
#left-menu-14::before,
#left-menu-15::before,
#left-menu-16::before {
    content: '';
    display: block;
    height: 130px;
    margin-top: -130px;
    z-index: -5;
    position: relative;
}

.content__page-full-hed {
    margin-bottom: 20px;
    padding: 0 2%;
}

.content__page-hed-h {
    text-align: center;
}

.content__page-hed-desc {
    text-align: center;
}

.content__page-hed-desc p {
    margin: 0;
    color: #000;
}

.content__page-desc {}

.column3-content__page-desc ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column2-content__page-desc ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column3-content__page-desc ul ul,
.column2-content__page-desc ul ul {
    display: inline-block;
}

.column3-content__page-desc ul li {
    display: grid;
}



.content__page-desc li {
    max-width: 100%;
    align-items: center;
    position: relative;
}



.content__page-desc li::before {
    content: '•';
    font-size: 30px;
    color: #ca0913;
    position: absolute;
    left: 0px;
    top: -9px;
    border-radius: 20%;
    transition: 0.3s ease-in-out;
}

.content__page-desc li:last-child:after {
    content: none;
}

.content__page-desc ol {
    counter-reset: item;
    margin-top: 10px;
}

.content__page-desc ol>li {
    counter-increment: item;
    margin-bottom: 15px;
    padding-left: 35px;
    position: relative;
    font-size: clamp(16px, 3vw, 18px);
}

.content__page-desc ol>li::before {
    content: counter(item) "";
    position: absolute;
    left: -4px;
    top: -5px;
    font-size: 30px;
    color: red;
    line-height: 38px;
    filter: drop-shadow(1.5px 1.5px 0.5px #000);
}

.content__page-desc ol>li:nth-child(-n+9)::before {
    left: 2px;
}

.content__page-desc ol li:hover:before {
    background: rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2);
}


.content__page-desc ol li:after {
    position: absolute;
    border-left: 2px dotted #4F5151;
    width: 2px;
    bottom: 6px;
    content: "";
    left: 12px;
    top: 40px;
}

.content__page-desc ol>li:nth-child(-n+9)::after {
    left: 10px;
}

.content__page-desc ul {
    padding-left: 0;
}

.content__page-desc ul li {
    position: relative;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 30px;
    list-style: none;
    font-size: clamp(16px, 3vw, 18px);
}

.content__page-desc ul li::before {
    content: '•';
    font-size: 30px;
    color: #ca0913;
    filter: drop-shadow(0px 0px 0.9px #000);
    position: absolute;
    left: 10px;
    top: -11px;
}

.content__page-desc ul ul li::before {
    font-size: 24px;
    top: -5px;
}

.content__page-desc ol>li::before {
    content: counter(item) "";
}

.content__page-desc ul ol>li:nth-child(-n+9)::before {
    left: 7px;
    top: -7px;
    filter: drop-shadow(1px 1px 0.7px #000);
}

.content__page-desc ul ol li::before {
    font-size: 20px;
    left: 0px;
    top: -7px;
    filter: drop-shadow(1px 1px 0.7px #000);
}



.content__page-desc ul li:hover:before {
    box-shadow: none;
    background: none;
}

.content__page-desc ul li::after {
    display: none;
}



















.content__page-full-desc-ph-ri .content__page-desc-phot {
    float: right;
    margin: 10px 0px 10px 15px;
}

.content__page-desc-phot {
    float: left;
    margin: 10px 15px 10px 0px;
    width: 100%;
    max-width: 450px;
}

.content__page-desc-phot img {
    max-width: 100%;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 / 20%), 3px 2px 3px 0px rgb(0 0 0 / 14%), 3px 3px 14px 0px rgb(0 0 0 / 12%);
    border-radius: 10px;
    margin: 0 auto;
}

.content__page-desc h3 {
    font-weight: 600;
    text-shadow: var(--text-shadown-b-h3);
    font-size: clamp(18px, 4vw, 22px) !important;
}






.table-content__page-desc b {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 22px;
    margin-top: 15px;
}

.costTable {
    max-width: 700px;
    width: 100%;
    margin: 10px auto;
}

.costTable tr:nth-child(1) {
    font-size: 22px;
    font-weight: 600;
    color: #181818;
    background-color: rgb(231 231 231 / 58%);
    border-radius: 3px;
}

.costTable tr:nth-child(1) td {
    font-weight: 600;
}


.costTable tr {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #262626;
    border-bottom: solid 1px #c9c9c9;
}

.costTable tr:last-child {
    border-bottom: none;
}

.costTable td {
    padding: 3px 5px;
}

.costTable td:nth-child(2) {
    font-weight: 600;
}

.costTable-Factor td:nth-child(2) {
    font-weight: 400;
}





















.content__page-full-logo-brand {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
}

.ph-logo-brand {
    display: grid;
    grid-gap: 1.3em;
    padding: 10px 12px 10px 12px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    overflow: hidden;
}

.logo-brand {
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    justify-self: center;
    align-self: center;
    padding: 13px;
    margin: 5px;
    display: grid;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 11px 3px #87878738;
    transition: all 0.3s ease-out;
}

.logo-brand:hover {
    box-shadow: 0px 0px 17px 6px #87878738;
    border-radius: 25%;
}

.logo-bran-ph-1:hover {
    box-shadow: 0px 0px 17px 6px #87878738;
    border-radius: 25%;
}

.logo-brand a {
    max-width: 100%;
    justify-self: center;
    align-self: center;
}

.logo-brand img {
    max-width: 100%;
    justify-self: center;
    align-self: center;
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
}

.logo-brand:hover img {
    transform: scale(1.1, 1.1);
}

.full-desc-logo-brand {
    display: grid;
}

.full-desc-logo-brand p {
    text-align: center;
    font-size: clamp(18px, 4vw, 22px);
    font-weight: 700;
    text-shadow: var(--text-shadown-b-h3);
}


.desc-logo-brand {
    width: 100%;
    padding: 5px 5px;
    justify-self: center;
    align-self: center;
    position: relative;
}


.desc-logo-brand {
    position: relative;
    margin-bottom: 3px;
}

.desc-logo-brand h3 {
    font-weight: 500;
    text-shadow: var(--text-shadown-b-h3);
    font-size: clamp(16px, 4vw, 20px) !important;
    position: relative;
}

.desc-logo-brand a {
    color: #000;
    position: relative;
}

.desc-logo-brand a::before {
    background-color: #ca0913;
    display: block;
    content: '';
    bottom: 0;
    height: 3px;
    border-radius: 2px;
    width: 0%;
    position: absolute;
    transition: 0.3s ease-out;
}

.desc-logo-brand a:hover::before {
    width: 100%;
}









/* скрипт иконок с брэндами */

.logo-brand img.hovered {
    transform: scale(1.1);
}

.logo-bran-ph-1.hovered,
.logo-bran-ph-2.hovered,
.logo-bran-ph-3.hovered,
.logo-bran-ph-4.hovered,
.logo-bran-ph-5.hovered,
.logo-bran-ph-6.hovered,
.logo-bran-ph-7.hovered,
.logo-bran-ph-8.hovered,
.logo-bran-ph-9.hovered,
.logo-bran-ph-10.hovered,
.logo-bran-ph-11.hovered,
.logo-bran-ph-12.hovered,
.logo-bran-ph-13.hovered,
.logo-bran-ph-14.hovered,
.logo-bran-ph-15.hovered,
.logo-bran-ph-16.hovered,
.logo-bran-ph-17.hovered,
.logo-bran-ph-18.hovered,
.logo-bran-ph-19.hovered,
.logo-bran-ph-20.hovered,
.logo-bran-ph-21.hovered,
.logo-bran-ph-22.hovered,
.logo-bran-ph-23.hovered,
.logo-bran-ph-24.hovered,
.logo-bran-ph-25.hovered,
.logo-bran-ph-26.hovered,
.logo-bran-ph-27.hovered,
.logo-bran-ph-28.hovered,
.logo-bran-ph-29.hovered,
.logo-bran-ph-30.hovered {
    box-shadow: 0px 0px 17px 6px #87878738;
    border-radius: 25%;
}

.logo-bran-d-1 a,
.logo-bran-d-2 a,
.logo-bran-d-3 a,
.logo-bran-d-4 a,
.logo-bran-d-5 a,
.logo-bran-d-6 a,
.logo-bran-d-7 a,
.logo-bran-d-8 a,
.logo-bran-d-9 a,
.logo-bran-d-10 a,
.logo-bran-d-11 a,
.logo-bran-d-12 a,
.logo-bran-d-13 a,
.logo-bran-d-14 a,
.logo-bran-d-15 a,
.logo-bran-d-16 a,
.logo-bran-d-17 a,
.logo-bran-d-18 a,
.logo-bran-d-19 a,
.logo-bran-d-20 a,
.logo-bran-d-21 a,
.logo-bran-d-22 a,
.logo-bran-d-23 a,
.logo-bran-d-24 a,
.logo-bran-d-25 a,
.logo-bran-d-26 a,
.logo-bran-d-27 a,
.logo-bran-d-28 a,
.logo-bran-d-29 a,
.logo-bran-d-30 a {
    position: relative;
    display: inline-block;
}

.logo-bran-d-1 a::before,
.logo-bran-d-2 a::before,
.logo-bran-d-3 a::before,
.logo-bran-d-4 a::before,
.logo-bran-d-5 a::before,
.logo-bran-d-6 a::before,
.logo-bran-d-7 a::before,
.logo-bran-d-8 a::before,
.logo-bran-d-9 a::before,
.logo-bran-d-10 a::before,
.logo-bran-d-11 a::before,
.logo-bran-d-12 a::before,
.logo-bran-d-13 a::before,
.logo-bran-d-14 a::before,
.logo-bran-d-15 a::before,
.logo-bran-d-16 a::before,
.logo-bran-d-17 a::before,
.logo-bran-d-18 a::before,
.logo-bran-d-19 a::before,
.logo-bran-d-20 a::before,
.logo-bran-d-21 a::before,
.logo-bran-d-22 a::before,
.logo-bran-d-23 a::before,
.logo-bran-d-24 a::before,
.logo-bran-d-25 a::before,
.logo-bran-d-26 a::before,
.logo-bran-d-27 a::before,
.logo-bran-d-28 a::before,
.logo-bran-d-29 a::before,
.logo-bran-d-30 a::before {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background: #ca0913;
    border-radius: 2px;
    transition: width 0.3s;
    margin-top: 15px;
}

.logo-bran-d-1 a.hovered::before,
.logo-bran-d-2 a.hovered::before,
.logo-bran-d-3 a.hovered::before,
.logo-bran-d-4 a.hovered::before,
.logo-bran-d-5 a.hovered::before,
.logo-bran-d-6 a.hovered::before,
.logo-bran-d-7 a.hovered::before,
.logo-bran-d-8 a.hovered::before,
.logo-bran-d-9 a.hovered::before,
.logo-bran-d-10 a.hovered::before,
.logo-bran-d-11 a.hovered::before,
.logo-bran-d-12 a.hovered::before,
.logo-bran-d-13 a.hovered::before,
.logo-bran-d-14 a.hovered::before,
.logo-bran-d-15 a.hovered::before,
.logo-bran-d-16 a.hovered::before,
.logo-bran-d-17 a.hovered::before,
.logo-bran-d-18 a.hovered::before,
.logo-bran-d-19 a.hovered::before,
.logo-bran-d-20 a.hovered::before,
.logo-bran-d-21 a.hovered::before,
.logo-bran-d-22 a.hovered::before,
.logo-bran-d-23 a.hovered::before,
.logo-bran-d-24 a.hovered::before,
.logo-bran-d-25 a.hovered::before,
.logo-bran-d-26 a.hovered::before,
.logo-bran-d-27 a.hovered::before,
.logo-bran-d-28 a.hovered::before,
.logo-bran-d-29 a.hovered::before,
.logo-bran-d-30 a.hovered::before {
    width: 100%;
}

/* скрипт иконок с брэндами */
























.content_job-prices {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    border-radius: 5px;
    min-height: 113px;
}

.content_job-prices-h-m {
    min-height: auto;
}

#col-prices {
    background-color: var(--table-color);
}

.content_job-prices p {
    margin: 0;
    padding: 0% 1% 1% 0%;
}

.desk_job-prices {
    text-align: left;
    width: 90%;
    display: grid;
    align-self: center;
}

.desk_job-prices a {
    align-self: center;
}

.desk_job-prices a:hover {
    text-decoration: underline;
    color: #767676;
}

.money_job-prices {
    text-align: left;
    align-self: center;
    min-width: 166px;
}

.money_job-prices p {
    white-space: nowrap;
    width: 100%;
    font-size: clamp(18px, 5vw, 24px);
}

.desk_job-prices p:nth-child(1) {
    font-size: clamp(18px, 5vw, 24px);
    padding: 1% 1% 0% 0%;
}

.content_job-prices-h-m p:nth-child(1) {
    font-size: clamp(22px, 5vw, 24px);
    padding: 1% 1% 1% 0%;
}

.desk_job-prices p {
    font-size: clamp(16px, 4vw, 20px);
}

.pros_job-prices {
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    margin-top: 3%;
    border-radius: 5px;
    border: solid 2px #ff2a2a;
    background-color: rgb(231 231 231 / 58%);
}

.pros_job-prices p {
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 500;
    margin: 0;
}









.description_maintenance {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 0;
}

.description_maintenance h3 {
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: clamp(22px, 5vw, 24px) !important;
    text-shadow: var(--text-shadown-b-h3);
    text-align: center;
}

.description_maintenance b {
    text-shadow: var(--text-shadown-b-h3);
    color: #000;
}

.description_maintenance li {
    max-width: 100%;
    align-items: center;
    position: relative;
}

.description_maintenance li::before {
    content: '•';
    font-size: 30px;
    color: #ca0913;
    position: absolute;
    left: 0px;
    top: -9px;
    border-radius: 20%;
    transition: 0.3s ease-in-out;
}

.description_maintenance li:last-child:after {
    content: none;
}





.description_maintenance ol {
    counter-reset: item;
    margin-top: 10px;
}

.description_maintenance ol>li {
    counter-increment: item;
    margin-bottom: 15px;
    padding-left: 35px;
    position: relative;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 18px);
}

.description_maintenance ol>li::before {
    content: counter(item) "";
    position: absolute;
    left: 5px;
    top: -3px;
    font-weight: 700;
    font-size: 20px;
    color: red;
    filter: drop-shadow(1.5px 1.5px 0.5px #000);
}

.description_maintenance ol li:hover:before {
    background: rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2);
}


.description_maintenance ol li:after {
    position: absolute;
    border-left: 2px dotted #4F5151;
    width: 2px;
    bottom: 6px;
    content: "";
    left: 16px;
    top: 40px;
}

.description_maintenance ol>li:nth-child(-n+9)::after {
    left: 12px;
}

.description_maintenance ul {
    padding-left: 0;
}

.description_maintenance ul li {
    position: relative;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-left: 30px;
    font-weight: 500;
    list-style: none;
    font-size: clamp(16px, 3vw, 18px);
}

.description_maintenance ul li::before {
    content: '•';
    font-size: 30px;
    color: #ca0913;
    filter: drop-shadow(0px 0px 0.9px #000);
    position: absolute;
    left: 10px;
    top: -11px;
}

.description_maintenance ul li:hover:before {
    box-shadow: none;
    background: none;
}

.description_maintenance ul li::after {
    display: none;
}

.head_description_maintenance {
    display: flex;
    margin-bottom: 5px;
}

.head_description_maintenance svg {
    margin: 0 10px 0 0;
}

.head_description_maintenance p {
    align-self: center;
    text-shadow: var(--text-shadown-b-h3);
}

.conclusion-description_maintenance {
    margin-top: 2%;
}

.conclusion-description_maintenance:hover svg {
    fill: #ca0913;
    transition: 0.3s;
}

.conclusion-description_maintenance:hover .cls-1 {
    stroke: #ca0913;
    transition: 0.3s;
}

.conclusion-description_maintenance p {
    margin-left: 33px;
}

.head_description_maintenance p {
    margin: 0;
}









.pricing-policy {
    grid-template-rows: 1fr;
}


.pricing-policy {
    width: 100%;
    display: grid;
}


.content_pricing-policy {
    text-align: left;
    margin-bottom: 3%;
}

.con-inside_pricing-policy {
    display: flex;
}

.con-inside_pricing-policy p {
    margin: 0;
}

.icon_pricing-policy {
    margin: auto 0;
    left: 0;
    position: relative;
    display: grid;
    min-width: 130px;
    max-width: 131px;
}

.icon_pricing-policy svg {
    justify-self: center;
    filter: drop-shadow(1px 1px 1px #6c6c6c);
}

.icon_pricing-policy h3 {
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: clamp(18px, 4vw, 20px) !important;
    margin-top: 0;
    text-shadow: var(--text-shadown-b-h3);
}

.desc_pricing-policy {
    display: grid;
    padding-left: 2%;
}

.desc_pricing-policy p {
    align-self: center;
    font-size: clamp(16px, 4vw, 18px);
}

#cost-svg {
    stroke: #000;
    stroke-width: 5px;
    filter: drop-shadow(1px 1px 1px #6c6c6c);
}

.con-inside_pricing-policy:hover #cost-svg {
    fill: #ca0913;
    stroke: #ca0913;
    transition: 0.3s;
}

.con-inside_pricing-policy:hover svg {
    fill: #ca0913;
    transition: 0.3s;
}

.pros_pricing-policy {
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 5px;
    border: solid 2px #ff2a2a;
    background-color: rgb(231 231 231 / 58%);
}

.pros_pricing-policy p {
    font-size: clamp(16px, 4vw, 18px);
    margin: 0;
    font-weight: 500;

}

.pros_pricing-policy-indent {
    margin: 3% auto;

}














/* Часто задаваемые вопросы */

.FAQ {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-top: 1px solid #dedede;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
}

.FAQ.active .fa_minus {
    display: block;
}

.FAQ.active .fa_plus {
    display: none;
}

.FAQ:hover .fa h3 {
    color: #ca0913;
    transition: all 0.25s linear;
}

.FAQ_bottom {
    border-top: 1px solid #dedede;
}

.fa {
    width: 95%;
    margin-right: 10px;
}

.fa h3 {
    margin: 0;
    font-weight: 600;
    font-size: clamp(22px, 5vw, 24px) !important;
    text-shadow: var(--text-shadown-b-h3);
}

.fa_plus {
    display: inline-block;
    position: relative;
    padding-top: 5px;
    font-weight: 300;
}

.fa_minus {
    display: none;
    position: relative;
    padding-bottom: 5px;
    font-weight: 300;
}




.questions {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0% 2% 3px 2%;
}

.questions b {
    font-weight: 700;
    max-width: 100%;
    font-size: clamp(16px, 3vw, 20px);
}

.questions p {
    font-weight: 500;
    max-width: 100%;
    font-size: clamp(16px, 3vw, 18px);
}

.questions a {
    font-weight: 600;
    max-width: 100%;
    font-size: clamp(16px, 3vw, 18px);
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;

    text-decoration: underline;
    text-decoration-color: #ca0913;
    text-decoration-thickness: 2px;
}

.questions a:hover {
    text-decoration: none;
}


.questions img {
    max-width: 90%;
    height: auto;
    margin: 2% 1% 20px 1%;
}








.questions ul {
    padding-left: 0;
}

.questions ul li {
    position: relative;
    width: 100%;
    align-items: center;
    max-width: 100%;
    padding-left: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 500;
    list-style: none;
    font-size: clamp(16px, 3vw, 18px);
}

.questions ul li::before {
    content: '•';
    font-size: 30px;
    color: #ca0913;
    filter: drop-shadow(0px 0px 0.9px #000);
    position: absolute;
    left: 10px;
    top: -11px;
}

.questions ol {
    counter-reset: item;
}

.questions ol>li {
    counter-increment: item;
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 18px);
}

.questions ol>li:nth-child(-n+9)::before {
    left: 6px;
}

.questions ul ol>li:nth-child(-n+9)::before {
    left: 6px;
    top: 0px;
    filter: drop-shadow(1px 1px 0.7px #000);
}

.questions ol>li::before {
    content: counter(item) "";
    position: absolute;
    left: 2px;
    top: -1px;
    font-weight: 700;
    font-size: 20px;
    color: red;
    filter: drop-shadow(1.5px 1.5px 0.5px #000);
    line-height: normal;
    border-radius: 20%;
}

.questions ol li:hover:before {
    background: none;
    box-shadow: none;
}



.questions ul ol li::before {
    font-size: 20px;
    top: -1px;
}

.questions li b {
    font-weight: 700;
    max-width: 100%;
    font-size: clamp(16px, 3vw, 18px);
}

.questions li li::before {
    font-size: 24px;
    left: 10px;
    top: -5px;
}

.questions ol>li:nth-child(-n+9)::after {
    left: 12px;
}


@media (max-width:768px) {

    .questions li:before {
        top: -12px;
    }

    .questions li li:before {
        font-size: 24px;
        left: 10px;
        top: -7px;
    }

    .questions ul ol>li:nth-child(-n+9)::before {
        top: -2px !important;
    }




}

/* Часто задаваемые вопросы */





















@media (max-width:1024px) {
/* 
    .page-header-p-full {
        padding: 0 3% 3% 3%;
    }

    .page-header-f {
        position: relative;
        width: auto;
        z-index: 2;
        margin-left: 0;
        justify-self: center;
        margin: 7px 5% 17px 5%;
    }

    .page-header-f img {
        justify-self: center;
        border-radius: 10px;
        box-shadow: 4px 4px 13px 0 rgba(0, 0, 0, 0.35);
    }

    .page-header-f-gradient {
        display: none;
    }

    .page-header-d-full {
        padding: 2% 2%;
    }

    .page-header-d {
        width: 100%;
    }


    .page-header-p p {
        max-width: 100%;
    }

    .oven-page-header-p-full .page-header-p p:nth-child(2) {
        max-width: 100%;
    } */






    .content__page-full-desc {
        display: grid;
    }

    .column3-content__page-desc ul,
    .column2-content__page-desc ul {
        display: block;
    }

    .column3-content__page-desc ul ul,
    .column2-content__page-desc ul ul {
        display: block;
    }


    .content__page-desc-phot {
        float: none;
        margin: 5px 10px 15px 10px;
        justify-self: center;
    }

    .content__page-full-desc-ph-ri .content__page-desc-phot {
        float: none;
        margin: 5px 10px 15px 10px;
    }


    #left-menu-1::before,
    #left-menu-2::before,
    #left-menu-3::before,
    #left-menu-4::before,
    #left-menu-5::before,
    #left-menu-6::before,
    #left-menu-7::before,
    #left-menu-8::before,
    #left-menu-9::before,
    #left-menu-10::before,
    #left-menu-11::before,
    #left-menu-12::before,
    #left-menu-13::before,
    #left-menu-14::before,
    #left-menu-15::before,
    #left-menu-16::before {
        height: 95px;
        margin-top: -95px;
    }

    .content__page-full-logo-brand {
        grid-template-columns: 1fr;
    }







    .contactbtn-form {
        max-width: 341px;
        margin: 0 !important;
    }


    .contactbtn-form a {
        max-width: 215px !important;
        display: inline;
        margin-top: 10px;
    }


}




@media (max-width:768px) { 

    /* .page-header-f img {
        max-width: 100%;
    }

    .page-header-d-full {
        padding: 1% 0;
    }

    .page-header-d {
        left: 0;
        width: 96% !important;
        position: relative;
        display: grid;
        align-self: center;
        margin: 0 2% 0 2%;
        text-align: center;
    }

    .page-header-d h1 {
        margin-bottom: 0;
    }

    .animate-charcter {
        white-space: wrap;
    } */







    .page213 {
        margin-top: 0;
    }

    .ph-logo-brand {
        grid-gap: 1.2em;
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }

    .logo-brand {
        max-width: 110px;
        min-width: 110px;
        max-height: 110px;
        min-height: 110px;
        padding: 10px;
    }

    .desc-logo-brand {
        margin-bottom: 0;
    }





    .costTable tr {
        font-size: 18px;
    }

    .costTable tr:nth-child(1) {
        font-size: 19px;
    }


    .costTable-Factor tr {
        font-size: 13px;
    }

    .costTable-Factor tr:nth-child(1) {
        font-size: 16px;
    }







    .content_job-prices {
        padding: 3% 2%;
        min-height: auto;
    }

    .money_job-prices {
        text-align: right;
        min-width: auto;
        padding-right: 7px;
    }

    .money_job-prices p {
        white-space: wrap;
    }



    .con-inside_pricing-policy {
        display: grid;
    }

    .content_pricing-policy {
        margin-bottom: 10%;
    }

    .icon_pricing-policy {
        margin: auto auto;
        min-width: auto;
        margin-bottom: 2%;
    }

    .pros_pricing-policy {
        width: 100%;
    }

    .pros_job-prices {
        width: 100%;
    }






    .content__page-desc ul ol>li:nth-child(-n+9)::before {
        top: -8px;
    }

    .content__page-desc ul ul li::before {
        top: -7px;
    }


    .description_maintenance ol>li::before {
        top: -5px;
    }

}

/* Стиль для текста ссылок */
#areas-list ul a {
    color: #e11010; /* Черный цвет текста по умолчанию */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавный переход цвета */
}

/* Цвет текста при наведении */
#areas-list ul a:hover {
    color: #ca0913; /* Красный цвет текста при наведении */
}




