
.max-w-screen-xl {
    width: 100%;
    max-width: 1920px !important;
    padding: 0% 10% 0% 10%;
}







@media (max-width:768px) {

    .max-w-screen-xl {
        width: 100%;
        max-width: 1920px !important;
        padding: 0% 3% 0% 3%;
    }
}