---
import "components/css-components/style-components_cost-anchor.css";
---

<div class="faq-price-list">
  <p>
    <a class="anchor" href="#labor-cost-anchor">Labor Cost </a>
    |<a class="anchor" href="#parts-cost-anchor">Parts Cost </a>
    |<a class="anchor" href="#faqs-anchor">FAQs </a>
  </p>
</div>
