---
import "components/css-components/style-components_cost-anchor.css";

---




<div class="faq-price-list">

    <p>
        <a class="anchor" href="#labor-cost">Labor Cost </a>
        |<a class="anchor" href="#parts-cost">Parts Cost </a>
        |<a class="anchor" href="#faq">FAQs </a>
    </p>

</div>