---
import "components/css-components/style-components_cost-anchor.css";
---

<div class="faq-price-list">
  <p>
    <a class="anchor" href="#full-commercial-machinery-nocolor">Home Appliance Repair</a>
    |<a class="anchor" href="#parts-cost-anchor">Commercial Appliance Repair </a>
    |<a class="anchor" href="#faqs-anchor">FAQs</a>
  </p>
</div>
