---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Contactbtn from "@components/contactbtn.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";

---
<Layout title="Appliance REpair Price List">
<Container>
    <main>
        <h1><span class="animate-charcter">LG Dryer Repair Cost:</span> Affordable, Efficient, and Reliable</h1>
     
     <div class="two-col-grid"><div class="col-one"><img class="img-header" src="/images/lg-dryer-repair.webp" width="500" height="500" alt="LG DRyer Repair Cost">
     
     <Contactbtn />
     
     </div>
     
     <div class="col-two">
       
      </div></div>
  <p><a href="lg-dryer-repair-cost">Lg Dryer Repair Cost</a></p>
<Cta />
</Container>
</Layout>

