---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <!-- Unites -->
     <main>
      <main>
        <div class="category category-0" style="background-color:#ffffff;">
          <div class="container">
            <!--driving truck -->
            <div class="loop-wrapper">
                <div class="mountain"></div>
                <div class="hill"></div>
                <div class="tree"></div>
                <div class="tree"></div>
                <div class="tree"></div>
                <div class="rock"></div>
                <div class="truck"></div>
                <div class="wheels"></div>
              </div> 
              <!--End drivng truck -->
             <br>
              <h2>Same Day Household Appliance Repair, Installation, and Maintenance</h2>
             <br>
              <p>Our same day appliance repair experts will fix your appliance on the first visit in 90% of cases. Our trained technicians have parts on hand to ensure a quick repair.</p>
              <br>
              <div class="category-items d-flex justify-content-between">
               <span style='padding:0 20px 0 20px;' title='Same day refrigerator repair Los Angeles'>
<img width="120" height="150" src="../images/refrigerator-repair-los-angeles.webp" alt="Same day expert refrigerator repair - Los Angeles">
<p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Refrigerator Repair</p>
<a style="width:120px" title="Same day washer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
 <span style='padding:0 20px 0 20px;'>
<img width="120" height="150" src="../images/freezer-stove-repair-los-angeles.webp" alt="Same day expert freezer repair - Los Angeles">
<p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Freezer Repair</p>
<a style="width:120px" title='Same day freezer repair Los Angeles' href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
 <span style="padding:0 40px 0 20px;">
<img width="120" height="150" src="images/washer-repair-los-angeles.webp" alt="Same day expert washer repair - Los Angeles">
<p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Washer Repair</p>
<a style="width:120px" title="Same day washer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>

 <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/dryer-repair-los-angeles.webp" alt="Same day expert dryer repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Dryer Repair</p>
                          <a style="width:120px" title="Same day dryer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>

 <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/range-stove-repair-los-angeles.webp" alt="Same day expert range/stover repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Range/Stove Repair</p>
                          <a style="width:120px" title="Same day range stove repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>

                      <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/dishwasher-repair-los-angeles.webp" alt="Same day dishwasher repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Dishwasher Repair</p>
                          <a style="width:120px" title="Same day dishwasher repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span> </div>
                        
     <div class="category-items d-flex justify-content-between">
     <span style='padding:0 20px 0 20px;'' title='Same day refrigerator repair Los Angeles'>
     <img width="120" height="150" src="../images/oven-repair-los-angeles.webp" alt="Same day expert refrigerator repair - Los Angeles">
     <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Oven Repair</p>
     <a style="width:120px" title="Same day oven repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
      </span> 
      <span style='padding:0 20px 0 20px;'>
      <img width="120" height="150" src="../images/cooktop-repair-los-angeles.webp" alt="Same day expert freezer repair - Los Angeles">
       <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Coocktop Repair</p>
       <a style="width:120px" title="Same day freezer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                                        <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/microwave-repair-los-angeles.webp" alt="Same day microwave repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Microwave Repair</p>
                          <a style="width:120px" title="Same day microvawe repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                                          <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/range-hood-repair-los-angeles.webp" alt="Same day range hood repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Range Hood Repair</p>
                          <a style="width:120px" title="Same day range hood repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
            
                        <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/fireplace-repair-los-angeles.webp" alt="Same day fireplace repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Fireplace Repair</p>
                          <a style="width:120px" title="Expert fireplace repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>

                                          <span style="padding:0 40px 0 20px;">
                          <img width="120" height="150" src="images/bbq-grill-repair-los-angeles.webp" alt="Same day bbq grill repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">BBQ Grill Repair</p>
                          <a style="width:120px" title="Same day bbq grill repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                                  </div> </div></div>
          
          <!-- Grey BG-->
    <div class="category category-1" style="background-color:#F2F1F0">
     <div class="container">
     <h2>Same Day Commercial Appliance Repair, Maintenance, and Installation</h2>
         <p>Our same day commercial appliance repair experts are trained commercially .</p>
              <div class="category-items d-flex justify-content-between">
                  <span style="padding:0 20px 0 0;">
                      <img width="120" height="150" loading="lazy" src="images/commercial-refrigerator-repair-los-angeles.webp" alt="Same day commercial refrigerator repair - Los Angeles">
                      <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Refrigerator Repair</p>
                          <a style="width:120px" title="Same day refrigerator repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>

                  <span style="padding:0 20px 0 0;">
                      <img width="120" height="150" loading="lazy" src="images/commercial-frreezer-repair-los-angeles.webp" alt="Same day commercial freezer repair - Los Angeles">
                      <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Freezer Repair</p>
                           <a style="width:120px" title="Same day refrigerator repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-washer-repair-los-angeles.webp" alt="Same day commercial washer repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Washer Repair</p>
    <a style="width:120px" title="Same day washer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-dryer-repair-los-angeles.webp" alt="Same day commercial dryer repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Dryer Repair</p>
    <a style="width:120px" title="Same day dryer repair Los Angeles href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a></span>
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-stove-repair-los-angeles.webp" alt="Same day commercial stove repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Stove Repair</p>
    <a style="width:120px" title="Same day stove repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-dishwasher-repair-los-angeles.webp" alt="Same day commercial dishwasher repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Dishwasher Repair</p>
    <a style="width:120px" title="Same day dishwasher repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
    </div>
       <div class="container">
              <div class="category-items d-flex justify-content-between">
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-oven-repair-los-angeles.webp" alt="Same day commercial oven repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Oven Repair</p>
    <a style="width:120px" title="Same day oven repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>        
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-walk-in-cooler-repair-los-angeles.webp" alt="Same day commercial walk-in cooler repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Walk-in cooler Repair</p>
    <a style="width:120px" title="Same day walk-in cooler repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>

<span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-walk-in-freezer-repair-los-angeles.webp" alt="Same day commercial walk-in freezer repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Walk-in freezer Repair</p>
    <a style="width:120px" title="Same day walk-in freezer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span> 
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-ice-machine-repair-los-angeles.webp" alt="Same day commercial ice machine repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Ice machine Repair</p>
    <a style="width:120px" title="Same day ice mashine repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span> 
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-slushie-mashine-repair-los-angeles.webp" alt="Same day commercial slush machine repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Slushie machine Repair</p>
    <a style="width:120px" title="Same day slushie mashine repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span> 
                  
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-showcase-refrigerarot-freezer-repair-los-angeles.webp" alt="Same day commercial showcase refrigerator/freezer repair - Los Angeles">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Showcase refrigerator/freezer Repair</p>
    <a style="width:120px" title="Same day showcase refrigerator/ freezer Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
    </div>
              <div class="category-items d-flex justify-content-between">
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-wine-cooler-freezer-repair-los-angeles.webp" alt="Same day Fireplace Repair Services">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Wine cooler Repair</p>
    <a style="width:120px" title="Same day wine cooler repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-bar-refrigerator-freezer-repair-los-angeles.webp" alt="Same day Fireplace Repair Services">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Bar refrigerator Repair</p>
    <a style="width:120px" title="Same day bar refrigerator repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-gas-dryer-repair-los-angeles.webp" alt="Same day Gas Dryer Repair Services">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Gas Dryer Repair</p>
    <a style="width:120px" title="Same day gas dryer repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/commercial-laundry-speed-queen-repair-los-angeles.webp" alt="Same day Laundry Speed Queen Repair Services">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Laundry Speed Queen Repair</p>
    <a style="width:120px" title="Same day Laundry Speed Queen repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                  <span style="padding:0 20px 0 0;">
    <img width="120" height="150" loading="lazy" src="images/wine-cellar-reapir-los-angeles.webp" alt="Same day Wine Cellar Repair Services">
    <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Wine Cellar Repair</p>
    <a style="width:120px" title="Same day wine cellar repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
          </div></div></div>
    <div class="category category-0" style="background-color:#ffffff;">
    <div class="container">
    <h3>Heating Ventilation And Air-Conditioning Service, Repair And Installation</h3>
    <p>Expert repair and installation of heating ventilation and AC by our trained technicians</p>
    <br>
              <div class="category-items d-flex justify-content-between">
    <span style="padding:0 20px 0 20px;"> 
         <img width="120" height="122" loading="lazy" src="images/air-conditioner-repair-installation-los-angeles.webp" alt="Same day Refrigerator Repair Los Angeles">
         <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Air conditioner Repair</p>
                          <a style="width:120px" title="Same day air conditioner repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                                          <span style="padding:0 20px 0 20px;">
                          <img width="120" height="122" loading="lazy" src="images/furnace-repair-installation-los-angeles.webp" alt="Same day Refrigerator Repair - Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Furnace Repair</p>
                          <a style="width:120px" title="Same day furnce repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
</span>
                                          <span style="padding:0 40px 0 20px;">
                          <img width="120" height="122" loading="lazy" src="images/heat-pump-repair-installation-los-angeles.webp" alt="Same day Refrigerator repair Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Heat Pump Repair</p>
                          <a style="width:120px" title="Same day heat pump repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                        <span style="padding:0 40px 0 20px;">
                          <img width="120" height="122" loading="lazy" src="images/water-heater-repair-installation-los-angeles.webp" alt="Same day Dryer repair Los Angeles">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Water Heater Repair</p>
                          <a style="width:120px" title="Same day water heater repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                         <span style="padding:0 40px 0 20px;">
                          <img width="120" height="122" loading="lazy" src="images/wall-heater-repair-installation-los-angeles.webp" alt="Range/Stove">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Wall heater Repair</p>
                          <a style="width:120px" title="Same day wall heater repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                          <span title="Same day duckts cleaning repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="122" loading="lazy" src="images/duck-cleaning-los-angeles.webp" alt="Range/Stove">
                          <p style="width:120px; font-size:16px; line-height:18px; margin:10px auto 10px auto;">Ducts Cleaning Repair</p>
                          <a style="width:120px" title="Same day wall heater repair Los Angeles" href="/book" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 w-full px-4 py-2 bg-black text-white hover:bg-gray-800  border-2 border-transparent">BOOK US </a>
                        </span>
                                          </div></div></div>
    <!--The above is the main content for aea pages-->
    <div class="category-items d-flex justify-content-between" style="background-color:#F2F1F0">
    <div class="container">
    <!--<div style="background-color:#ebf0f5; padding:25px; border-radius: 25px;">-->
    <h2>Same Day Appliance Repair Services for Commercial & Household Use in Los Angeles and Surrounding Areas</h2>
    <p>Welcome to the Same Day Appliance Repair - your destination for all your commercial and household appliance repair needs! We pride ourselves on being a trusted business, serving our valued customers since 2007. We deliver professional appliance repair services, that you can rely on with confidence. Over the years, we have helped thousands of customers, alleviating the stress that comes when appliances malfunction. Our quick response time and efficient work ethic form the cornerstone of our operational approach, aiming to resolve your appliance issues promptly and proficiently.</p>
    <p> To guarantee a high quality service, we have invested significantly in the continual education and training of our skilled technicians. Additionally, we maintain a comprehensive inventory of appliance parts, enabling us to tackle a majority of repair challenges in a single visit.</p>
    <p>Our range of expertise encompasses appliance diagnostics, appliance maintenance, appliance repair, and appliance installation services, covering a diverse array of residential and commercial appliances across Orange County, CA. Whether it's refrigerators, freezers, ice makers, washers, dryers, ranges, stoves, ovens, cook-tops, wine coolers, microwaves, dishwashers, garbage disposals, or BBQs, we have you covered.</p>
    <p>We work with all brands, including but not limited to Samsung, Whirlpool, KitchenAid, Bosch, Frigidaire, Maytag, Sub-Zero, Subzero, Kenmore, General Electric, GE, LG, Liebherr, JennAir, Dacor, Thermador, Fisher & Paykel, Viking, Whirlpool, Whirlpool, and numerous others. With Same Day Appliance Repair, you can trust that your appliances are in capable hands. Appliance repair is our expertise, entrusted to our team of skilled professionals. With extensive experience under their belt, our technicians deliver the highest quality repair service.</p></div></div>
    <div class="category category-0" style="background-color:#ffffff;" >
    <div class="container">
    <h2>Same Day Appliance Repair for Commercial & Household Use - How We Work</h2>
    <h3>Parts</h3>
    <p> No matter the issue, we assure fast resolution, eliminating any cause for concern. Our licensed and certified technicians exclusively utilize new, high-quality parts from accredited suppliers. Regular professional training keeps our technicians up-to-date with the latest models and components.</p>
    <h3>Scheduling</h3>
    <p>We prioritize prompt service, aiming to reach you on the same day you call, while considering your convenience and scheduling preferences. To ensure efficient repairs, our technicians carry most parts in their vans, enabling immediate solutions. If a part needs ordering, we strive for the fastest possible delivery.</p>
    <h3>Pricing</h3>
    <p>Our service call fee is $65. Upon your agreement, this fee will be deducted from the total cost of repair. Furthermore, we provide a 1 year warranty on all installed parts, ensuring long-term peace of mind.</p>
  </div></div></div></div>
    </div>
      </div>
    </div>
    <div class="reviews">
      <div class="category category-0" style="background-color:#ffffff;" >
      <div class="container">
          <h4>What Our Customers Think About Us?</h4>
              <h3 class="reviews__title">Recent Appliance Repair Reviews in Los Angeles</h3>
                                <div  class="review-card">
                                             <div>
                                                 <div class="review-card__sp-name-link">Ilya Kudryashov</div>
                                                 <div>
                                                     <div class="Rating-Display-Wrapper">
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                            </svg><svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg><svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <span>
                                                             <span class="rating-number" style="font-size:1em">5.0</span>
                                                         </span>
                                                     </div>
                                             </div>
                                             <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                                 <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                             </svg>
                                             <div>Excellent service! They repaired my Thermodoor refrigerator right away! I am glad that Pasadena has the Same day appliance repair company with professionals!</div>
                                             <div class="review-card__author">Google review on November 2 2023</div>
                                         </div></div>
                          
                                         <div  class="review-card">
                                             <div>
                                                 <div>Alex</div>
                                                 <div>
                                                     <div>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <span>
                                                             <span class="rating-number" style="font-size:1em">5.0</span>
                                                         </span>
                                                     </div>
                                             </div>
                                             <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                                 <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                             </svg>
                                             <div class="review">Thanks to Same day appliance repair for quickly coming to Santa Monica to repair my Sub Zero refrigerator! Now my fridge works perfectly. Very polite staff and nice prices! I will contact you again!</div>
                                             <div class="review-card__author">Google review on November 2 2023</div>
                                         </div></div>
                                         <div class="review-card">
                                             <div>
                                                 <div>Brian S.</div>
                                                 <div>
                                                     <div>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <span>
                                                             <span class="rating-number" style="font-size:1em">5.0</span>
                                                         </span>
                                                     </div>
                                                 </div>
                                             </div>
                                             <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                                 <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                             </svg>
                                             <div>The technicians arrived promptly as scheduled and promptly began the repair work. They efficiently identified the issue and offered valuable insights and information throughout the process.</div>
                                             <div class="review-card__author">on October 5 2023</div>
                                         </div>
                                     <div class="review-card">
                                         <div>
                                             <div>Tim K.</div>
                                             <div>
                                                 <div>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <span>
                                                         <span class="rating-number" style="font-size:1em">5.0</span>
                                                     </span>
                                                 </div>
                                             </div>
                                         </div>
                                         <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                             <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                         </svg>
                                         <div>The team was highly responsive, communicating through both text and email. Scheduling an appointment was effortless, and they were able to accommodate a same-day service. I will definitely turn to them again for future needs.</div>
                                         <div class="review-card__author">on August 10 2023</div>
                                     </div>
                                     <div class="review-card">
                                     <div>
                                         <div>Samuel B.</div>
                                         <div>
                                             <div class="Rating-Display-Wrapper">
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <span>
                                                     <span class="rating-number" style="font-size:1em">5.0</span>
                                                 </span>
                                             </div>
                                         </div>
                                     </div>
                                     <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                         <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                     </svg>
                                     <div>Professional and thorough. The team was patient and considerate, taking the time to ensure a comprehensive job. They were friendly and provided expert guidance on the most effective solution to resolve the issue.</div>
                                     <div class="review-card__author">on August 10 2023</div>
                                 </div>
                                     <div class="review-card">
                                 <div>
                                     <div>Jim P.</div>
                                     <div>
                                         <div class="Rating-Display-Wrapper">
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <span>
                                                 <span class="rating-number" style="font-size:1em">5.0</span>
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                                 <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                     <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                 </svg>
                                 <div>Very helpfull. Fixed the issue very fast. I highly recommend Same Day Alliance Repair based on their excellent service</div>
                                 <div class="review-card__author">on June 12 2023</div>
                             </div></div>
                                 
                  </div></div>
    
    <iframe title="Same Day Appliance Repair in Los Angeles county" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1697927.8104647622!2d-119.61861138312679!3d33.77964772289582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2ad30164cd31%3A0x837d28d6cfbd392a!2sLos%20Angeles%20County%2C%20CA!5e0!3m2!1sen!2sus!4v1699301203257!5m2!1sen!2sus" style="border:0; width:100%; height:450px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
    <Cta />
  </Container>
</Layout>
