---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <!-- Unites -->
     <main>
      <main>
        <div class="category category-0" style="background-color:#ffffff;">
          <div class="container">
              <h2>Same Day Household Appliance Repair, Installation, and Maintenance</h2>
              <p>Our same day appliance repair experts will fix your appliance on the first visit in 90% of cases. Our trained technicians have parts on hand to ensure a quick repair.</p>
              <div class="category-items d-flex justify-content-between">
                  
                                          <span><a title="Same day refrigerator repair Los Angeles" style="padding:0 20px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="/images/refrigerator-repair-los-angeles.webp" alt="Same day expert refrigerator repair - Los Angeles">
                          <span>Refrigerator Repair</span>
                          <span class="button">BOOK
                          </span>
                      </a></span>
                                          <span><a title="Same day freezer repair Los Angeles" style="padding:0 20px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/freezer-stove-repair-los-angeles.webp" alt="Same day expert freezer repair - Los Angeles">
                          <span>Freezer Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a></span>
                                          <a title="Same day washer repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/washer-repair-los-angeles.webp" alt="Same day expert washer repair - Los Angeles">
                          <span>Washer Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day dryer repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/dryer-repair-los-angeles.webp" alt="Same day expert dryer repair - Los Angeles">
                          <span>Dryer Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day range stove repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/range-stove-repair-los-angeles.webp" alt="Same day expert range/stover repair - Los Angeles">
                          <span>Range/Stove Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day dishwasher repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/dishwasher-repair-los-angeles.webp" alt="Same day dishwasher repair - Los Angeles">
                          <span>Dishwasher Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          </div>
    <div class="category-items d-flex justify-content-between">
                 
                 <a title="Same day over repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                     <img width="120" height="150" src="images/oven-repair-los-angeles.webp" alt="Same day expert oven repair - Los Angeles">
                         <span>Oven Repair</span>
                         <span class="button">BOOK
                        </span>
                 </a>
                                        <a title="Same day cooktop repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/cooktop-repair-los-angeles.webp" alt="Same day day expert cooktop repair - Los Angeles">
                          <span>Cooktop Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                        <a title="Same day microvawe repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/microwave-repair-los-angeles.webp" alt="Same day microwave repair - Los Angeles">
                          <span>Microwave Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day range hood repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/range-hood-repair-los-angeles.webp" alt="Same day range hood repair - Los Angeles">
                          <span>Range Hood Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="expert fireplace repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/fireplace-repair-los-angeles.webp" alt="Same day fireplace repair - Los Angeles">
                          <span>Fireplace Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day bbq grill repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="150" src="images/bbq-grill-repair-los-angeles.webp" alt="Same day bbq grill repair - Los Angeles">
                          <span>BBQ Grill Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                  </div>
          </div>
                  </div>
          
          <!-- Grey BG-->
    <div class="category category-1" style="background-color:#F2F1F0">
     <div class="container">
     <h2>Same Day Commercial Appliance Repair, Maintenance, and Installation</h2>
         <p>Our same day commercial appliance repair experts are trained commercially .</p>
              <div class="category-items d-flex justify-content-between">
                  <a title="Same day refrigerator repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank" >
                      <img width="120" height="150" loading="lazy" src="images/commercial-refrigerator-repair-los-angeles.webp" alt="Same day commercial refrigerator repair - Los Angeles">
                          <span>Refrigerator Repair</span>
                          <span class="button">BOOK
                         </span>
                  </a>
                  <a title="Same day freezer repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
                      <img width="120" height="150" loading="lazy" src="images/commercial-frreezer-repair-los-angeles.webp" alt="Same day commercial freezer repair - Los Angeles">
                          <span>Freezer Repair</span>
                          <span class="button">BOOK
                         </span>
                  </a>
                  
                  <a title="Same day washer repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-washer-repair-los-angeles.webp" alt="Same day commercial washer repair - Los Angeles">
    <span>Washer Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day dryer repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-dryer-repair-los-angeles.webp" alt="Same day commercial dryer repair - Los Angeles">
    <span>Dryer Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day stove repair Los Angeles"style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-stove-repair-los-angeles.webp" alt="Same day commercial stove repair - Los Angeles">
    <span>Stove Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day dishwasher repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-dishwasher-repair-los-angeles.webp" alt="Same day commercial dishwasher repair - Los Angeles">
    <span>Dishwasher Repair</span>
    <span class="button">BOOK
    </span>
    </a>
    </div>
       <div class="container">
              <div class="category-items d-flex justify-content-between">
                  <a title="Same day oven repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-oven-repair-los-angeles.webp" alt="Same day commercial oven repair - Los Angeles">
    <span>Oven Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day walk-in cooler repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-walk-in-cooler-repair-los-angeles.webp" alt="Same day commercial walk-in cooler repair - Los Angeles">
    <span>Walk-in cooler Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day walk-in freezer repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-walk-in-freezer-repair-los-angeles.webp" alt="Same day commercial walk-in freezer repair - Los Angeles">
    <span>Walk-in freezer Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day ice mashine repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-ice-machine-repair-los-angeles.webp" alt="Same day commercial ice machine repair - Los Angeles">
    <span>Ice machine Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day slushie mashine repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-slushie-mashine-repair-los-angeles.webp" alt="Same day commercial slush machine repair - Los Angeles">
    <span>Slushie machine Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  
                  <a title="Same day showcase refrigerator/ freezer Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-showcase-refrigerarot-freezer-repair-los-angeles.webp" alt="Same day commercial showcase refrigerator/freezer repair - Los Angeles">
    <span>Showcase refrigerator/freezer Repair</span>
    <span class="button">BOOK
    </span>
    </a>
    </div>
              <div class="category-items d-flex justify-content-between">
                  <a title="Same day wine cooler repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-wine-cooler-freezer-repair-los-angeles.webp" alt="Same day Fireplace Repair Services">
    <span>Wine cooler Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  <a title="Same day bar refrigerator repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-bar-refrigerator-freezer-repair-los-angeles.webp" alt="Same day Fireplace Repair Services">
    <span>Bar refrigerator Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  <a title="Same day gas dryer repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-gas-dryer-repair-los-angeles.webp" alt="Same day Gas Dryer Repair Services">
    <span>Gas Dryer Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  <a title="Same day Laundry Speed Queen repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/commercial-laundry-speed-queen-repair-los-angeles.webp" alt="Same day Laundry Speed Queen Repair Services">
    <span>Laundry Speed Queen Repair</span>
    <span class="button">BOOK
    </span>
    </a>
                  <a title="Same day wine cellar repair Los Angeles" style="padding:0 20px 0 0;" href="contact/book-online.html" target="_blank">
    <img width="120" height="150" loading="lazy" src="images/wine-cellar-reapir-los-angeles.webp" alt="Same day Wine Cellar Repair Services">
    <span>Wine Cellar Repair</span>
    <span class="button">BOOK
    </span>
    </a>
          </div></div></div>
    <div class="category category-0" style="background-color:#ffffff;">
    <div class="container">
    <h3>Heating Ventilation And Air-Conditioning Service, Repair And Installation</h3>
    <p>Expert repair and installation of heating ventilation and AC by our trained technicians</p>
    <br>
              <div class="category-items d-flex justify-content-between">
                                          <a title="Same day air conditioner repair Los Angeles" style="padding:0 20px 0 20px;" href="contact/book-online.html" target="_blank">   <img width="120" height="122" loading="lazy" src="images/air-conditioner-repair-installation-los-angeles.webp" alt="Same day Refrigerator Repair Los Angeles">
                          <span>Air conditioner Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day furnce repair Los Angeles" style="padding:0 20px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="122" loading="lazy" src="images/furnace-repair-installation-los-angeles.webp" alt="Same day Refrigerator Repair - Los Angeles">
                          <span>Furnace Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day heat pump repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="122" loading="lazy" src="images/heat-pump-repair-installation-los-angeles.webp" alt="Same day Refrigerator repair Los Angeles">
                          <span>Heat Pump Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day water heater repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="122" loading="lazy" src="images/water-heater-repair-installation-los-angeles.webp" alt="Same day Dryer repair Los Angeles">
                          <span>Water Heater Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day wall heater repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="122" loading="lazy" src="images/wall-heater-repair-installation-los-angeles.webp" alt="Range/Stove">
                          <span>Wall heater Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          <a title="Same day duckts cleaning repair Los Angeles" style="padding:0 40px 0 20px;" href="contact/book-online.html" target="_blank">
                          <img width="120" height="122" loading="lazy" src="images/duck-cleaning-los-angeles.webp" alt="Range/Stove">
                          <span>Ducts Cleaning Repair</span>
                          <span class="button">BOOK
                         </span>
                      </a>
                                          </div></div></div>
    <!--The above is the main content for aea pages-->
    <div class="category-items d-flex justify-content-between" style="background-color:#F2F1F0">
    <div class="container">
    <!--<div style="background-color:#ebf0f5; padding:25px; border-radius: 25px;">-->
    <h2>Same Day Appliance Repair Services for Commercial & Household Use in Los Angeles and Surrounding Areas</h2>
    <p>Welcome to the Same Day Appliance Repair - your destination for all your commercial and household appliance repair needs! We pride ourselves on being a trusted business, serving our valued customers since 2007. We deliver professional appliance repair services, that you can rely on with confidence. Over the years, we have helped thousands of customers, alleviating the stress that comes when appliances malfunction. Our quick response time and efficient work ethic form the cornerstone of our operational approach, aiming to resolve your appliance issues promptly and proficiently.</p>
    <p> To guarantee a high quality service, we have invested significantly in the continual education and training of our skilled technicians. Additionally, we maintain a comprehensive inventory of appliance parts, enabling us to tackle a majority of repair challenges in a single visit.</p>
    <p>Our range of expertise encompasses appliance diagnostics, appliance maintenance, appliance repair, and appliance installation services, covering a diverse array of residential and commercial appliances across Orange County, CA. Whether it's refrigerators, freezers, ice makers, washers, dryers, ranges, stoves, ovens, cook-tops, wine coolers, microwaves, dishwashers, garbage disposals, or BBQs, we have you covered.</p>
    <p>We work with all brands, including but not limited to Samsung, Whirlpool, KitchenAid, Bosch, Frigidaire, Maytag, Sub-Zero, Subzero, Kenmore, General Electric, GE, LG, Liebherr, JennAir, Dacor, Thermador, Fisher & Paykel, Viking, Whirlpool, Whirlpool, and numerous others. With Same Day Appliance Repair, you can trust that your appliances are in capable hands. Appliance repair is our expertise, entrusted to our team of skilled professionals. With extensive experience under their belt, our technicians deliver the highest quality repair service.</p></div></div>
    <div class="category category-0" style="background-color:#ffffff;" >
    <div class="container">
    <h2>Same Day Appliance Repair for Commercial & Household Use - How We Work</h2>
    <h3>Parts</h3>
    <p> No matter the issue, we assure fast resolution, eliminating any cause for concern. Our licensed and certified technicians exclusively utilize new, high-quality parts from accredited suppliers. Regular professional training keeps our technicians up-to-date with the latest models and components.</p>
    <h3>Scheduling</h3>
    <p>We prioritize prompt service, aiming to reach you on the same day you call, while considering your convenience and scheduling preferences. To ensure efficient repairs, our technicians carry most parts in their vans, enabling immediate solutions. If a part needs ordering, we strive for the fastest possible delivery.</p>
    <h3>Pricing</h3>
    <p>Our service call fee is $65. Upon your agreement, this fee will be deducted from the total cost of repair. Furthermore, we provide a 1 year warranty on all installed parts, ensuring long-term peace of mind.</p></div></div>
    <h3>Our Most Popular Appliance Services in Los Angeles</h3>
    <ul>
    <li><a title="Commercial Refrifirator Repair Los Angeles" href="services/commercial-refrigerator-repair-los-angeles.html">Commercial Refrigerator in Repair Los Angeles</a></li>
    </ul>
    <div id="contact"></div>
    <div class="category category-1" style="background-color:#ebe8e8">
    <div class="container">
    <h3>Contact us</h3>
    <p><a title="call expert appliance repair Los Angeles" href="tel:(323)540-5890">+1(323)540-5890</a></p>
    <p><a title="email expert appliance repair Los Angeles" class="email" href="mailto:info@samedayappliance.repair">info@samedayappliance.repair</a></p>
    </div></div>
      <div id="warranty"></div>
    </div>
    <div class="positive-reviews">
       <div class="category category-0" style="background-color:#ffffff;" >
       <div class="container" >
              <img width="103" height="87" loading="lazy" src="images/appliance-repair-los-angeles-home-advisor.png" alt="">
              <img width="180" height="57" loading="lazy" src="images/appliance-repair-los-angeles-angeles-list.png" alt="">
              <img width="158" height="62" loading="lazy" src="images/appliance-repair-los-angeles-thumbtack.png" alt="">
              <img width="125" height="87" loading="lazy" src="images/appliance-repair-los-angeles-expertise.png" alt="">
              <div>
              </div>
          </div>
      </div>
    </div>
    <div class="steps">
     <div class="container d-flex align-items-center justify-content-between">
          <div class="s-item d-flex align-items-center">
              <svg width="61" height="52" viewBox="0 0 61 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M30.4996 41.6C30.2448 41.6 29.9899 41.5057 29.7885 41.317C29.2623 40.8249 16.9144 29.0306 16.9144 14.8208C16.9144 7.65647 20.4823 0 30.4996 0C40.5169 0 44.0849 7.65647 44.0849 14.8208C44.0849 29.0306 31.7369 40.8208 31.2107 41.317C31.0093 41.5057 30.7545 41.6 30.4996 41.6ZM30.4996 2.06688C20.1082 2.06688 18.9861 10.9864 18.9861 14.8208C18.9861 26.2338 27.8894 36.3713 30.4996 39.0984C33.1098 36.3713 42.0132 26.2338 42.0132 14.8208C42.0132 10.9864 40.891 2.06688 30.4996 2.06688Z" fill="#F7941D"/>
                  <path d="M30.4996 23.0595C25.8547 23.0595 22.0731 19.2908 22.0731 14.6526C22.0731 10.0185 25.8506 6.24976 30.4996 6.24976C35.1445 6.24976 38.9262 10.0185 38.9262 14.6526C38.9221 19.2867 35.1445 23.0595 30.4996 23.0595ZM30.4996 8.31253C26.9975 8.31253 24.1448 11.1545 24.1448 14.6526C24.1448 18.1507 26.9975 20.9927 30.4996 20.9927C34.0018 20.9927 36.8545 18.1507 36.8545 14.6526C36.8545 11.1586 34.0018 8.31253 30.4996 8.31253Z" fill="#F7941D"/>
                  <path d="M59.9638 51.9999H1.03545C0.710723 51.9999 0.406545 51.8482 0.20924 51.5898C0.0119356 51.3315 -0.049722 50.9952 0.0407092 50.6835L9.17016 18.8069C9.29758 18.364 9.70452 18.0564 10.1649 18.0564H14.5138C15.0852 18.0564 15.5497 18.5198 15.5497 19.0898C15.5497 19.6599 15.0852 20.1233 14.5138 20.1233H10.9459L2.40836 49.9372H58.5908L50.0533 20.1233H46.0702C45.4989 20.1233 45.0344 19.6599 45.0344 19.0898C45.0344 18.5198 45.4989 18.0564 46.0702 18.0564H50.8343C51.2947 18.0564 51.7016 18.364 51.829 18.8069L60.9585 50.6835C61.0489 50.9952 60.9873 51.3315 60.79 51.5898C60.5927 51.8482 60.2885 51.9999 59.9638 51.9999Z" fill="#F7941D"/>
              </svg>
              <p>We service the whole Los Angeles Area</p>
          </div>
          <div class="s-item d-flex align-items-center">
              <svg width="54" height="58" viewBox="0 0 54 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M49.5862 45.1017H31.985C31.5606 45.1017 31.2162 44.7566 31.2162 44.3312C31.2162 43.9059 31.5606 43.5607 31.985 43.5607H49.5862C51.1732 43.5607 52.4619 42.2663 52.4619 40.6791V17.7244C52.4619 16.1341 51.1701 14.8428 49.5862 14.8428H19.2432C17.6562 14.8428 16.3675 16.1341 16.3675 17.7244V26.0365C16.3675 26.4619 16.0231 26.807 15.5987 26.807C15.1742 26.807 14.8298 26.4619 14.8298 26.0365V17.7244C14.8298 15.2866 16.8104 13.3018 19.2432 13.3018H49.5862C52.019 13.3018 53.9996 15.2866 53.9996 17.7244V40.6791C53.9996 43.1169 52.0221 45.1017 49.5862 45.1017Z" fill="#F7941D"/>
                  <path d="M53.2307 34.5922H42.6386C39.7722 34.5922 37.4379 32.2561 37.4379 29.3806V29.02C37.4379 26.1476 39.7692 23.8083 42.6386 23.8083H53.2307C53.6551 23.8083 53.9996 24.1535 53.9996 24.5788V33.8187C53.9996 34.2471 53.6551 34.5922 53.2307 34.5922ZM42.6386 25.3524C40.6211 25.3524 38.9757 26.9982 38.9757 29.0231V29.3837C38.9757 31.4085 40.618 33.0543 42.6386 33.0543H52.4618V25.3524H42.6386Z" fill="#F7941D"/>
                  <path d="M31.1393 12.0876C30.8655 12.0876 30.6041 11.9427 30.4626 11.6869C30.2597 11.314 30.395 10.8456 30.7671 10.6421L42.3588 4.29632C42.7094 4.10524 43.1461 4.21311 43.3675 4.54596L47.5564 10.8918C47.7901 11.2462 47.6948 11.7239 47.338 11.9582C46.9843 12.1924 46.5076 12.0968 46.2739 11.7393L42.4756 5.98525L31.5053 11.9921C31.3884 12.0568 31.2623 12.0876 31.1393 12.0876Z" fill="#F7941D"/>
                  <path d="M27.4333 11.6007C27.2672 11.6007 27.1011 11.5483 26.9596 11.4373C26.6275 11.1723 26.569 10.6884 26.8305 10.3525L33.9964 1.1774C34.2548 0.847627 34.7284 0.785987 35.0636 1.03563L39.0434 4.019C39.3847 4.2748 39.4524 4.75559 39.1971 5.09769C38.9449 5.43671 38.4621 5.5076 38.1207 5.25179L34.7438 2.72148L28.0391 11.3048C27.8884 11.499 27.6639 11.6007 27.4333 11.6007Z" fill="#F7941D"/>
                  <path d="M21.9803 11.6006C21.885 11.6006 21.7866 11.5821 21.6912 11.542C21.2945 11.3818 21.1069 10.9318 21.2668 10.5373L25.3573 0.480756C25.5172 0.0862609 25.9631 -0.101741 26.3568 0.055441L30.927 1.90464C31.3207 2.0649 31.5114 2.51179 31.3515 2.90628C31.1915 3.30078 30.7425 3.49186 30.3519 3.3316L26.4952 1.77519L22.6908 11.1198C22.5708 11.4187 22.2817 11.6006 21.9803 11.6006Z" fill="#F7941D"/>
                  <path d="M42.8632 31.6982C41.4884 31.6982 40.372 30.5794 40.372 29.2017C40.372 27.8241 41.4884 26.7053 42.8632 26.7053C44.2379 26.7053 45.3543 27.8241 45.3543 29.2017C45.3543 30.5794 44.2379 31.6982 42.8632 31.6982ZM42.8632 28.2463C42.3373 28.2463 41.9098 28.6747 41.9098 29.2017C41.9098 29.7288 42.3373 30.1572 42.8632 30.1572C43.3891 30.1572 43.8166 29.7288 43.8166 29.2017C43.8166 28.6747 43.3891 28.2463 42.8632 28.2463Z" fill="#F7941D"/>
                  <path d="M9.62598 57.6517C4.31764 57.6517 -0.000396729 53.3245 -0.000396729 48.005C-0.000396729 42.6855 4.31764 38.3584 9.62598 38.3584C14.9343 38.3584 19.2524 42.6855 19.2524 48.005C19.2524 53.3245 14.9343 57.6517 9.62598 57.6517ZM9.62598 39.8994C5.16648 39.8994 1.53736 43.5361 1.53736 48.005C1.53736 52.4739 5.16648 56.1107 9.62598 56.1107C14.0855 56.1107 17.7146 52.4739 17.7146 48.005C17.7146 43.5361 14.0855 39.8994 9.62598 39.8994Z" fill="#F7941D"/>
                  <path d="M10.3425 52.2089H8.90628C7.53767 52.2089 6.42433 51.0933 6.42433 49.7218C6.42433 49.2965 6.76879 48.9513 7.19321 48.9513C7.61763 48.9513 7.96209 49.2965 7.96209 49.7218C7.96209 50.2426 8.38651 50.6679 8.90628 50.6679H10.3425C10.8623 50.6679 11.2867 50.2426 11.2867 49.7218C11.2867 49.2009 10.8623 48.7756 10.3425 48.7756H8.90628C7.53767 48.7756 6.42433 47.6599 6.42433 46.2884C6.42433 44.9169 7.53767 43.8013 8.90628 43.8013H10.3425C11.7112 43.8013 12.8245 44.9169 12.8245 46.2884C12.8245 46.7137 12.48 47.0589 12.0556 47.0589C11.6312 47.0589 11.2867 46.7137 11.2867 46.2884C11.2867 45.7676 10.8623 45.3423 10.3425 45.3423H8.90628C8.38651 45.3423 7.96209 45.7676 7.96209 46.2884C7.96209 46.8093 8.38651 47.2346 8.90628 47.2346H10.3425C11.7112 47.2346 12.8245 48.3503 12.8245 49.7218C12.8245 51.0933 11.7112 52.2089 10.3425 52.2089Z" fill="#F7941D"/>
                  <path d="M9.62597 45.3423C9.20154 45.3423 8.85709 44.9972 8.85709 44.5718V42.9846C8.85709 42.5593 9.20154 42.2141 9.62597 42.2141C10.0504 42.2141 10.3948 42.5593 10.3948 42.9846V44.5718C10.3948 44.9972 10.0504 45.3423 9.62597 45.3423Z" fill="#F7941D"/>
                  <path d="M9.62597 53.7962C9.20154 53.7962 8.85709 53.451 8.85709 53.0257V51.4385C8.85709 51.0132 9.20154 50.668 9.62597 50.668C10.0504 50.668 10.3948 51.0132 10.3948 51.4385V53.0257C10.3948 53.451 10.0504 53.7962 9.62597 53.7962Z" fill="#F7941D"/>
                  <path d="M29.2201 32.5427C28.7957 32.5427 28.4512 32.1975 28.4512 31.7722C28.4512 30.9832 25.265 29.4453 19.4215 29.4453C13.578 29.4453 10.3918 30.9832 10.3918 31.7722C10.3918 32.1975 10.0473 32.5427 9.62289 32.5427C9.19847 32.5427 8.85401 32.1975 8.85401 31.7722C8.85401 29.2326 14.1685 27.9043 19.4215 27.9043C24.6714 27.9043 29.989 29.2326 29.989 31.7722C29.989 32.2006 29.6445 32.5427 29.2201 32.5427Z" fill="#F7941D"/>
                  <path d="M19.4247 40.2138C17.9453 40.2138 16.5183 40.1152 15.1804 39.918C14.7591 39.8563 14.47 39.4649 14.5315 39.0427C14.593 38.6204 14.9898 38.3307 15.4019 38.3924C16.6659 38.5773 18.0191 38.6728 19.4216 38.6728C25.262 38.6728 28.4513 37.1349 28.4513 36.3459C28.4513 35.9206 28.7958 35.5754 29.2202 35.5754C29.6446 35.5754 29.9891 35.9206 29.9891 36.3459C29.9891 38.8824 24.6746 40.2138 19.4247 40.2138Z" fill="#F7941D"/>
                  <path d="M19.4246 44.7844C19.0002 44.7844 18.6557 44.4392 18.6557 44.0139C18.6557 43.5886 19.0002 43.2434 19.4246 43.2434C25.265 43.2434 28.4543 41.7055 28.4543 40.9165C28.4543 40.4912 28.7988 40.146 29.2232 40.146C29.6476 40.146 29.9921 40.4912 29.9921 40.9165C29.989 43.453 24.6745 44.7844 19.4246 44.7844Z" fill="#F7941D"/>
                  <path d="M19.8367 49.3489C19.4154 49.3489 19.074 49.0099 19.0678 48.5877C19.0617 48.1624 19.4031 47.811 19.8275 47.8079C25.4096 47.734 28.4543 46.233 28.4543 45.4841C28.4543 45.0588 28.7988 44.7136 29.2232 44.7136C29.6476 44.7136 29.9921 45.0588 29.9921 45.4841C29.9921 48.0483 24.7329 49.2842 19.849 49.3489C19.8429 49.3489 19.8367 49.3489 19.8367 49.3489Z" fill="#F7941D"/>
                  <path d="M19.4246 53.9227C19.0002 53.9227 18.6557 53.5775 18.6557 53.1522C18.6557 52.7269 19.0002 52.3817 19.4246 52.3817C25.265 52.3817 28.4543 50.8438 28.4543 50.0548V33.8836C24.5392 36.2044 14.31 36.2044 10.398 33.8836V36.8824C10.398 37.3077 10.0535 37.6529 9.62907 37.6529C9.20465 37.6529 8.86019 37.3077 8.86019 36.8824V31.7725C8.86019 31.3471 9.20465 31.002 9.62907 31.002C10.0535 31.002 10.398 31.3471 10.398 31.7725C10.398 32.5614 13.5842 34.0994 19.4277 34.0994C25.2681 34.0994 28.4574 32.5614 28.4574 31.7725C28.4574 31.3471 28.8019 31.002 29.2263 31.002C29.6507 31.002 29.9952 31.3471 29.9952 31.7725V50.0548C29.989 52.5944 24.6745 53.9227 19.4246 53.9227Z" fill="#F7941D"/>
              </svg>
              <p>FREE 6 months warranty for parts replacement</p>
          </div>
          <div class="s-item d-flex align-items-center">
              <svg width="44" height="56" viewBox="0 0 44 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.4996 42.1953C21.1735 42.1953 20.8702 42.0279 20.6958 41.7563C19.6416 40.0893 18.6898 39.2298 17.7077 39.0474C16.7446 38.8688 15.5881 39.3079 14.0675 40.4242C13.7983 40.6214 13.4457 40.666 13.1309 40.5358C12.82 40.4093 12.6039 40.1265 12.5622 39.7991C12.3157 37.946 11.8227 36.8 11.0492 36.294C10.2794 35.7879 9.02432 35.7767 7.2118 36.2567C6.8857 36.3423 6.53685 36.2493 6.29796 36.0149C6.05528 35.7805 5.96427 35.4381 6.05149 35.1181C6.54064 33.3395 6.52926 32.1079 6.01357 31.3526C5.49787 30.5935 4.32997 30.1098 2.43782 29.8679C2.10413 29.827 1.81974 29.6149 1.69082 29.3098C1.5581 29.0047 1.6036 28.6549 1.80457 28.3907C2.94214 26.8949 3.38958 25.76 3.20757 24.8186C3.02177 23.8512 2.14584 22.9209 0.447076 21.8865C0.170269 21.7153 -0.000366211 21.4177 -0.000366211 21.0977C-0.000366211 20.7777 0.170269 20.4763 0.447076 20.3088C2.14205 19.2744 3.02177 18.3442 3.20757 17.3767C3.38958 16.4353 2.94214 15.2967 1.80457 13.8047C1.6036 13.5405 1.5581 13.1907 1.69082 12.8856C1.81974 12.5805 2.10792 12.3684 2.44161 12.3274C4.32997 12.0856 5.49787 11.6019 6.01357 10.8428C6.52547 10.0912 6.54064 8.85953 6.05149 7.07721C5.96427 6.75721 6.05528 6.41488 6.29796 6.18046C6.53685 5.94605 6.8857 5.85302 7.2118 5.94233C9.02432 6.42233 10.2794 6.41116 11.0492 5.90512C11.8227 5.39535 12.3157 4.2493 12.5622 2.39256C12.6039 2.06512 12.8238 1.78605 13.1309 1.65581C13.4419 1.52558 13.7983 1.57023 14.0675 1.76744C15.5881 2.88372 16.7446 3.31907 17.7077 3.14419C18.6936 2.96186 19.6416 2.10233 20.6958 0.435349C20.8702 0.167442 21.1735 0 21.4996 0C21.8257 0 22.1329 0.167442 22.3035 0.43907C23.3577 2.10233 24.3056 2.96558 25.2915 3.14791C26.2471 3.32279 27.4112 2.88744 28.9317 1.77116C29.201 1.57395 29.5574 1.5293 29.8683 1.65953C30.1793 1.78977 30.3954 2.06884 30.4371 2.39628C30.6836 4.2493 31.1765 5.39535 31.9501 5.90139C32.716 6.40372 33.9711 6.4186 35.7875 5.9386C36.1136 5.85302 36.4624 5.94233 36.7013 6.17674C36.9402 6.41116 37.035 6.75349 36.944 7.07349C36.4586 8.85581 36.47 10.0874 36.9857 10.8428C37.5014 11.6019 38.6693 12.0856 40.5614 12.3274C40.8951 12.3684 41.1795 12.5842 41.3122 12.8856C41.445 13.1907 41.3995 13.5405 41.1985 13.8047C40.0609 15.3005 39.6135 16.4353 39.7955 17.3767C39.9813 18.3442 40.8572 19.2744 42.556 20.3088C42.8328 20.4763 43.0034 20.7777 43.0034 21.0977C43.0034 21.4177 42.8328 21.7153 42.556 21.8865C40.8572 22.9209 39.9813 23.8549 39.7955 24.8186C39.6135 25.76 40.0609 26.8986 41.1985 28.3907C41.3995 28.6549 41.445 29.0047 41.3122 29.3098C41.1833 29.6149 40.8951 29.827 40.5614 29.8679C38.6693 30.1098 37.5014 30.5935 36.9857 31.3526C36.47 32.1079 36.4586 33.3395 36.9478 35.1181C37.035 35.4381 36.944 35.7805 36.7051 36.0149C36.4624 36.2493 36.1136 36.3423 35.7875 36.2567C33.9749 35.7767 32.7198 35.7879 31.9501 36.294C31.1765 36.8 30.6836 37.9498 30.4371 39.8028C30.3954 40.1302 30.1793 40.4093 29.8683 40.5395C29.5574 40.6698 29.2047 40.6251 28.9317 40.4279C27.4074 39.3116 26.2547 38.8763 25.2915 39.0512C24.3056 39.2335 23.3577 40.093 22.3035 41.76C22.1329 42.0279 21.8257 42.1953 21.4996 42.1953ZM17.2755 37.1535C17.5409 37.1535 17.7987 37.1758 18.0566 37.2242C19.2928 37.4549 20.4076 38.2251 21.4996 39.6279C22.5917 38.2251 23.7027 37.4549 24.9427 37.2242C26.1295 37.0009 27.3884 37.2912 28.8256 38.1209C29.2237 36.4912 29.8987 35.4046 30.8997 34.7498C31.8894 34.0986 33.1483 33.9014 34.8016 34.1507C34.5475 32.5284 34.7485 31.293 35.4121 30.3219C36.0794 29.3395 37.1905 28.6809 38.8475 28.2865C37.9981 26.8763 37.7099 25.6409 37.9337 24.4763C38.1688 23.2633 38.9537 22.1693 40.3832 21.0977C38.9575 20.026 38.1688 18.9358 37.9337 17.7191C37.7099 16.5507 38.0019 15.3191 38.8475 13.9088C37.1867 13.5181 36.0794 12.8558 35.4121 11.8735C34.7485 10.9023 34.5475 9.66698 34.8016 8.04465C33.1521 8.29023 31.8894 8.09674 30.8997 7.44558C29.8987 6.7907 29.2237 5.70419 28.8256 4.07442C27.3884 4.90419 26.1257 5.1907 24.9427 4.97116C23.7027 4.74419 22.5917 3.97023 21.4996 2.57116C20.4076 3.97023 19.2965 4.74419 18.0566 4.97116C16.8659 5.1907 15.6108 4.90419 14.1737 4.07442C13.7756 5.70419 13.1006 6.7907 12.0995 7.44558C11.1099 8.09674 9.84716 8.29023 8.19769 8.04465C8.45175 9.66698 8.25078 10.9023 7.5872 11.8735C6.91983 12.8558 5.8126 13.5144 4.15175 13.9088C5.00113 15.3191 5.28932 16.5544 5.06559 17.7191C4.83429 18.9358 4.04558 20.026 2.61983 21.0977C4.04558 22.1693 4.83429 23.2595 5.06939 24.4763C5.29311 25.6447 5.00113 26.8763 4.15554 28.2865C5.81639 28.6772 6.92362 29.3395 7.59099 30.3219C8.25078 31.293 8.45175 32.5284 8.19769 34.1507C9.85096 33.9014 11.1099 34.0986 12.0995 34.7498C13.1006 35.4046 13.7718 36.4949 14.1737 38.1209C15.2999 37.4698 16.3199 37.1535 17.2755 37.1535Z" fill="#F7941D"/>
                  <path d="M21.4996 33.8046C14.3595 33.8046 8.55035 28.1041 8.55035 21.0976C8.55035 14.0911 14.3595 8.39062 21.4996 8.39062C28.6398 8.39062 34.4489 14.0911 34.4489 21.0976C34.4489 28.1041 28.6398 33.8046 21.4996 33.8046ZM21.4996 10.2474C15.4023 10.2474 10.4425 15.1143 10.4425 21.0976C10.4425 27.0809 15.4023 31.9478 21.4996 31.9478C27.597 31.9478 32.5568 27.0809 32.5568 21.0976C32.5568 15.1143 27.597 10.2474 21.4996 10.2474Z" fill="#F7941D"/>
                  <path d="M17.1769 20.16C15.3303 20.16 13.8287 18.6865 13.8287 16.8744C13.8287 15.0624 15.3303 13.5889 17.1769 13.5889C19.0236 13.5889 20.5251 15.0624 20.5251 16.8744C20.5251 18.6865 19.0236 20.16 17.1769 20.16ZM17.1769 15.4493C16.373 15.4493 15.7208 16.0893 15.7208 16.8782C15.7208 17.667 16.373 18.3033 17.1769 18.3033C17.9808 18.3033 18.633 17.6633 18.633 16.8744C18.633 16.0856 17.977 15.4493 17.1769 15.4493Z" fill="#F7941D"/>
                  <path d="M25.8224 28.6476C23.9758 28.6476 22.4742 27.1741 22.4742 25.362C22.4742 23.5499 23.9758 22.0764 25.8224 22.0764C27.6691 22.0764 29.1707 23.5499 29.1707 25.362C29.1707 27.1741 27.6691 28.6476 25.8224 28.6476ZM25.8224 23.9332C25.0185 23.9332 24.3663 24.5732 24.3663 25.362C24.3663 26.1508 25.0223 26.7908 25.8224 26.7908C26.6263 26.7908 27.2785 26.1508 27.2785 25.362C27.2785 24.5732 26.6263 23.9332 25.8224 23.9332Z" fill="#F7941D"/>
                  <path d="M15.9028 27.4493C15.6602 27.4493 15.4175 27.36 15.2317 27.1777C14.8639 26.8167 14.8639 26.2288 15.2317 25.8642L26.9486 14.3665C27.3164 14.0019 27.9155 14.0019 28.2871 14.3665C28.655 14.7274 28.655 15.3153 28.2871 15.68L16.5702 27.1777C16.3844 27.3563 16.1417 27.4493 15.9028 27.4493Z" fill="#F7941D"/>
                  <path d="M14.6136 56C14.5188 56 14.4202 55.9851 14.3254 55.9553L1.6946 51.9925C1.19786 51.8362 0.921057 51.3153 1.08032 50.8241L5.1073 38.4595C5.26656 37.972 5.79742 37.7004 6.29795 37.8567C6.79469 38.013 7.0715 38.5339 6.91224 39.0251L3.17344 50.5079L13.9993 53.9051L17.6698 42.6381C17.8291 42.1506 18.3599 41.879 18.8605 42.0353C19.3572 42.1916 19.634 42.7162 19.4748 43.2037L15.516 55.3562C15.3871 55.7469 15.0155 56 14.6136 56Z" fill="#F7941D"/>
                  <path d="M28.3857 55.9999C27.9837 55.9999 27.6121 55.7469 27.4832 55.3525L23.5131 43.1739C23.3538 42.6865 23.6268 42.1618 24.1274 42.0055C24.6279 41.8492 25.1588 42.1209 25.318 42.6083L28.9999 53.9013L39.8258 50.5041L35.9164 38.5004C35.7571 38.013 36.0301 37.4883 36.5306 37.332C37.0312 37.1758 37.562 37.4474 37.7213 37.9348L41.9189 50.8204C41.9947 51.0548 41.9758 51.3116 41.8582 51.5274C41.7445 51.7469 41.5435 51.9106 41.3046 51.9851L28.6738 55.9479C28.579 55.9851 28.4805 55.9999 28.3857 55.9999Z" fill="#F7941D"/>
              </svg>
              <p>10% OFF labor for returning customers</p>
          </div>
          <div class="s-item d-flex align-items-center">
              <svg width="55" height="58" viewBox="0 0 55 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.7339 38.9941C9.66016 38.9941 6.34764 35.5971 6.34764 31.4195V25.3797C6.34764 21.2022 9.66016 17.8052 13.7339 17.8052C17.8076 17.8052 21.1201 21.2022 21.1201 25.3797V31.4162C21.1201 35.5938 17.8076 38.9941 13.7339 38.9941ZM13.7339 19.4557C10.5471 19.4557 7.95713 22.1151 7.95713 25.3797V31.4162C7.95713 34.6842 10.5504 37.3403 13.7339 37.3403C16.9206 37.3403 19.5106 34.6809 19.5106 31.4162V25.3797C19.5106 22.1118 16.9174 19.4557 13.7339 19.4557Z" fill="#F7941D"/>
                  <path d="M21.8491 58H5.27357C2.36746 58 0 55.5754 0 52.5919V46.3537C0 45.1265 0.741848 43.906 2.20942 42.7251C3.40283 41.7659 4.81879 41.0448 6.4186 40.5818L11.5567 39.1032C11.9857 38.9842 12.4308 39.2355 12.5501 39.6755C12.6695 40.1154 12.4211 40.5685 11.9921 40.6942L6.85403 42.1728C5.4542 42.5763 4.22854 43.1981 3.20285 44.0251C2.47713 44.6105 1.60949 45.4904 1.60949 46.3537V52.5919C1.60949 54.6625 3.25446 56.3494 5.27357 56.3494H21.8458C23.8649 56.3494 25.5099 54.6625 25.5099 52.5919V46.3537C25.5099 45.4904 24.6423 44.6105 23.9165 44.0251C22.8909 43.1981 21.662 42.5763 20.2654 42.1728L15.2756 40.7372C14.8466 40.6148 14.5983 40.1584 14.7176 39.7185C14.8402 39.2785 15.2821 39.0239 15.7111 39.1462L20.7008 40.5818C22.3006 41.0415 23.7198 41.7626 24.9132 42.7251C26.3776 43.906 27.1194 45.1265 27.1194 46.3537V52.5919C27.1226 55.5754 24.7552 58 21.8491 58Z" fill="#F7941D"/>
                  <path d="M11.7728 40.7274C11.3277 40.7274 10.9665 40.3569 10.9665 39.9005V38.1672C10.9665 37.7108 11.3277 37.3403 11.7728 37.3403C12.2179 37.3403 12.5792 37.7108 12.5792 38.1672V39.9005C12.5792 40.3569 12.2179 40.7274 11.7728 40.7274Z" fill="#F7941D"/>
                  <path d="M15.4982 40.7671C15.0531 40.7671 14.6951 40.3966 14.6951 39.9435V38.1672C14.6951 37.7108 15.0563 37.3403 15.4982 37.3403C15.9433 37.3403 16.3045 37.7108 16.3045 38.1672V39.9435C16.3013 40.3999 15.9433 40.7671 15.4982 40.7671Z" fill="#F7941D"/>
                  <path d="M13.5597 47.7627C10.9858 47.7627 8.8925 44.9611 8.8925 41.5179C8.8925 41.1309 8.91831 40.7406 8.96991 40.3635C9.03442 39.9136 9.44082 39.5994 9.87948 39.6623C10.3214 39.7251 10.6246 40.1452 10.5633 40.595C10.5213 40.896 10.4988 41.2069 10.4988 41.5179C10.4988 44.0085 11.8986 46.1122 13.5565 46.1122C15.2143 46.1122 16.6174 44.0085 16.6174 41.5179C16.6174 41.2036 16.5948 40.896 16.5529 40.595C16.4884 40.1452 16.7948 39.7251 17.2335 39.6589C17.6753 39.5928 18.0817 39.907 18.1463 40.3569C18.1979 40.7339 18.2269 41.1242 18.2269 41.5145C18.2301 44.9611 16.1368 47.7627 13.5597 47.7627Z" fill="#F7941D"/>
                  <path d="M16.1529 26.2828C15.4466 26.2828 14.7918 26.134 14.1725 25.8429C13.4016 25.4791 12.9146 24.9565 12.5276 24.5364C12.1115 24.0832 11.8567 23.8252 11.4438 23.7293C10.5052 23.511 9.22472 24.2618 7.74102 25.9058C7.43783 26.2398 6.92821 26.2597 6.60245 25.9488C6.27668 25.6411 6.25733 25.1185 6.56052 24.7812C8.50867 22.6246 10.2214 21.748 11.8018 22.1218C12.7082 22.3335 13.2307 22.8958 13.6919 23.3952C14.0338 23.7624 14.3564 24.1097 14.8434 24.3412C15.6917 24.7415 17.0141 24.9895 19.7912 23.3622C20.1783 23.1339 20.6685 23.2729 20.8879 23.6698C21.1072 24.0667 20.975 24.5695 20.5879 24.7944C18.8946 25.79 17.4399 26.2828 16.1529 26.2828Z" fill="#F7941D"/>
                  <path d="M35.3668 40.2676C30.5609 40.2676 25.9389 38.4682 22.3458 35.2035C22.0135 34.9025 21.9813 34.3799 22.278 34.0392C22.5715 33.6985 23.0812 33.6688 23.4134 33.9698C26.7098 36.9665 30.9544 38.6171 35.3668 38.6171C45.3044 38.6171 53.3905 30.3247 53.3905 20.1338C53.3905 9.94286 45.3044 1.65053 35.3668 1.65053C26.9065 1.65053 19.4945 7.79949 17.7366 16.2704C17.6463 16.717 17.2141 17.0014 16.7851 16.9088C16.3497 16.8129 16.0723 16.3763 16.1626 15.9297C18.0785 6.69803 26.155 0 35.3668 0C46.1913 0 55 9.03325 55 20.1338C55 31.2343 46.1946 40.2676 35.3668 40.2676Z" fill="#F7941D"/>
                  <path d="M35.3668 37.122C30.5738 37.122 26.0195 34.9952 22.8683 31.284C22.578 30.9433 22.6135 30.4207 22.9489 30.1197C23.2811 29.822 23.7908 29.8551 24.0843 30.1991C26.9291 33.5498 31.0415 35.4682 35.37 35.4682C43.6175 35.4682 50.3264 28.5882 50.3264 20.1305C50.3264 11.6728 43.6175 4.79286 35.37 4.79286C28.2806 4.79286 22.1168 9.95614 20.7105 17.0676C20.6202 17.5142 20.1944 17.8019 19.7622 17.7126C19.3235 17.6233 19.0429 17.1867 19.13 16.7402C20.6879 8.8613 27.5161 3.14233 35.3668 3.14233C44.5012 3.14233 51.9326 10.7632 51.9326 20.1305C51.9358 29.5012 44.5045 37.122 35.3668 37.122Z" fill="#F7941D"/>
                  <path d="M42.595 28.3732C42.3886 28.3732 42.1822 28.2938 42.0273 28.1318L34.7991 20.7193C34.6476 20.5638 34.5637 20.3554 34.5637 20.1371V11.3486C34.5637 10.8922 34.9249 10.5217 35.37 10.5217C35.8152 10.5217 36.1764 10.8922 36.1764 11.3486V19.7898L43.1691 26.9609C43.482 27.2817 43.482 27.8043 43.1691 28.1285C43.0079 28.2905 42.8014 28.3732 42.595 28.3732Z" fill="#F7941D"/>
              </svg>
              <p>We work 24/7</p>
          </div>
          <div class="s-item d-flex align-items-center">
              <svg width="39" height="43" viewBox="0 0 39 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M29.5996 43H0.565914C0.25353 43 0 42.7416 0 42.4233V0.576748C0 0.258383 0.25353 0 0.565914 0H22.3717C22.5234 0 22.666 0.0599818 22.7724 0.16841L30.0002 7.53232C30.1066 7.64075 30.1655 7.7884 30.1655 7.94066V13.1037C30.1655 13.4221 29.912 13.6805 29.5996 13.6805C29.2872 13.6805 29.0337 13.4221 29.0337 13.1037V8.18059L22.1386 1.1535H1.13183V41.8465H29.0337V25.6999C29.0337 25.3815 29.2872 25.1231 29.5996 25.1231C29.912 25.1231 30.1655 25.3815 30.1655 25.6999V42.4233C30.1655 42.7416 29.912 43 29.5996 43Z" fill="#F7941D"/>
                  <path d="M29.5996 8.51738H22.3627C22.2133 8.51738 22.0684 8.45739 21.962 8.34897C21.8556 8.24054 21.7968 8.09289 21.7968 7.94063L21.8058 0.576715C21.8058 0.343708 21.9439 0.133772 22.1567 0.0437997C22.3672 -0.043866 22.6117 0.00458084 22.7724 0.168377L29.998 7.53229C30.161 7.69839 30.2085 7.94524 30.1202 8.1621C30.0342 8.37896 29.8282 8.51738 29.5996 8.51738ZM22.9286 7.36388H28.2323L22.9354 1.96783L22.9286 7.36388Z" fill="#F7941D"/>
                  <path d="M19.8998 29.7901C19.7504 29.7901 19.6078 29.7302 19.4991 29.6217C19.3656 29.4856 19.3067 29.2918 19.3429 29.105L19.9722 25.7967C19.9949 25.6837 20.0469 25.5799 20.1284 25.4991L31.5599 13.8488C31.6663 13.7404 31.8089 13.6804 31.9606 13.6804C32.11 13.6804 32.2548 13.7404 32.3612 13.8488L34.9757 16.5134C35.1976 16.7395 35.1976 17.104 34.9757 17.3301L23.5443 28.9804C23.4651 29.0611 23.3632 29.1165 23.2523 29.1396L20.0062 29.7809C19.9722 29.7878 19.936 29.7901 19.8998 29.7901ZM21.052 26.1889L20.6151 28.4844L22.8674 28.0391L33.776 16.9217L31.9606 15.0715L21.052 26.1889Z" fill="#F7941D"/>
                  <path d="M35.8835 16.1674C35.7386 16.1674 35.5937 16.1121 35.4828 15.999L32.8683 13.3322C32.7619 13.2237 32.703 13.0784 32.703 12.9238C32.703 12.7692 32.7619 12.6239 32.8683 12.5155L34.4189 10.9352C34.6407 10.7091 34.9984 10.7091 35.2202 10.9352L37.837 13.5998C37.9434 13.7082 38.0023 13.8535 38.0023 14.0081C38.0023 14.1604 37.9434 14.308 37.837 14.4164L36.2864 15.9967C36.1732 16.1098 36.0283 16.1674 35.8835 16.1674ZM34.068 12.9238L35.8835 14.774L36.6327 14.0104L34.8173 12.1602L34.068 12.9238Z" fill="#F7941D"/>
                  <path d="M28.5492 20.9774C28.4043 20.9774 28.2595 20.9221 28.1486 20.809C27.9267 20.5829 27.9267 20.2184 28.1486 19.9923L32.8683 15.1823C33.0901 14.9562 33.4478 14.9562 33.6696 15.1823C33.8915 15.4083 33.8915 15.7728 33.6696 15.9989L28.9476 20.809C28.839 20.9197 28.6941 20.9774 28.5492 20.9774Z" fill="#F7941D"/>
                  <path d="M23.1459 29.1488C23.001 29.1488 22.8561 29.0934 22.7452 28.9804L20.1284 26.3158C19.9066 26.0897 19.9066 25.7252 20.1284 25.4992C20.3503 25.2731 20.7079 25.2731 20.9298 25.4992L23.5466 28.1637C23.7684 28.3898 23.7684 28.7543 23.5466 28.9804C23.4356 29.0934 23.2908 29.1488 23.1459 29.1488Z" fill="#F7941D"/>
                  <path d="M9.99404 7.94305H4.85554C4.54316 7.94305 4.28963 7.68466 4.28963 7.3663C4.28963 7.04793 4.54316 6.78955 4.85554 6.78955H9.99404C10.3064 6.78955 10.56 7.04793 10.56 7.3663C10.56 7.68466 10.3064 7.94305 9.99404 7.94305Z" fill="#F7941D"/>
                  <path d="M25.0926 18.3268H4.85554C4.54316 18.3268 4.28963 18.0685 4.28963 17.7501C4.28963 17.4317 4.54316 17.1733 4.85554 17.1733H25.0926C25.405 17.1733 25.6585 17.4317 25.6585 17.7501C25.6585 18.0685 25.4073 18.3268 25.0926 18.3268Z" fill="#F7941D"/>
                  <path d="M19.4335 23.52H4.85554C4.54316 23.52 4.28963 23.2616 4.28963 22.9432C4.28963 22.6248 4.54316 22.3665 4.85554 22.3665H19.4335C19.7459 22.3665 19.9994 22.6248 19.9994 22.9432C19.9994 23.2616 19.7459 23.52 19.4335 23.52Z" fill="#F7941D"/>
                  <path d="M16.6039 28.7128H4.85554C4.54316 28.7128 4.28963 28.4544 4.28963 28.1361C4.28963 27.8177 4.54316 27.5593 4.85554 27.5593H16.6017C16.914 27.5593 17.1676 27.8177 17.1676 28.1361C17.1698 28.4521 16.9163 28.7128 16.6039 28.7128Z" fill="#F7941D"/>
                  <path d="M25.3099 36.2106H20.7057C20.3933 36.2106 20.1398 35.9522 20.1398 35.6339C20.1398 35.3155 20.3933 35.0571 20.7057 35.0571H25.3099C25.6223 35.0571 25.8759 35.3155 25.8759 35.6339C25.8759 35.9522 25.6223 36.2106 25.3099 36.2106Z" fill="#F7941D"/>
              </svg>
              <p>100% satisfaction guaranteed</p>
          </div>
          <div class="s-item d-flex align-items-center">
              <svg width="57" height="55" viewBox="0 0 57 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M40.1311 54.9997C37.4384 54.9997 34.8007 53.9277 32.7957 51.8953C30.2955 49.361 29.241 45.6774 29.9868 42.1858L25.3471 37.4828C25.0506 37.1823 25.0506 36.6928 25.3471 36.3892C25.6436 36.0855 26.1265 36.0886 26.426 36.3892L31.3683 41.3988C31.5609 41.594 31.6342 41.876 31.567 42.1424C30.7692 45.2312 31.6526 48.5493 33.8746 50.8048C36.2128 53.1717 39.5565 54.0113 42.6527 53.0819L37.631 47.9917C36.5092 46.8547 36.5092 45.002 37.631 43.865L39.422 42.0494C40.5071 40.9496 42.4112 40.9527 43.4932 42.0494L48.6036 47.2295C49.6275 44.0446 48.8175 40.4849 46.4396 38.0745C44.2176 35.8222 40.9411 34.9237 37.8938 35.7355C37.6309 35.8067 37.3528 35.7293 37.1603 35.5341L32.2149 30.5182C31.9185 30.2177 31.9185 29.7282 32.2149 29.4246C32.5114 29.1209 32.9943 29.124 33.2939 29.4246L37.9335 34.1275C41.3781 33.3685 45.0123 34.4373 47.5124 36.9747C50.6086 40.1131 51.4338 44.9183 49.5664 48.9304C49.4594 49.1566 49.2515 49.3177 49.007 49.361C48.7625 49.4013 48.5119 49.3239 48.3377 49.1473L42.4082 43.14C41.9008 42.6257 41.0022 42.6257 40.4948 43.14L38.7038 44.9555C38.1781 45.4915 38.1781 46.359 38.7038 46.8949L44.5691 52.8402C44.7463 53.0199 44.8258 53.2802 44.78 53.528C44.7341 53.779 44.5691 53.9897 44.3368 54.0919C42.9797 54.7022 41.5463 54.9997 40.1311 54.9997Z" fill="#F7941D"/>
                  <path d="M17.0397 28.7432C16.8441 28.7432 16.6485 28.6688 16.5018 28.517L12.6231 24.5886C9.17853 25.3476 5.54442 24.2757 3.04425 21.7414C-0.0519227 18.603 -0.877162 13.7978 0.990324 9.78568C1.0973 9.55952 1.30514 9.39841 1.54965 9.35194C1.79417 9.30857 2.0448 9.38912 2.21901 9.56571L8.14851 15.5761C8.65588 16.0904 9.55447 16.0904 10.0618 15.5761L11.8499 13.7606C12.1035 13.5034 12.2441 13.1595 12.2441 12.7909C12.2441 12.4222 12.1035 12.0783 11.8499 11.8212L5.98455 5.87583C5.80728 5.69304 5.72781 5.4359 5.77366 5.18495C5.8195 4.934 5.98761 4.72333 6.21684 4.62109C10.1749 2.85825 14.7046 3.72263 17.7641 6.82077C20.2642 9.35504 21.3187 13.0387 20.5729 16.5303L24.6411 20.6508C24.9375 20.9545 24.9375 21.444 24.6411 21.7445C24.3446 22.045 23.8617 22.045 23.5621 21.7445L19.1914 17.3172C18.9989 17.1221 18.9225 16.8401 18.9928 16.5737C19.7936 13.4849 18.9072 10.1667 16.6852 7.91441C14.35 5.54433 11.0063 4.70784 7.90705 5.63728L12.9288 10.7275C13.4698 11.2759 13.7693 12.0101 13.7693 12.7909C13.7693 13.5716 13.4728 14.3059 12.9288 14.8542L11.1377 16.6697C10.0557 17.7665 8.15157 17.7696 7.06653 16.6697L1.95922 11.4897C0.935308 14.6745 1.74527 18.2343 4.12318 20.6446C6.34521 22.9001 9.61866 23.7954 12.6659 22.9868C12.9288 22.9156 13.2069 22.993 13.3995 23.1882L17.5807 27.4234C17.8772 27.7239 17.8772 28.2134 17.5807 28.517C17.4309 28.6688 17.2353 28.7432 17.0397 28.7432Z" fill="#F7941D"/>
                  <path d="M8.8668 51.1581C7.5892 51.1581 6.26576 50.4734 4.9301 49.1164C3.47218 47.6386 2.79976 46.1794 2.93424 44.7759C3.0779 43.2733 4.11709 42.381 4.39522 42.1673L31.5792 15.3715C31.7534 14.6775 32.2822 12.0813 31.0871 10.1202C30.323 8.87781 28.9751 8.08779 27.0801 7.77178C25.8148 7.55801 24.6411 7.76249 23.6967 7.92359C22.6055 8.11257 21.6641 8.27368 21.0223 7.66025C20.4538 7.11497 20.4752 6.2506 20.5424 5.64956C20.6799 4.40411 21.6763 3.20513 23.3513 2.27259C26.0685 0.757604 30.4422 0.0326402 33.5445 1.57241C35.8063 2.69704 37.5118 3.76589 38.6427 4.47536C39.2539 4.85644 39.8805 5.253 40.1403 5.35214C40.2412 5.31186 40.4093 5.22201 40.5285 5.15695C41.0939 4.85334 41.9467 4.39172 42.7994 4.87193C43.1356 5.06091 49.0009 10.1604 49.1079 11.4833C49.1201 11.6506 49.1293 11.9357 49.1385 12.2858C49.1538 12.9704 49.2027 15.0555 49.4686 15.4675C50.0218 16.0221 50.8959 16.5488 51.3636 16.4187C52.9162 15.9911 56.1561 19.8049 56.1866 19.8421C56.7429 20.5299 57.2136 21.2518 56.8988 21.8869C56.856 21.9767 50.1471 30.1651 48.6403 29.784C47.6958 29.5455 44.3276 26.026 43.753 24.9664C43.6369 24.7558 43.4993 24.4335 43.6185 24.0742C43.6491 23.9657 43.7072 23.4019 43.3557 22.9C42.9706 22.3485 42.179 22.0294 41.0695 21.9767C39.257 21.89 38.5632 21.9581 38.3217 21.9984L11.7888 49.6555C11.5779 49.9374 10.7007 50.9908 9.21523 51.1364C9.09603 51.155 8.97988 51.1581 8.8668 51.1581ZM25.9462 6.13287C26.3863 6.13287 26.8509 6.16385 27.3277 6.2444C29.6842 6.63786 31.3867 7.67264 32.3861 9.32085C34.1344 12.2021 33.031 15.861 32.9852 16.0159C32.9454 16.1367 32.8782 16.2483 32.7896 16.3381L5.41607 43.3167C5.38245 43.3477 5.34883 43.3786 5.31215 43.4034C5.28465 43.422 4.52971 43.9704 4.44718 44.9432C4.37077 45.8479 4.9087 46.9105 6.00597 48.0227C7.10323 49.135 8.1577 49.6771 9.04407 49.6028C10.0038 49.5191 10.5448 48.7539 10.5662 48.7198C10.5906 48.6857 10.6212 48.6486 10.6487 48.6176L37.1633 20.9822C37.1664 20.9791 37.1694 20.9729 37.1725 20.9698C37.4354 20.5423 37.8541 20.2789 41.1337 20.4339C43.1815 20.533 44.1595 21.3664 44.6211 22.048C45.1834 22.8783 45.2109 23.7705 45.1223 24.2972C45.5838 25.0873 48.0045 27.5348 48.8634 28.173C50.1165 27.2807 54.4964 22.5685 55.4042 21.3695C54.906 20.4462 52.415 18.1381 51.6661 17.9337C50.1685 18.2714 48.6556 16.8307 48.3621 16.5333C47.7936 15.957 47.6622 14.6651 47.6072 12.3229C47.6011 12.0689 47.598 11.852 47.5889 11.7002C47.0845 10.7801 42.7138 6.60688 42.0506 6.22271C41.9253 6.15455 41.479 6.39311 41.2376 6.52013C40.935 6.68433 40.6202 6.85163 40.287 6.9012C39.7369 6.98176 39.1806 6.63167 37.8327 5.78588C36.6621 5.05162 35.0605 4.04782 32.866 2.95728C30.268 1.66846 26.4016 2.34075 24.0848 3.62648C22.8775 4.30187 22.1379 5.10119 22.0584 5.81995C21.9942 6.39621 22.0829 6.54802 22.0829 6.55112C22.2234 6.60998 22.9295 6.48915 23.443 6.39931C24.1276 6.28158 24.9865 6.13287 25.9462 6.13287Z" fill="#F7941D"/>
              </svg>
              <p>New and modern equipment</p>
          </div>
      </div>
    </div>
    <div class="reviews">
      <div class="category category-0" style="background-color:#ffffff;" >
      <div class="container">
          <h4>What Our Customers Think About Us?</h4>
              <h3 class="reviews__title">Recent Appliance Repair Reviews in Los Angeles</h3>
                                <div  class="review-card">
                                             <div>
                                                 <div class="review-card__sp-name-link">Ilya Kudryashov</div>
                                                 <div>
                                                     <div class="Rating-Display-Wrapper">
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <span>
                                                             <span class="rating-number" style="font-size:1em">5.0</span>
                                                         </span>
                                                     </div>
                                             </div>
                                             <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                                 <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                             </svg>
                                             <div>Excellent service! They repaired my Thermodoor refrigerator right away! I am glad that Pasadena has the Same day appliance repair company with professionals!</div>
                                             <div class="review-card__author">Google review on November 2 2023</div>
                                         </div></div>
                          
                                         <div  class="review-card">
                                             <div>
                                                 <div>Alex</div>
                                                 <div>
                                                     <div>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <span>
                                                             <span class="rating-number" style="font-size:1em">5.0</span>
                                                         </span>
                                                     </div>
                                             </div>
                                             <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                                 <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                             </svg>
                                             <div class="review">Thanks to Same day appliance repair for quickly coming to Santa Monica to repair my Sub Zero refrigerator! Now my fridge works perfectly. Very polite staff and nice prices! I will contact you again!</div>
                                             <div class="review-card__author">Google review on November 2 2023</div>
                                         </div></div>
                                         <div class="review-card">
                                             <div>
                                                 <div>Brian S.</div>
                                                 <div>
                                                     <div>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                         </svg>
                                                         <span>
                                                             <span class="rating-number" style="font-size:1em">5.0</span>
                                                         </span>
                                                     </div>
                                                 </div>
                                             </div>
                                             <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                                 <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                             </svg>
                                             <div>The technicians arrived promptly as scheduled and promptly began the repair work. They efficiently identified the issue and offered valuable insights and information throughout the process.</div>
                                             <div class="review-card__author">on October 5 2023</div>
                                         </div>
                                     <div class="review-card">
                                         <div>
                                             <div>Tim K.</div>
                                             <div>
                                                 <div>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                     </svg>
                                                     <span>
                                                         <span class="rating-number" style="font-size:1em">5.0</span>
                                                     </span>
                                                 </div>
                                             </div>
                                         </div>
                                         <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                             <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                         </svg>
                                         <div>The team was highly responsive, communicating through both text and email. Scheduling an appointment was effortless, and they were able to accommodate a same-day service. I will definitely turn to them again for future needs.</div>
                                         <div class="review-card__author">on August 10 2023</div>
                                     </div>
                                     <div class="review-card">
                                     <div>
                                         <div>Samuel B.</div>
                                         <div>
                                             <div class="Rating-Display-Wrapper">
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                     <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                                 </svg>
                                                 <span>
                                                     <span class="rating-number" style="font-size:1em">5.0</span>
                                                 </span>
                                             </div>
                                         </div>
                                     </div>
                                     <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                         <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                     </svg>
                                     <div>Professional and thorough. The team was patient and considerate, taking the time to ensure a comprehensive job. They were friendly and provided expert guidance on the most effective solution to resolve the issue.</div>
                                     <div class="review-card__author">on August 10 2023</div>
                                 </div>
                                     <div class="review-card">
                                 <div>
                                     <div>Jim P.</div>
                                     <div>
                                         <div class="Rating-Display-Wrapper">
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <svg width="1.5em" height="1.5em" viewBox="0 0 40 40" class="full-star" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M11.2466 35.1135C10.0601 35.7278 8.67346 34.7356 8.90005 33.4346L10.5718 23.8358L3.49016 17.038C2.53029 16.1166 3.05996 14.5113 4.38646 14.3214L14.1731 12.921L18.5498 4.18778C19.143 3.00406 20.857 3.00406 21.4502 4.18778L25.8269 12.921L35.6135 14.3214C36.94 14.5113 37.4697 16.1166 36.5098 17.038L29.4282 23.8358L31.0999 33.4346C31.3265 34.7356 29.9399 35.7278 28.7534 35.1135L20 30.5816L11.2466 35.1135Z" fill="#FAA500"></path>
                                             </svg>
                                             <span>
                                                 <span class="rating-number" style="font-size:1em">5.0</span>
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                                 <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 1000 1000">
                                     <path fill="currentColor" d="M222 412q59 0 109 29t79 79 29 109-29 108.5-79 78.5-109 29-108.5-29T35 737.5 6 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-119 23.5T219 379q-14 14-31 36 17-3 34-3zm557 0q59 0 108.5 29t78.5 79 29 109-29 108.5-78.5 78.5T779 845t-109-29-79-78.5T562 629l-1-31q0-118 59-218 58-98 156-156 100-59 218-59v124q-62 0-118.5 23.5T775 379q-16 16-30 36 17-3 34-3z"></path>
                                 </svg>
                                 <div>Very helpfull. Fixed the issue very fast. I highly recommend Same Day Alliance Repair based on their excellent service</div>
                                 <div class="review-card__author">on June 12 2023</div>
                             </div></div>
                                 
                  </div></div>
    
    <iframe title="Same Day Appliance Repair in Los Angeles county" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1697927.8104647622!2d-119.61861138312679!3d33.77964772289582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2ad30164cd31%3A0x837d28d6cfbd392a!2sLos%20Angeles%20County%2C%20CA!5e0!3m2!1sen!2sus!4v1699301203257!5m2!1sen!2sus" style="border:0; width:100%; height:450px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
    <Logos />
    <Cta />
  </Container>
</Layout>
