---
import Cta from "@components/cta.astro";
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar.astro";
import ReviewsFull from "@components/reviews-full.astro";



const description = "Looking for reliable same day appliance repair in Los Angeles and nearby areas? Read Google & Thumbtack reviews from real customers. More help: (424) 325-0573";
const title ="Same Day Appliance Repair Reviews - LA & Nearby Areas";
---

<title>{title}</title>
<meta name="description" content={description} />

<Navbar />
 
  <main>
    <ReviewsFull />
  </main>
 
<Cta />
