---
import "components/css-components/style-anchor-areas.css";
---

<div class="faq-price-list">
  <p>
    <a class="anchor" href="#home-anchor">Home Appliance Repair</a>
    |<a class="anchor" href="#commercial-anchor">Commercial Appliance Repair</a>
    |<a class="anchor" href="#feedbackReviews">Reviews </a>
  </p>
</div>
