---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Services",
    path: "/services/commercial-and-household",
    children: [
    { title: "Refrigerator Repair", path: "/services/refrigerator-repair" },
    { title: "Freezer Repair", path: "/services/freezer-repair" },
    { title: "Washing Machine Repair", path: "/services/washing-machine-repair" },
    { title: "Dryer Repair", path: "/services/dryer-repair" },
    { title: "Stove/Range Repair", path: "/services/stove-repair" },
    { title: "Dishwasher Repair", path: "/services/dishwasher-repair" },
    { title: "Oven Repair", path: "/services/oven-repair"},
    { title: "Cooktop Repair", path: "/services/cooktop-repair"},
    { title: "Microwave Repair", path: "/services/microwave-repair"},
    { title: "Range Hood Repair", path: "/services/range-hood-repair"},
    { title: "Fireplace Repair", path: "/services/fireplace-repair"},
    { title: "BBQ Grill Repair", path: "/services/bbq-grill-repair"},
    { title: "____________________" },
    { title: "Commercial Refrigerator Repair", path: "/services/commercial-refrigerator-repair-los-angeles" },
    { title: "Commercial Freezer Repair", path: "/services/commercial-freezer-repair" },
    { title: "Commercial Dishwasher Repair", path: "/services/commercial-dishwasher-repair"},
    { title: "Commercial Dryer Repair", path: "/services/commercial-dryer-repair"},
    
    ],
  },
  {
    title: "Service Areas",
    path: "/areas/los-angeles-and-surrounding-areas",
    children: [
    { title: "Los Angeles", path: "/areas//los-angeles" },
    { title: "Pasadena", path: "/areas//pasadena" },  
    { title: "Los Feliz", path: "/areas/los-feliz" },
      { title: "Marina Del Rey", path: "/areas/marina-del-rey" },
      { title: "Santa Monica", path: "/areas/santa-monica" },
      { title: "Los Angeles County", path: "/areas/los-angeles-and-surrounding-areas" },
    ],
  },
  {
    title: "Brands",
    path: "/brands/commercial-and-household",
  },
  {
    title: "Reviews",
    path: "#reviews",
  },
  {
    title: "Price List",
    path: "/price-list/appliance-reapir-cost",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">SAME DAY</span><span
            class="text-slate-500">Appliance Repair</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="tel:+14243250520" style="muted" block size="md">CALL US: (424) 325-0520</Link>
          <Link href="/book" size="md" block>BOOK US</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="tel:+14243250520">CALL US: (424) 325-0520</a>
        <Link href="/book" size="md">BOOK US</Link>
      </div>
    </div>
  </header>
</Container>
