---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Layout from "@layouts/Layout.astro";

import "components/css-components/style-header.css";

const menuitems = [
  {
    title: "Household Appliance Services",
    path: "/services/commercial-and-household",
    children: [
      { title: "Refrigerator Repair", path: "/services/refrigerator-repair" },
      { title: "Freezer Repair", path: "/services/freezer-repair" },
      {
        title: "Washing Machine Repair",
        path: "/services/washing-machine-repair",
      },
      { title: "Dryer Repair", path: "/services/dryer-repair" },
      { title: "Stove/Range Repair", path: "/services/stove-repair" },
      { title: "Dishwasher Repair", path: "/services/dishwasher-repair" },
      { title: "Oven Repair", path: "/services/oven-repair" },
      { title: "Cooktop Repair", path: "/services/cooktop-repair" },
      { title: "Microwave Repair", path: "/services/microwave-repair" },
      { title: "Range Hood Repair", path: "/services/range-hood-repair" },
      { title: "Fireplace Repair", path: "/services/fireplace-repair" },
      { title: "BBQ Grill Repair", path: "/services/bbq-grill-repair" },
    ],
  },
  {
    title: "Commercial Appliance Services",
    path: "/services/commercial-and-household",
    children: [
      {
        title: "Commercial Refrigerator Repair",
        path: "/services/commercial-refrigerator-repair-los-angeles",
      },
      {
        title: "Commercial Freezer Repair",
        path: "/services/commercial-freezer-repair",
      },
      {
        title: "Commercial Dishwasher Repair",
        path: "/services/commercial-dishwasher-repair",
      },
      {
        title: "Commercial Dryer Repair",
        path: "/services/commercial-dryer-repair",
      },
    ],
  },

  {
    title: "HVAC Services",
    path: "/services/commercial-and-household",
    children: [
      {
        title: "Commercial Refrigerator Repair",
        path: "/services/commercial-refrigerator-repair-los-angeles",
      },
      {
        title: "Commercial Freezer Repair",
        path: "/services/commercial-freezer-repair",
      },
      {
        title: "Commercial Dishwasher Repair",
        path: "/services/commercial-dishwasher-repair",
      },
    ],
  },

  {
    title: "Service Areas",
    path: "/areas/los-angeles-and-surrounding-areas",
    children: [
      { title: "Los Angeles", path: "/areas/los-angeles" },
      { title: "Pasadena", path: "/areas/pasadena" },
      { title: "Los Feliz", path: "/areas/los-feliz" },
      { title: "Marina Del Rey", path: "/areas/marina-del-rey" },
      { title: "Santa Monica", path: "/areas/santa-monica" },
      {
        title: "Los Angeles County",
        path: "/areas/los-angeles-and-surrounding-areas",
      },
    ],
  },
  {
    title: "Brands",
    path: "/brands/commercial-and-household",
  },
  {
    title: "Prices / Oline Estimates",
    path: "/price-list/appliance-reapir-cost",
    children: [
      { title: "Dryer Repair Cost", path: "/price-list/dryer-repair-cost" },
      {
        title: "Dishwasher Repair Cost",
        path: "/price-list/dishwasher-repair-cost",
      },
      { title: "Oven Repair Cost", path: "/price-list/oven-repair-cost" },
      {
        title: "Refrigerator Repair Cost",
        path: "/price-list/refrigerator-repair-cost",
      },
      {
        title: "Freezer Repair Cost",
        path: "/price-list/freezer-repair-cost",
      },
      {
        title: "Range Repair Cost",
        path: "/price-list/range-repair-cost",
      },
      {
        title: "Stove Repair Cost",
        path: "/price-list/stove-repair-cost",
      },
      {
        title: "Commercial Refrigerator Repair Cost",
        path: "/price-list/commercial-refrigerator-repair-cost",
      },
      {
        title: "Cooktop Repair Cost",
        path: "/price-list/cooktop-repair-cost",
      },
      {
        title: "Microwave Repair Cost",
        path: "/price-list/microwave-repair-cost",
      },
      {
        title: "Range Hood Repair Cost",
        path: "/price-list/range-hood-repair-cost",
      },
      {
        title: "Fireplace Repair Cost",
        path: "/price-list/fireplace-repair-cost",
      },
      {
        title: "BBQ Grill Repair Cost",
        path: "/price-list/bbq-grill-repair-cost",
      },
      {
        title: "Commercial Freezer Repair Cost",
        path: "/price-list/commercial-freezer-repair-cost",
      },
      {
        title: "Commercial Ice Machine Repair Cost",
        path: "/price-list/commercial-ice-machine-repair-cost",
      },
    ],
  },
];
---

<Layout>
  <Container>
    <header
      class="flex flex-col lg:flex-row justify-between items-center my-5 header-full">
      <div class="inside-reviews_header-full">
        <div class="inside_header-full">
          <Astronav>
            <div class="flex w-full lg:w-auto items-center justify-between">
              <!-- картинка лого -->
              <div class="header-logo-main">
                <a href="/" class="text-lg"
                  ><span
                    class="font-bold text-slate-800 logo-header"
                    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                    ><img
                      src="/images/same-day-appalince-repair-logo.webp"
                      title="Same Day Appliance Repair Services"
                      width="244"
                      height="106"
                    /></span
                  ><span class="text-slate-500"></span>
                </a>
              </div>

              <div class="hidden lg:flex items-center gap-4">
                <div class="header-bootun">
                  <div class="call-header">
                    <a href="tel:+14243250520">(424) 325-0520</a>
                  </div>

                  <!--Start of Housecallpro Online booking button-->
                  <button
                    data-token="9e68ce292ba246dbba0fe928b98791f7"
                    data-orgname="Same-Day-Appliance-Repair"
                    class="hcp-button"
                    onClick="HCPWidget.openModal()">
                    BOOK NOW!
                  </button>
                  <script
                    async
                    src="https://online-booking.housecallpro.com/script.js?token=9e68ce292ba246dbba0fe928b98791f7&orgName=Same-Day-Appliance-Repair"
                  ></script>
                </div>
              </div>

              <!-- кнопка меню -->
              <div class="block lg:hidden">
                <div class="header-bootun-1024">
                  <div class="call-header-1024">
                    <a href="tel:+14243250520">(424) 325-0520</a>
                  </div>
                </div>
                <MenuIcon class="w-4 h-4 text-gray-800" />
              </div>
            </div>
            <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
              <ul
                class="flex flex-col lg:flex-row lg:gap-3 header-menu-content">
                {
                  menuitems.map((item, index) => (
                    <>
                      {item.children && (
                        <Dropdown
                          title={item.title}
                          children={item.children}
                          lastItem={index === menuitems.length - 1}
                        />
                      )}

                      {!item.children && (
                        <li>
                          <a
                            href={item.path}
                            class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                            <span> {item.title}</span>
                            {item.badge && (
                              <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                                New
                              </span>
                            )}
                          </a>
                        </li>
                      )}
                    </>
                  ))
                }
              </ul>
              <!--Red Buttons In the black header on Mobile-->
              <div class="lg:hidden flex items-center mt-3 gap-4">
                <Link href="tel:+14243250520" style="muted" block size="md"
                  >CALL: (424) 325-0520</Link
                >

                <!--Start of Housecallpro Online booking button-->
                <button
                  data-token="9e68ce292ba246dbba0fe928b98791f7"
                  data-orgname="Same-Day-Appliance-Repair"
                  class="hcp-button"
                  onClick="HCPWidget.openModal()">
                  Book!
                </button>
                <script
                  async
                  src="https://online-booking.housecallpro.com/script.js?token=9e68ce292ba246dbba0fe928b98791f7&orgName=Same-Day-Appliance-Repair"
                ></script>
                <!--End of Housecallpro Online booking button-->
              </div>
              <!--End Red Buttons In the black header on Mobile-->
            </MenuItems>
          </Astronav>
        </div>

        <!-- <div class="hidden lg:flex items-center gap-4">
            <div class="header-bootun">
              <div class="call-header">
                <a href="tel:+14243250520">(424) 325-0520</a>
              </div>

            
              <button
                data-token="9e68ce292ba246dbba0fe928b98791f7"
                data-orgname="Same-Day-Appliance-Repair"
                class="hcp-button"
                onClick="HCPWidget.openModal()">
                BOOK NOW!
              </button>
              <script
                async
                src="https://online-booking.housecallpro.com/script.js?token=9e68ce292ba246dbba0fe928b98791f7&orgName=Same-Day-Appliance-Repair"
              ></script>
            </div>
          </div> -->
      </div>
    </header>
  </Container>
</Layout>
