<ul class="black-list"> 
    <li><a href="/areas/alhambra/" title="Alhambra Appliance Repair"><strong>Alhambra</strong></a></li>
    <li><a href="/areas/beverly-hills/" title="Local Beverly Hills Appliance Repair"><strong>Beverly Hills</strong></a></li>
    <li><a href="/areas/brentwood/" title="Local Brentwood Appliance Repair"><strong>Brentwood</strong></a></li>
    <li><a href="/areas/burbank/" title="Local Burbank Appliance Repair"><strong>Burbank</strong></a></li>
    <li><a href="/areas/culver-city/" title="Local Culver City Appliance Repair"><strong>Culver City</strong></a></li>
    <li><a href="/areas/downtown-los-angeles/" title="Local DTLA Appliance Repair"><strong>DTLA</strong></a></li>
    <li><a href="/areas/east-hollywood/" title="Local East Hollywood Appliance Repair"><strong>East Hollywood</strong></a></li>
    <li><a href="/areas/glendale/" title="Local Glendale Appliance Repair"><strong>Glendale</strong></a></li>
    <li><a href="/areas/glessell-park/" title="Local Glessell Park Appliance Repair"><strong>Glessell Park</strong></a></li>
    <li><a href="/areas/hollywood/" title="Local Hollywood Appliance Repair"><strong>Hollywood</strong></a></li>
    <li><a href="/areas/hollywood-hills/" title="Local Hollywood Hills Appliance Repair"><strong>Hollywood Hills</strong></a></li>
    <li><a href="/areas/ladera-heights/" title="Local Ladera Heights Appliance Repair"><strong>Ladera Heights</strong></a></li>
    <li><a  href="/areas/los-angeles/" title="Local Los Angeles Appliance Repair"><strong>Los Angeles</strong></a></li>
    <li><a  href="/areas/los-feliz/" title="Local Los Feliz Appliance Repair"><strong>Los Feliz</strong></a></li>
    <li><a  href="/areas/malibu/" title="Local Malibu Appliance Repair"><strong>Malibu</strong></a></li>
    <li><a href="/areas/marina-del-rey/" title="Local Marina Del Rey Appliance Repair"><strong>Marina Del Rey</strong></a></li>
    <li><a href="/areas/monterey-park/" title="Local Monterey Park Appliance Repair"><strong>Monterey Park</strong></a></li>
    <li><a href="/areas/north-hollywood/" title="Local North Hollywood Appliance Repair"><strong>North Hollywood</strong></a></li>
    <li><a  href="/areas/pasadena/" title="Local Pasadena Appliance Repair"><strong>Pasadena</strong></a></li>
    <li><a href="/areas/pacific-palisades/" title="Local Pacific Palisades Appliance Repair"><strong>Pacific Palisades</strong></a></li>
    <li><a  href="/areas/playa-del-rey/" title="Local Playa Del Rey Appliance Repair"><strong>Playa Del Rey</strong></a></li>
    <li><a  href="/areas/san-marino/" title="Local San Marino Appliance Repair"><strong>San Marino</strong></a></li>
    <li><a  href="/areas/santa-monica/" title="Local Santa Monica Appliance Repair"><strong>Santa Monica</strong></a></li>
    <li><a href="/areas/silver-lake/" title="Local Silver Lake Appliance Repair"><strong>Silver Lake</strong></a></li>
    <li><a  href="/areas/south-pasadena/" title="Local South Pasadena Appliance Repair"><strong>South Pasadena</strong></a></li>
    <li><a  href="/areas/thousand-oaks/" title="Local Thousand Oaks Appliance Repair"><strong>Thousand Oaks</strong></a></li>
    <li><a href="/areas/west-hollywood/" title="Local West Hollywood Appliance Repair"><strong>West Hollywood</strong></a></li>
</ul>