---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
---

<!--Reviews -->
<h2 id="reviews">Real Customer Reviews From Our <a href="https://www.thumbtack.com/ca/los-angeles/dishwasher-installation/same-day-appliance-repair/service/474673684619198464" title="Thumbtack Reviews" target="_blank">Thumbtack Profile</a></h2>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-b69045ef-2bc6-4ac0-a4a3-5c17e1820cd5" data-elfsight-app-lazy></div>
<!--End reviews -->

<h2><span data-color="var(--blue-10)" style="background-color: var(--blue-10); color: inherit">Expert Appliance Repair Services Across All LA Locations</span></h2>
<p>Our skilled expert appliance repair technicians have extensive experience in servicing and maintaining appliances from leading brands across various locales in the Los Angeles Area. Their expertise enables us to provide a diverse array of local services for home appliances and businesses.</p>
<p>We serve the following Los Angeles cities and surrounding areas: <strong>Burbank</strong>, <strong>
  Monterey Park</strong>, <strog>Universal City</strog>, <strong>Thousand Oaks</strong>, San Marino, <strong>Altadena, Alhambra </strong>Pasadena, South Pasadena, Santa Monica, Hollywood, West Hollywood Glendale, <strong>Highland Park, Verdugo Woodlands, Atwater Village, Glassell Park, Mount Washington, Eagle Rock</strong>, <strong>Highland Park, Cypress Park, Montecito Heights, Lincoln Heights, East Hollywood, Beverly Hills, Hollywood Hills, Fairfax, Mid City, Downtown Los Angeles, Pacific Palisades, Point 18Big Rock, Eastern Malibu, Chinatown Los Angeles, Echo Park Los Angeles, Silver Lake, Westlake South, Los Feliz, Koreatown, Marina Del Rey, Playa Del Rey, Venice, Culver City, Westdale, West Los Angeles, Northeast, Westwood, Ladera Heights, Bel Air, Beverly Glen, South Beverly Park, Trousdale Estates, The Bird Streets Beverly Ridge Estates, Holmby Hills.</strong></p>
<iframe loading="lazy" width="100%" height="400" title="Same Day APpliance Repair - areas we serve" src="https://www.google.com/maps/d/u/2/embed?mid=1WYfJlezd7yel0cIXNhjCrg5PrRJVxh0&ehbc=2E312F" style="border:0;"></iframe>
<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">

<div class="two-col-grid"><div class="col-one">
  <h4 style="color:#ffffff; font-size:20px;">
    Don't Wait! Contact Us Today.
  </h4>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">  
  </p>
  <div class="flex mt-5">
    <Link href="tel:14243250520" style="inverted">Call: (424) 325-0520</Link>&nbsp;&nbsp;<Link href="/book" style="inverted">Book</Link>
  </div>
</div>
<div class="col-two">
<h3 style="color:#ffffff; margin-top:0; padding-top:0;">
  Same Day Appliance Repair</h3>
   <p style="color:#ffffff;"><Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />435 E 30th St, Los Angeles, CA, 90011 <br>
    <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />Phone: <a style="color:#ffffff;" src="tell:+14243250520">(424) 325-0520</a><br>
<Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />email: info@samedayappliance.repair</p></div></div>