---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import Btn from "@components/btn.astro";
import ReviewsFull from "@components/reviews-full.astro";

import "@components/css-components/footer-cta.css";
// import ReviewsFull from "@components/reviews-full.astro";
---
</Layout>
<!--Reviews -->
<div id="reviews">
  <!-- скрипт отзывов грузит страницу на 17кб -->
  <div class="feedback" id="feedbackReviews">
    <!-- <ReviewsFull /> -->
    

    <!-- <script
      defer
      src="https://static.elfsight.com/platform/platform.js"
      data-use-service-core></script>

    <div
      class="elfsight-app-b69045ef-2bc6-4ac0-a4a3-5c17e1820cd5"
      data-elfsight-app-lazy>
    </div> -->

  </div>

  <h2>
    <span
      data-color="var(--blue-10)"
      style="background-color: var(--blue-10); color: inherit"
      >Expert Appliance Repair Services Across All LA Locations
      </span>
  </h2>

  <div class="feedback">
    <p>
      Our skilled expert appliance repair technicians have extensive experience
      in servicing and maintaining appliances from leading brands across various
      locales in the Los Angeles Area. Their expertise enables us to provide a
      diverse array of local services for home appliances and businesses.
    </p>
    <p>
      We serve the following Los Angeles cities and surrounding areas: <strong
        >Burbank</strong
      >, <strong> Monterey Park</strong>, <strog>Universal City</strog>, <strong
        >Thousand Oaks</strong
      >, San Marino, <strong>Altadena, Alhambra </strong>Pasadena, South
      Pasadena, Santa Monica, Hollywood, West Hollywood Glendale, <strong
        >Highland Park, Verdugo Woodlands, Atwater Village, Glassell Park, Mount
        Washington, Eagle Rock</strong
      >, <strong
        >Highland Park, Cypress Park, Montecito Heights, Lincoln Heights, East
        Hollywood, Beverly Hills, Hollywood Hills, Fairfax, Mid City, Downtown
        Los Angeles, Pacific Palisades, Point 18Big Rock, Eastern Malibu,
        Chinatown Los Angeles, Echo Park Los Angeles, Silver Lake, Westlake
        South, Los Feliz, Koreatown, Marina Del Rey, Playa Del Rey, Venice,
        Culver City, Westdale, West Los Angeles, Northeast, Westwood, Ladera
        Heights, Bel Air, Beverly Glen, South Beverly Park, Trousdale Estates,
        The Bird Streets Beverly Ridge Estates, Holmby Hills.</strong
      >
    </p>
  </div>

  <iframe
    loading="lazy"
    width="100%"
    height="400"
    title="Same Day Appliance Repair - areas we serve"
    src="https://www.google.com/maps/d/u/2/embed?mid=1WYfJlezd7yel0cIXNhjCrg5PrRJVxh0&ehbc=2E312F"
    style="border:0;">
  </iframe>

  <footer>

    <div class="full-footer">

      <div class="button-footer">

        <div class="a_button-footer">
          <h3>Same Day Appliance Repair</h3>
          <h3>Don't Wait! Contact Us Today.</h3>
        </div>

        <div class="b_button-footer">
          <div class="cal_button-footer">
            <a href="tel:+13238704790">Call: (323) 870-4790</a>
          </div>

          <div class="book_button-footer">
            <a href="/book/">BOOK</a>
          </div>
        </div>
        <div class="c_button-footer">
          <a target="_blank" href="https://samedayappliance.repair/sitemap.xml"
            >Sitemap</a
          >
          <h3 style="color:#ffffff; margin-top: 7px; ">Services</h3>

          <a target="_blank" href="/services/wine-cellar-repair/"
            >wine cellar repair</a
          ><br>
          <a target="_blank" href="/services/induction-cooktop-repair/" 
            >induction cooktop repair</a
          ><br>
          <a target="_blank" href="/services/wine-cooler-repair/"
            >wine cellcooler repair</a
          ><br>
          <a target="_blank" href="/services/commercial-and-household-los-angeles/"
            >Commercial and household</a
          >
          <br>
          <a target="_blank" href="/services/commercial-laundry-machine-repair-los-angeles/"
            >Commercial Laundry Machine</a
          >
          <br>
          <a target="_blank" href="/contact/"
            >Contact</a
          >
        </div>

      </div>

      <div class="address-footer">
        <div class="desc_address-footer">
          <h4 style="color:#ffffff;"><b>Los Angeles Location</b></h4>
          <div class="content_address-footer">
            <svg
              width="30px"
              height="30px"
              astro-icon="uil:map-marker"
              fill="fff"
              ><path
                fill="fff"
                d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8 8 0 0 0-8-8zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 0 1 12 0c0 3.34-3.87 7.66-6 9.65zM12 6a4 4 0 1 0 4 4 4 4 0 0 0-4-4zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"
              ></path></svg
            >
            <p>435 E 30th St, Los Angeles, CA, 90011</p>
          </div>
          <div class="content_address-footer">
            <svg width="30px" height="30px" astro-icon="uil:phone" fill="fff"
              ><path
                fill="fff"
                d="M19.44 13c-.22 0-.45-.07-.67-.12a9.44 9.44 0 0 1-1.31-.39 2 2 0 0 0-2.48 1l-.22.45a12.18 12.18 0 0 1-2.66-2 12.18 12.18 0 0 1-2-2.66l.42-.28a2 2 0 0 0 1-2.48 10.33 10.33 0 0 1-.39-1.31c-.05-.22-.09-.45-.12-.68a3 3 0 0 0-3-2.49h-3a3 3 0 0 0-3 3.41 19 19 0 0 0 16.52 16.46h.38a3 3 0 0 0 2-.76 3 3 0 0 0 1-2.25v-3a3 3 0 0 0-2.47-2.9zm.5 6a1 1 0 0 1-.34.75 1.05 1.05 0 0 1-.82.25A17 17 0 0 1 4.07 5.22a1.09 1.09 0 0 1 .25-.82 1 1 0 0 1 .75-.34h3a1 1 0 0 1 1 .79q.06.41.15.81a11.12 11.12 0 0 0 .46 1.55l-1.4.65a1 1 0 0 0-.49 1.33 14.49 14.49 0 0 0 7 7 1 1 0 0 0 .76 0 1 1 0 0 0 .57-.52l.62-1.4a13.69 13.69 0 0 0 1.58.46q.4.09.81.15a1 1 0 0 1 .79 1z"
              ></path></svg
            >
            <p>Phone: +1 (424) 325-0520</p>
          </div>

          <div class="content_address-footer">
            <svg
              width="30px"
              height="30px"
              astro-icon="uil:envelope"
              fill=" fff"
              ><path
                fill="fff"
                d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.41 2-5.88 5.88a1 1 0 0 1-1.42 0L5.41 6zM20 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7.41l5.88 5.88a3 3 0 0 0 4.24 0L20 7.41z"
              ></path></svg
            >
            <p>Email: info@samedayappliance.repair</p>
          </div>

          <div class="content_address-footer">
            <table>
              <tbody>
                <tr><td>Monday</td><td>8am - 8pm</td></tr>
                <tr><td>Tuesday</td><td>8am - 8pm</td></tr>
                <tr><td>Wednesday</td><td>8am - 8pm</td></tr>
                <tr><td>Thursday</td><td>8am - 8pm</td></tr>
                <tr><td>Friday</td><td>8am - 8pm</td></tr>
                <tr><td>Saturday</td><td>8am - 8pm</td></tr>
                <tr><td>Sunday</td><td>day off</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="address-footer">
        <div class="desc_address-footer">
          <h4 style="color:#ffffff;"><b>West Hollywood, CA Location</b></h4>
          <div class="content_address-footer">
            <svg
              width="30px"
              height="30px"
              astro-icon="uil:map-marker"
              fill="fff"
              ><path
                fill="fff"
                d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8 8 0 0 0-8-8zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 0 1 12 0c0 3.34-3.87 7.66-6 9.65zM12 6a4 4 0 1 0 4 4 4 4 0 0 0-4-4zm0 6a2 2 0 1 1 2-2 2 2 0 0 1-2 2z"
              ></path></svg
            >
            <p>8746 Rangely Ave, West Hollywood, CA, 90048</p>
          </div>

          <div class="content_address-footer">
            <svg width="30px" height="30px" astro-icon="uil:phone" fill="fff"
              ><path
                fill="fff"
                d="M19.44 13c-.22 0-.45-.07-.67-.12a9.44 9.44 0 0 1-1.31-.39 2 2 0 0 0-2.48 1l-.22.45a12.18 12.18 0 0 1-2.66-2 12.18 12.18 0 0 1-2-2.66l.42-.28a2 2 0 0 0 1-2.48 10.33 10.33 0 0 1-.39-1.31c-.05-.22-.09-.45-.12-.68a3 3 0 0 0-3-2.49h-3a3 3 0 0 0-3 3.41 19 19 0 0 0 16.52 16.46h.38a3 3 0 0 0 2-.76 3 3 0 0 0 1-2.25v-3a3 3 0 0 0-2.47-2.9zm.5 6a1 1 0 0 1-.34.75 1.05 1.05 0 0 1-.82.25A17 17 0 0 1 4.07 5.22a1.09 1.09 0 0 1 .25-.82 1 1 0 0 1 .75-.34h3a1 1 0 0 1 1 .79q.06.41.15.81a11.12 11.12 0 0 0 .46 1.55l-1.4.65a1 1 0 0 0-.49 1.33 14.49 14.49 0 0 0 7 7 1 1 0 0 0 .76 0 1 1 0 0 0 .57-.52l.62-1.4a13.69 13.69 0 0 0 1.58.46q.4.09.81.15a1 1 0 0 1 .79 1z"
              ></path></svg
            >
            <p>Phone: +1 (323) 870-4790</p>
          </div>

          <div class="content_address-footer">
            <svg
              width="30px"
              height="30px"
              astro-icon="uil:envelope"
              fill=" fff"
              ><path
                fill="fff"
                d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.41 2-5.88 5.88a1 1 0 0 1-1.42 0L5.41 6zM20 17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7.41l5.88 5.88a3 3 0 0 0 4.24 0L20 7.41z"
              ></path></svg>
            <p>Email: support@samedayappliance.repair</p>
          </div>

          <div class="content_address-footer">
            <table>
              <tbody>
                <tr><td>Monday</td><td>8am - 8pm </td></tr>
                <tr><td>Tuesday</td><td>8am - 8pm</td></tr>
                <tr><td>Wednesday</td><td>8am - 8pm</td></tr>
                <tr><td>Thursday</td><td>8am - 8pm</td></tr>
                <tr><td>Friday</td><td>8am - 8pm</td></tr>
                <tr><td>Saturday</td><td>8am - 8pm</td></tr>
                <tr><td>Sunday</td><td>day off</td></tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>

  </footer>

</div>