---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Same Day Service",
    description:
      "We have a quick response time, and repair appliances the same day in 90% of cases. Your piece of mind is our priority.",
    icon: "bx:bxs-bell",
  },
  {
    title: "3 Month Warraty",
    description:
      "We are confident in the quality of our service adressing any issues related to the repaired appliance within 3 months at no additional cost.",
    icon: "bx:bxs-bell",
  },
  {
    title: "Upfront Pricing",
    description:
      "After  our trained technician diagnoses the problem, customer recieves clear and detailed estimate for the cost of the repair before any work begins",
    icon: "bx:bxs-bell",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Same Day Appliance Repair Services for Commercial & Household Use
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Over the years, we have helped thousands of customers, alleviating the stress that comes when appliances malfunction. Our quick response time and efficient work ethic form the cornerstone of our operational approach, aiming to resolve your appliance issues promptly and proficiently.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
