<footer class="my-20">
 <!--Housecall pro chat bubble-->



  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()}. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by 
      Gain Top Skills
  </p>
  <script>
   // var TimeoutSeconds = 5

//setTimeout(function(){
  const chatBubble = document.createElement("script");
  chatBubble.setAttribute("id", "housecall-pro-chat-bubble");
  chatBubble.setAttribute("scr", "https://chat.housecallpro.com/proChat.js");
  chatBubble.setAttribute("type", "text/javascript");
  chatBubble.setAttribute("data-color", "0E6FBE");
  chatBubble.setAttribute("data-organization", "3fe576c5-6201-448a-a776-b450ad1cf95f");
  chatBubble.defer;
  document.append(chatBubble);
//}, TimeoutSeconds * 1000);
  </script>
</footer>
