---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---
<h1><span class="animate-charcter">
  Same Day</span> Appliance Repair
</h1>
<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <p>Same Day Appliance Repair - your destination for all your commercial and household appliance repair needs! We deliver professional appliance repair services, that you can rely on with confidence.<br><br> We have helped thousands of customers, alleviating the stress that comes when appliances malfunction. Our quick response time and efficient work ethic form the cornerstone of our operational approach, aiming to resolve your appliance issues promptly and proficiently.</p>
   <br><div class="callback">
    <form class='contact-form' id='simple-contact-form' method='POST' name='simpleContactForm'><input type='hidden' name='form-name' value='simpleContactForm' />
<!-- <form name="contact" method="POST" data-netlify="true" onSubmit="submit">-->
<label id="contact-form-name-label" for="contact-form-name" class="form-label">Name</label>
<input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" class="form-input">
<label id="contact-form-phone-label" for="contact-form-phone" class="form-label">Phone</label>
<input type="tel" name="phone" id="contact-form-phone" aria-labelledby="contact-form-phone-label" class="form-input">
<label id="contact-form-message-label" for="contact-form-message" class="form-label">Message</label>
<textarea name="message" id="contact-form-message" aria-labelledby="contact-form-message-label" class="form-textarea" rows="2"></textarea>
<button class="formbutton" type="submit" style="font-weight:900;">REQUEST A CALLBACK</button>
</form>
</div> 
  </div>

  <div class="text-lg mt-4 text-slate-600 max-w-xl">
      <img width="450" height="450" style="border-radius: 25px;" src="/images/same-day-appliance-repair-experts.webp">
     
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-6 h-6" name="bx:bxs-phone" />

         CALL US: (323)540-5890
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-6 h-6" name="bx:bxs-calendar" />
         BOOK US
      </Link>
    </div>
  </div>
</main>
