---
import "components/css-components/style-reviews-full.css";
---

<div class="page-reviews">
  <h2>Real Customer Reviews From Our Google and Thumbtack Profile</h2>

  <div class="reviews-head">
    <div class="reviews-head__content">
      <p>All Reviews</p>
      <p>4.9</p>
    </div>

    <div class="reviews-head__content">
      <p>Google</p>
      <p>5.0</p>
    </div>

    <div class="reviews-head__content">
      <p>Thumbtack</p>
      <p>4.9</p>
    </div>
  </div>

  <div class="page-reviews__container">
    <div class="content-page">
      
    </div>
  </div>
</div>
