---
import "@components/css-components/reviews.css";
---

<div class="reviews reviews-header">
  <p>
    <a href="#reviews"
      ><strong style="font-size: 17px"> Reviews ⭐⭐⭐⭐⭐ 5.0</strong>
      (Google Rating)<a><a href="#reviews">(Thumbtack Rating)</a> </a>
    </a>
  </p>
</div>
