---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- бытовая техника  -->
<div class="full-conteiner-machinery">
  <div class="content-machinery">
    <div class="content-machinery-f-d">
     
        <div class="f-content-machinery">
          <a
          title="Refrigerator Repair Los Angeles"
          href="/services/refrigerator-repair-los-angeles/">
          
          <img width="128" height="128" loading="lazy" src="/units/refrigerator-repair.webp" alt="Same day expert refrigerator repair - Los Angeles" /></a>
        </div>

        <div class="d-content-machinery">
          <p><a
            title="Refrigerator Repair Los Angeles"
            href="/services/refrigerator-repair-los-angeles/">Refrigerator Repair</a></p>
        </div>
      
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/refrigerator-repair-cost/">ESTIMATES</a>
    </div>

  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
             <div class="f-content-machinery">
              <a
              title="Refrigerator Repair Los Angeles"
              href="/services/freezer-repair-los-angeles/">
          
              <img
            loading="lazy"
            src="/units/freezer-repair.webp"
            alt="Freezer repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p><a
        title="Refrigerator Repair Los Angeles"
        href="/services/freezer-repair-los-angeles/">Freezer Repair</a></p>
        </div>
    
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/freezer-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a
                title="Refrigerator Repair Los Angeles"
                href="/services/washing-machine-repair-los-angeles/">
         
                <img
            loading="lazy"
            src="/units/washer-repair.webp"
            alt="Washer repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p> <a
            title="Refrigerator Repair Los Angeles"
            href="/services/washing-machine-repair-los-angeles/">Washer Repair</a></p>
        </div>
      
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/washing-machine-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a title="Refrigerator Repair Los Angeles" href="/services/dryer-repair-los-angeles/">
          
                <img
            loading="lazy"
            src="/units/dryer-repair.webp"
            alt="Dryer repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p><a title="Refrigerator Repair Los Angeles" href="/services/dryer-repair-los-angeles/">Dryer Repair</a></p>
        </div>
    
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/dryer-repair-cost/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
             <div class="f-content-machinery">
              <a title="Stove Repair Los Angeles" href="/services/stove-repair-los-angeles/">
          
              <img
            loading="lazy"
            src="/units/range-stove-repair.webp"
            alt="Stove repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p> <a title="Stove Repair Los Angeles" href="/services/stove-repair-los-angeles/">Stove Repair</a></p>
        </div>
      
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/stove-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
             <div class="f-content-machinery">
              <a
              title="Dishwasher Repair Los Angeles"
              href="/services/dishwasher-repair-los-angeles/">
         
              <img
            loading="lazy"
            src="/units/dishwasher-repair.webp"
            alt="Dishwasher repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p> <a
            title="Dishwasher Repair Los Angeles"
            href="/services/dishwasher-repair-los-angeles/">Dishwasher Repair</a></p>
        </div>
      
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/dishwasher-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a title="Oven Repair Los Angeles" href="/services/oven-repair-los-angeles/">
         
                <img
            loading="lazy"
            src="/units/oven-repair.webp"
            alt="Refrigerator repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p><a title="Oven Repair Los Angeles" href="/services/oven-repair-los-angeles/">Oven Repair</a></p>
        </div>
    
    </div>

    <div class="but-content-machinery">
      <a title="Oven Repair Los Angeles" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/oven-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a title="Cooktop Repair Los Angeles" href="/services/cooktop-repair-los-angeles/">
          
                <img
            loading="lazy"
            src="/units/cooktop-repair.webp"
            alt="Cooktop repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p> <a title="Cooktop Repair Los Angeles" href="/services/cooktop-repair-los-angeles/">Cooktop Repair</a></p>
        </div>
    
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/cooktop-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
             <div class="f-content-machinery">
         
              <a title="Microwave Repair Los Angeles" href="/services/microwave-repair-los-angeles/">
             
                <img
            loading="lazy"
            src="/units/microwave-repair.webp"
            alt="Microwave repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p> <a title="Microwave Repair Los Angeles" href="/services/microwave-repair-los-angeles/">Microwave Repair</a></p>
        </div>
    
      </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/microwave-repair-cost/">ESTIMATES</a>
    </div>
  </div>
  <div class="content-machinery">
    <div class="content-machinery-f-d">
             <div class="f-content-machinery">
              <a
              title="Range Hood Repair Los Angeles"
              href="/services/range-hood-repair-los-angeles/">
       
              <img
            loading="lazy"
            src="/units/range-hood-repair.webp"
            alt="Same day range hood repair - Los Angeles"
          /></a>
        </div>
        <div class="d-content-machinery">
          <p> <a
            title="Range Hood Repair Los Angeles"
            href="/services/range-hood-repair-los-angeles/">Range Hood Repair</a></p>
        </div>
    
    </div>
    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>
    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/range-hood-repair-cost/">ESTIMATES</a>
    </div>
  </div>
  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a title="Fireplace Repair Los Angeles" href="/services/fireplace-repair-los-angeles/">
        
                <img
            loading="lazy"
            src="/units/fireplace-repair.webp"
            alt="Fireplace repair Los Angeles"
          /></a>
        </div>
        <div class="d-content-machinery">
               <p><a title="Fireplace Repair Los Angeles" href="/services/fireplace-repair-los-angeles/">Fireplace Repair</a></p>
              </div>
        </div>
    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>
    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/fireplace-repair-cost/">ESTIMATES</a>
    </div>
  </div>
  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a title="Fireplace Repair Los Angeles" href="/services/bbq-grill-repair-los-angeles/">
            
                <img
            loading="lazy"
            src="/units/bbq-grill-repair.webp"
            alt="Barbeque grill repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p><a title="Fireplace Repair Los Angeles" href="/services/bbq-grill-repair-los-angeles/">Barbeque Grill Repair</a></p>
        </div>
      
    </div>
    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>
    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/bbq-grill-repair-cost/">ESTIMATES</a>
    </div>
  </div>
  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
                <a title="Wine Cooler Repair in Los Angeles" href="/services/wine-cooler-repair-los-angeles/">
                  <img
            loading="lazy"
             src="/units/wine-cooler-repair.webp"
             alt="Wine Cooler Repair Los Angeles"
          /></a>
        </div>

        <div class="d-content-machinery">
          <p><a title="Wine Cooler Repair in Los Angeles" href="/services/wine-cooler-repair-los-angeles/">Wine Cooler Repair</a></p>
        </div>
    
    </div>

    <div class="but-content-machinery">
      <a title="Same day Wine Cooler repair Los Angeles" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-wine-cooler-repair-cost/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
     
        <div class="f-content-machinery">
          <a title="Wine Cellar Repair in Los Angeles" href="/services/wine-cellar-repair-los-angeles/"> <img
          loading="lazy"
          src="/units/wine-cellar-repair.webp"
          alt="Wine Cellar Repair Los Angeles"
        /></a>
        </div>

        <div class="d-content-machinery">
          <p><a title="Wine Cellar Repair in Los Angeles" href="/services/wine-cellar-repair-los-angeles/">Wine Cellar Repair</a></p>
        </div>
      
    </div>

    <div class="but-content-machinery">
      <a title="Same day wine cellar repair Los Angeles" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/wine-cellar-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
              <div class="f-content-machinery">
          <a title="Induction Cooktop Repair in Los Angeles" href="/services/induction-cooktop-repair-los-angeles/">
          <img loading="lazy"
          src="/images/induction-cooktop.webp"
          alt="Induction Cooktop Repair Los Angeles"/>
        </a>
        </div>
        
        <div class="d-content-machinery">
          <p><a title="Induction Cooktop Repair in Los Angeles" href="/services/induction-cooktop-repair-los-angeles/">Induction Cooktop Repair</a></p>
        </div>
      
    </div>

    <div class="but-content-machinery">
      <a title="Same day Induction Cooktop Repair Los Angeles" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/induction-cooktop-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>



</div>
