---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- бытовая техника  -->
<div class="full-conteiner-machinery">
  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Refrigerator Repair Ladera Heights"
        href="/services/refrigerator-repair-los-angeles/">
        <div class="f-content-machinery">
          <img width="128" height="128" loading="lazy" src="/units/refrigerator-repair.webp" alt="Same day expert refrigerator repair - Ladera Heights" />
        </div>

        <div class="d-content-machinery">
          <p>Refrigerator Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/refrigerator-repair-cost/">ESTIMATES</a>
    </div>

  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Refrigerator Repair Ladera Heights"
        href="/services/freezer-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/freezer-repair.webp"
            alt="Freezer repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Freezer Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/freezer-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Refrigerator Repair Ladera Heights"
        href="/services/washing-machine-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/washer-repair.webp"
            alt="Washer repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Washer Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/washing-machine-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Refrigerator Repair Ladera Heights" href="/services/dryer-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/dryer-repair.webp"
            alt="Dryer repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Dryer Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/dryer-repair-cost/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Stove Repair Ladera Heights" href="/services/stove-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/range-stove-repair.webp"
            alt="Stove repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Stove Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/stove-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Dishwasher Repair Ladera Heights"
        href="/services/dishwasher-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/dishwasher-repair.webp"
            alt="Dishwasher repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Dishwasher Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/dishwasher-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Oven Repair Ladera Heights" href="/services/oven-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/oven-repair.webp"
            alt="Refrigerator repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Oven Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Oven Repair Ladera Heights" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/oven-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Cooktop Repair Ladera Heights" href="/services/cooktop-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/cooktop-repair.webp"
            alt="Cooktop repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Cooktop Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/cooktop-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Microwave Repair Ladera Heights" href="/services/microwave-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/microwave-repair.webp"
            alt="Microwave repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Microwave Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/microwave-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Range Hood Repair Ladera Heights"
        href="/services/range-hood-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/range-hood-repair.webp"
            alt="Same day range hood repair - Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Range Hood Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/range-hood-repair-cost/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Fireplace Repair Ladera Heights" href="/services/fireplace-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/fireplace-repair.webp"
            alt="Fireplace repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Fireplace Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/fireplace-repair-cost/">ESTIMATES</a>
    </div>

  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Fireplace Repair Ladera Heights" href="/services/bbq-grill-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/bbq-grill-repair.webp"
            alt="Barbeque grill repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Barbeque Grill Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/bbq-grill-repair-cost/">ESTIMATES</a>
    </div>

  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Wine Cooler Repair in Ladera Heights" href="/services/wine-cooler-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
             src="/units/wine-cooler-repair.webp"
             alt="Wine Cooler Repair Ladera Heights"
          />
        </div>

        <div class="d-content-machinery">
          <p>Wine Cooler Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Wine Cooler repair Ladera Heights" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-wine-cooler-repair-cost/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Wine Cellar Repair in Ladera Heights" href="/services/wine-cellar-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
          loading="lazy"
          src="/units/wine-cellar-repair.webp"
          alt="Wine Cellar Repair Ladera Heights"
        />
        </div>

        <div class="d-content-machinery">
          <p>Wine Cellar Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day wine cellar repair Ladera Heights" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/wine-cellar-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>



  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Induction Cooktop Repair in Ladera Heights" href="/services/induction-cooktop-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
          loading="lazy"
          src="/images/induction-cooktop.webp"
          alt="Induction Cooktop Repair Ladera Heights"
        />
        </div>

        <div class="d-content-machinery">
          <p>Induction Cooktop Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Induction Cooktop Repair Ladera Heights" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/induction-cooktop-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>



</div>
