---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- коммерческая техника -->
<div class="full-conteiner-machinery">
  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-refrigerator-repair.webp"
        alt="Same day Commercial refrigerator repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Refrigerator Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial refrigerator repair book" href="/book">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial refrigerator repair estimate" href="/price-list/commercial-refrigerator-repair-cost">ESTIMATES</a>
    </div>
    
  </div>






  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-freezer-repair.webp"
        alt="Same day Commercial Freezer repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Freezer repair book" href="/book"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Freezer repair estimate" href="/price-list/commercial-freezer-repair-cost">ESTIMATES</a>
    </div>

  </div>






  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-washer-repair.webp"
        alt="Same day Commercial Washing Machine repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Washing Machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Washing Machine repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Washing Machine repair estimate" href="/services/washing-machine-repair-los-angeles/">ESTIMATES</a>
    </div>

  </div>







  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-dryer-repair.webp"
        alt="Same day Commercial Dryer repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Dryer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Dryer repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Dryer repair estimate" href="/price-list/commercial-dryer-repair-cost">ESTIMATES</a>
    </div>

  </div>






  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-stove-repair.webp"
        alt="Same day Commercial Stove repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Stove Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Stove repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Stove repair estimate" href="/price-list/commercial-stove-repair-cost">ESTIMATES</a>
    </div>

  </div>








  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-dishwasher-repair.webp"
        alt="Same day Commercial Dishwasher repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Dishwasher Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Dishwasher repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Dishwasher repair estimate" href="/price-list/commercial-dishwasher-repair-cost">ESTIMATES</a>
    </div>

  </div>







  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-oven-repair.webp"
        alt="Same day Commercial Oven repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Oven Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Oven repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Oven repair estimate" href="/price-list/commercial-oven-repair-cost">ESTIMATES</a>
    </div>

  </div>








  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/walk-in-cooler-repair.webp"
        alt="Same day Walk in cooler repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Walk in cooler Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Walk in cooler repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Walk in cooler repair estimate" href="/price-list/commercial-walk-in-cooler-repair-cost">ESTIMATES</a>
    </div>

  </div>






  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/walk-in-freezer-repair.webp"
        alt="Same day Walk in freezer repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Walk in freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Walk in freezer repair book" href="/book"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Walk in freezer repair estimate" href="/price-list/commercial-walk-in-freezer-repair-cost">ESTIMATES</a>
    </div>

  </div>









  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/ice-machine-repair.webp"
        alt="Same day Commercial Ice machine repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Ice machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Ice machine repair book" href="/book">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Ice machine repair estimate" href="/price-list/commercial-ice-machine-repair-cost">ESTIMATES</a>
    </div>

  </div>







  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/slushie-machine-repair.webp"
        alt="Same day Slushie machine repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Slushie machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Slushie machine repair book" href="/book"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Slushie machine repair estimate" href="/price-list/commercial-slushie-machine-repair-cost">ESTIMATES</a>
    </div>
  </div>






  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/showcase-refrigerator-repair.webp"
        alt="Same day Showcase refrigerator / freezer Repair " 
        />
    </div>

    <div class="d-content-machinery">
      <p>Showcase refrigerator/<wbr />freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Showcase refrigerator / freezer Repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Showcase refrigerator / freezer Repair estimate" href="/price-list/commercial-showcase-refrigerator-repair-cost">ESTIMATES</a>
    </div>
  </div>








  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/bar-refrigerator-repair.webp"
        alt="Same day Bar refrigerator Repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Bar refrigerator Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Bar refrigerator Repair book" href="/book"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Bar refrigerator Repair estimate" href="/services/bar-refrigerator-repair-los-angeles">ESTIMATES</a>
    </div>
  </div>








  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-fryer-repair.webp"
        alt="Same day Commercial Fryer Machine Repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Fryer Machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Fryer Machine Repair book" href="/book">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Fryer Machine Repair estimate" href="#">ESTIMATES</a>
    </div>
  </div>





  

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/laundry-speed-queen-repair.webp"
        alt="Same day Commercial Laundry Repair"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Laundry Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Commercial Laundry Repair book" href="/book"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Commercial Laundry Repair estimate" href="#">ESTIMATES</a>
    </div>
  </div>



</div>
