---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- коммерческая техника -->
<div class="full-conteiner-machinery">
  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-refrigerator-repair.webp"
        alt="Same day commercial refrigerator repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Refrigerator Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-freezer-repair.webp"
        alt="Same day commercial freezer repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day refrigerator repair Los Angeles" href="/book"
        >BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-washer-repair.webp"
        alt="Same day commercial washer repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Washer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day washer repair Los Angeles" href="/book">BOOK US</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-dryer-repair.webp"
        alt="Same day commercial dryer repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Dryer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day dryer repair Los Angeles" href="/book">BOOK US</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-stove-repair.webp"
        alt="Same day commercial stove repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Stove Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day stove repair Los Angeles" href="/book">BOOK US</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-dishwasher-repair.webp"
        alt="Same day commercial dishwasher repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Dishwasher Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day dishwasher repair Los Angeles" href="/book">BOOK US</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-oven-repair.webp"
        alt="Same day commercial oven repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Oven Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day oven repair Los Angeles" href="/book">BOOK US</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-walk-in-cooler-repair.webp"
        alt="Same day commercial walk-in cooler repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Walk-in cooler Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day walk-in cooler repair Los Angeles" href="/book"
        >BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-walk-in-freezer-repair.webp"
        alt="Same day commercial walk-in freezer repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Walk-in freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day walk-in freezer repair Los Angeles" href="/book"
        >BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-ice-machine-repair.webp"
        alt="Same day commercial ice machine repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Ice machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day ice mashine repair Los Angeles" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-slushie-mashine-repair.webp"
        alt="Same day commercial slush machine repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Slushie machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day slushie mashine repair Los Angeles" href="/book"
        >BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-showcase-refrigerarot-freezer-repair.webp"
        alt="Same day commercial showcase refrigerator/freezer repair - Los Angeles"
      />
    </div>

    <div class="d-content-machinery">
      <p>Showcase refrigerator/<wbr />freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a
        title="Same day showcase refrigerator / freezer Los Angeles"
        href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-wine-cooler-freezer-repair.webp"
        alt="Same day Fireplace Repair Services"
      />
    </div>

    <div class="d-content-machinery">
      <p>Wine Cooler Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Wine Cooler repair Los Angeles" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-bar-refrigerator-freezer-repair.webp"
        alt="Same day Fireplace Repair Services"
      />
    </div>

    <div class="d-content-machinery">
      <p>Bar refrigerator Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day bar refrigerator repair Los Angeles" href="/book"
        >BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-fryer-repair.webp"
        alt="Same day Commercial Fryer Repair Services"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Fryer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day gas dryer repair Los Angeles" href="/book">BOOK US</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/commercial-laundry-speed-queen-repair.webp"
        alt="Same day Laundry Speed Queen Repair Services"
      />
    </div>

    <div class="d-content-machinery">
      <p>Laundry Speed Queen Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Laundry Speed Queen repair Los Angeles" href="/book"
        >BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/images/wine-cellar-reapir.webp"
        alt="Same day Wine Cellar Repair Services"
      />
    </div>

    <div class="d-content-machinery">
      <p>Wine Cellar Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day wine cellar repair Los Angeles" href="/book">BOOK US</a
      >
    </div>
  </div>
</div>
