---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- Heating, ventilation, air conditioning -->
<div class="full-conteiner-machinery">
  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day air conditioner repair Los Angeles" href="#">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/images/air-conditioner-repair-installation.webp"
            alt="Same day Refrigerator Repair Los Angeles"
          />
        </div>

        <div class="d-content-machinery">
          <p>Air conditioner Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day furnce repair Los Angeles" href="#">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/images/furnace-repair-installation.webp"
            alt="Same day Refrigerator Repair - Los Angeles"
          />
        </div>

        <div class="d-content-machinery">
          <p>Furnace Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day heat pump repair Los Angeles" href="#">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/images/heat-pump-repair-installation.webp"
            alt="Same day Refrigerator repair Los Angeles"
          />
        </div>

        <div class="d-content-machinery">
          <p>Heat Pump Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day water heater repair Los Angeles" href="#">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/images/water-heater-repair-installation.webp"
            alt="Same day Dryer repair Los Angeles"
          />
        </div>

        <div class="d-content-machinery">
          <p>Water Heater Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day wall heater repair Los Angeles" href="#">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/images/wall-heater-repair-installation.webp"
            alt="Range/Stove"
          />
        </div>

        <div class="d-content-machinery">
          <p>Wall heater Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>

  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day wall heater repair Los Angeles" href="#">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/images/duck-cleaning.webp"
            alt="Range/Stove"
          />
        </div>

        <div class="d-content-machinery">
          <p>Ducts Cleaning Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book">BOOK US</a
      >
    </div>
  </div>
</div>
