---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- коммерческая техника -->
<div class="full-conteiner-machinery">
  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-refrigerator-repair-los-angeles.webp"
        alt="Commercial refrigerator repair Alhambra "
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Refrigerator Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Book Same Day Appliance Repair Services" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-refrigerator-repair-cost/">ESTIMATES</a>
    </div>
    
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-freezer-repair.webp"
        alt="Commercial freezer repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day refrigerator repair Alhambra" href="/book/"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-freezer-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-washer-repair.webp"
        alt="Commercial washing machine repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Washing Machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day washer repair Alhambra" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/washing-machine-repair-los-angeles/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-dryer-repair.webp"
        alt="Commercial dryer repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Dryer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day dryer repair Alhambra" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-dryer-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-stove-repair.webp"
        alt="Commercial stove repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Stove Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day stove repair Alhambra" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-stove-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-dishwasher-repair.webp"
        alt="Commercial dishwasher repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Dishwasher Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Commercial dishwasher repair Alhambra" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-dishwasher-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-oven-repair.webp"
        alt="Commercial oven repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Oven Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day oven repair Alhambra" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-oven-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/walk-in-cooler-repair.webp"
        alt="Commercial walk in cooler repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Walk in cooler Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Walk in cooler repair Alhambra" href="/book/"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-walk-in-cooler-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/walk-in-freezer-repair.webp"
        alt="Commercial walk in freezer repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Walk in freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day walk-in freezer repair Alhambra" href="/book/"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-walk-in-freezer-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/ice-machine-repair.webp"
        alt="Commercial ice machine repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Ice machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day ice mashine repair Alhambra" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-ice-machine-repair-cost/">ESTIMATES</a>
    </div>

  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/slushie-machine-repair.webp"
        alt="Commercial slush machine repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Slushie machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day slushie mashine repair Alhambra" href="/book/"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-slushie-machine-repair-cost/">ESTIMATES</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/showcase-refrigerator-repair.webp"
        alt="Commercial showcase refrigerator Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Showcase refrigerator/<wbr />freezer Repair</p>
    </div>

    <div class="but-content-machinery">
      <a
        title="Same day showcase refrigerator / freezer Alhambra"
        href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/price-list/commercial-showcase-refrigerator-repair-cost/">ESTIMATES</a>
    </div>
  </div>


  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/bar-refrigerator-repair.webp"
        alt="Bar Refrigerator Repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Bar refrigerator Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day bar refrigerator repair Alhambra" href="/book/"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="/services/bar-refrigerator-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/commercial-fryer-repair.webp"
        alt="Commercial Fryer Machine Repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Fryer Machine Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day gas dryer repair Alhambra" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="#">ESTIMATES</a>
    </div>
  </div>

  <div class="content-machinery">
    <div class="f-content-machinery">
      <img
        loading="lazy"
        src="/units/laundry-speed-queen-repair.webp"
        alt="Commercial Laundry Repair Alhambra"
      />
    </div>

    <div class="d-content-machinery">
      <p>Commercial Laundry Repair</p>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Laundry Speed Queen repair Alhambra" href="/book/"
        >BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Estimates Same Day Appliance Repair Services" href="#">ESTIMATES</a>
    </div>
  </div>



</div>
