---
import "@components/css-components/style-units-equipment-los-angeles.css";
---

<!-- бытовая техника  -->
<div class="full-conteiner-machinery">


  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Same day Refrigerator Repair"
        href="/services/refrigerator-repair-los-angeles/">
        <div class="f-content-machinery">
          <img width="128" height="128" loading="lazy" src="/units/refrigerator-repair.webp" alt="Same day Refrigerator Repair" width="600" height="600"/>
        </div>

        <div class="d-content-machinery">
          <p>Refrigerator Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Refrigerator Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Refrigerator Repair estimate" href="/price-list/refrigerator-repair-cost/">ESTIMATES</a>
    </div>

  </div>








  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Same day Freezer Repair"
        href="/services/freezer-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/freezer-repair.webp"
            alt="Same day Freezer Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Freezer Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Freezer Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Freezer Repair estimate" href="/price-list/freezer-repair-cost/">ESTIMATES</a>
    </div>
  </div>







  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Same day Washer Repair"
        href="/services/washing-machine-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/washer-repair.webp"
            alt="Same day Washer Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Washer Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Washer Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Washer Repair estimate" href="/services/washing-machine-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>








  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Dryer Repair" 
      href="/services/dryer-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/dryer-repair.webp"
            alt="Same day Dryer Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Dryer Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Dryer Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Dryer Repair estimate" href="/price-list/dryer-repair-cost/">ESTIMATES</a>
    </div>
  </div>










  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Stove Repair" href="/services/stove-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/range-stove-repair.webp"
            alt="Same day Stove Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Stove Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Stove Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Stove Repair estimate" href="/price-list/stove-repair-cost/">ESTIMATES</a>
    </div>
  </div>








  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Same day Dishwasher Repair"
        href="/services/dishwasher-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/dishwasher-repair.webp"
            alt="Same day Dishwasher Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Dishwasher Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Dishwasher Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Dishwasher Repair estimate" href="/price-list/dishwasher-repair-cost/">ESTIMATES</a>
    </div>
  </div>









  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Oven Repair" href="/services/oven-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/oven-repair.webp"
            alt="Same day Oven Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Oven Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Oven Repair book" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Oven Repair estimate" href="/price-list/oven-repair-cost/">ESTIMATES</a>
    </div>
  </div>









  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Cooktop Repair" href="/services/cooktop-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/cooktop-repair.webp"
            alt="Same day Cooktop Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Cooktop Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Cooktop Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Cooktop Repair estimate" href="/price-list/cooktop-repair-cost/">ESTIMATES</a>
    </div>
  </div>











  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Microwave Repair" href="/services/microwave-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/microwave-repair.webp"
            alt="Same day Microwave Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Microwave Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Microwave Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Microwave Repair estimate" href="/price-list/microwave-repair-cost/">ESTIMATES</a>
    </div>
  </div>










  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a
        title="Same day Range Hood Repair"
        href="/services/range-hood-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/range-hood-repair.webp"
            alt="Same day Range Hood Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Range Hood Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Range Hood Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Range Hood Repair estimate" href="/price-list/range-hood-repair-cost/">ESTIMATES</a>
    </div>
  </div>










  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Fireplace Repair" href="/services/fireplace-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/fireplace-repair.webp"
            alt="Same day Fireplace Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Fireplace Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Fireplace Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Fireplace Repair estimate" href="/price-list/fireplace-repair-cost/">ESTIMATES</a>
    </div>
  </div>












  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Barbecue Grill Repair" href="/services/bbq-grill-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
            src="/units/bbq-grill-repair.webp" width="600" height="600"
            alt="Same day Barbecue Grill Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Barbecue Grill Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Barbecue Grill Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Barbeque Grill Repair estimate" href="/price-list/bbq-grill-repair-cost/">ESTIMATES</a>
    </div>
  </div>









  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Wine Cooler Repair" href="/services/wine-cooler-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
            loading="lazy"
             src="/units/wine-cooler-repair.webp"
             alt="Same day Wine Cooler Repair"
          />
        </div>

        <div class="d-content-machinery">
          <p>Wine Cooler Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Wine Cooler Repair book" href="/book/">BOOK US</a>
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Wine Cooler Repair estimate" href="/price-list/commercial-wine-cooler-repair-cost/">ESTIMATES</a>
    </div>
  </div>






  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Wine Cellar Repair" href="/services/wine-cellar-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
          loading="lazy"
          src="/units/wine-cellar-repair.webp"
          alt="Same day Wine Cellar Repair"
        />
        </div>

        <div class="d-content-machinery">
          <p>Wine Cellar Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Wine Cellar Repair book" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Wine Cellar Repair estimate" href="/services/wine-cellar-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>








  <div class="content-machinery">
    <div class="content-machinery-f-d">
      <a title="Same day Induction Cooktop Repair" href="/services/induction-cooktop-repair-los-angeles/">
        <div class="f-content-machinery">
          <img
          style="box-shadow: 0px 0px 0 0px !important;"
          loading="lazy"
          src="/images/induction-cooktop.webp"
          alt="Same day Induction Cooktop Repair"
        />
        </div>

        <div class="d-content-machinery">
          <p>Induction Cooktop Repair</p>
        </div>
      </a>
    </div>

    <div class="but-content-machinery">
      <a title="Same day Induction Cooktop Repair estimate" href="/book/">BOOK US</a
      >
    </div>

    <div class="but-content-machinery but-content-machinery-estimates">
      <a title="Same day Induction Cooktop Repair estimate" href="/services/induction-cooktop-repair-los-angeles/">ESTIMATES</a>
    </div>
  </div>



</div>
