p {
    margin: 0;
}

h2 {
    font-size: clamp(24px, 5vw, 28px) !important;
    text-shadow: 1px 1px 1.3px #8f9499;
}



.home-page-full {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #fff;
}

.category-0 {
    background-color: #fff;
}

.full-index {
    width: 100%;
}

.full-index-1920 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: grid;

}

.full-index-1920 h1 {
    text-align: center;
    width: 100%;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fff 0%,
            #000 15%,
            #111112 67%,
            #858384 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: clamp(35px, 8vw, 60px);
    line-height: clamp(56px, 8vh, 60px);
    font-weight: 900;
}

.full-commercial-machinery {
    background-color: #F2F1F0;
    width: 100%;
}

#full-commercial-machinery-nocolor {
    background-color: #fff;
}

.full-commercial-machinery h2 {
    margin: 0;
}

.full-commercial-machinery-1920 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 2% 3% 4% 3%;
}

.header-machinery {
    text-align: center;
    margin: 0 0 20px 0;
}
.full-conteiner-machinery {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2em;
}



.content-machinery {
    display: grid;
    justify-self: center;
    border-radius: 7px;
    padding: 10px 8px;
    width: 260px;
    grid-gap: 0.8em;
}

.content-machinery-f-d {
    display: grid;
    justify-self: center;
    width: 100%;
}

.content-machinery-f-d a{
    display: grid;
    justify-self: center;
}

.f-content-machinery {
    max-width: 140px;
    min-height: 150px;
    justify-self: center;
    align-self: center;
}

.f-content-machinery img {
    width: 100%;
    transition: 0.25s;
    transform: scale(1, 1);
}

.content-machinery:hover .f-content-machinery img {
    transform: scale(1.1, 1.1);
}

.d-content-machinery {
    width: 100%;
    display: grid;
    min-height: 50px;
}

.d-content-machinery p {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-shadow: 0.6px 0.6px 1.2px rgb(102, 102, 102);
    margin: 0;
}

.but-content-machinery {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 70%;
    background-color: #000;
    border: solid 1.5px #000;
    border-radius: 5px;
    box-shadow: inset 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    transition: 0.25s;
}

.but-content-machinery:hover {
    background-color: #ca0913 !important;
}

.but-content-machinery a {
    justify-self: center;
    align-self: center;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    padding: 6px 33px;
    text-shadow: 1.2px 1.2px 2px black;
    white-space: nowrap;
}


@media (max-width:768px) {

    .six-col-grid {
        display: none;
    }






    .full-commercial-machinery-1920 {
        padding: 3% 2%;
    }

    .full-conteiner-machinery {
        grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
        grid-gap: 1em;
    }

    .content-machinery {
        padding: 10px 4px;
        width: 142px;
        grid-gap: 0.6em;
    }

    .but-content-machinery {
        width: 90%;
    }

    .but-content-machinery a {
        font-size: 16px;
        /* padding: 6px 4px; */
        padding: 6% 18%;
        text-shadow: 1px 1px 2px black;
    }

    .d-content-machinery {
        min-height: 66px;
    }

    .d-content-machinery p {
        font-size: 18px;
        line-height: 22px;

    }
}











@media (min-width: 1536px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}