p {
    margin: 0;
}

h2 {
    font-size: clamp(24px, 5vw, 28px) !important;
    text-shadow: 1px 1px 1.3px #8f9499;
}
.home-page-full {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #fff;
}

.category-0 {
    background-color: #fff;
}

.full-index {
    width: 100%;
}

.full-index-1920 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    /* display: grid; */

}

.full-index-1920 h1 {
    text-align: center;
    width: 100%;
    margin: 0% 0 0 0;
    text-shadow: 2.3px 2.3px 3.7px rgb(21 21 21);
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fff 0%,
            #000 15%,
            #111112 67%,
            #858384 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    /* background-clip: text; */
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: clamp(35px, 8vw, 60px);
    line-height: clamp(56px, 8vh, 60px);
    font-weight: 900;
}

.two-col-grid {
    padding: 2% 3% 2% 3%;
    display: block;
    z-index: 3;
    position: relative;
}

.col-one {
    float: left;
    margin: 0 20px 0px 0;
}

.col-one img {
    max-width: 100%;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 / 20%), 3px 2px 3px 0px rgb(0 0 0 / 14%), 3px 3px 14px 0px rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.full-contact-button-global {
    margin-top: 20px;
}

.col-two p {
    color: #000;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 18px);
    margin-bottom: 8px;
}

.faq-price-list {
    margin-bottom: 2%;
}
.category-0 {
    display: inline-block;
}

.full-commercial-machinery {
    background-color: #F2F1F0;
    width: 100%;
}

#full-commercial-machinery-nocolor {
    background-color: #fff;  
    z-index: 2;
    position: relative;
}

#parts-cost-anchor {
    z-index: 1;
    position: relative;
}

.full-commercial-machinery h2 {
    margin: 0;
}

.full-commercial-machinery-1920 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 2% 3% 2% 3%;
}

.first-element-without-indentation {
    padding: 0% 3% 2% 3%;
}

.header-machinery {
    text-align: center;
    margin: 0 0 20px 0;
}
.finish-index {
    width: 100%;
    max-width: 1920px;
    padding: 1% 10%;
}

.finish-index h2 {
    text-align: center;
    margin: 3% 0 0 0;
}

.finish-index h3 {
    font-weight: 700;
    font-size: clamp(18px, 4vw, 20px) !important;
    text-shadow: 0.5px 0.5px 0.8px #8f9499;
    margin-top: 20px;
}

.finish-index p {
    margin-bottom: 7px;
}
#full-commercial-machinery-nocolor::before {
    content: '';
    display: block;
    height: 125px;
    margin-top: -125px;
    z-index: -100;
    position: relative;
    
  }
  
  #parts-cost-anchor::before {
    content: '';
    display: block;
    height: 125px;
    margin-top: -125px;
    z-index: -100;
    position: relative;

  }
  
  #faqs-anchor::before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    z-index: -100;
    position: relative;

  }
.desc-logo-brand h3 {
    margin-top: 0;
}
@media (max-width:1024px) {
    .two-col-grid {
        display: grid;
    }

    .col-one {
        float: none;
        grid-row: 2/2;
        justify-self: center;
        margin: 15px 10px 0px 10px;
    }
    .col-two {
        grid-column: 1;
    }

    #full-commercial-machinery-nocolor::before {
        content: '';
        display: block;
        height: 85px;
        margin-top: -85px;
      }
    
      #parts-cost-anchor::before {
        content: '';
        display: block;
        height: 80px;
        margin-top: -80px;
      }
    
      #faqs-anchor::before {
        content: '';
        display: block;
        height: 78px;
        margin-top: -78px;
      }
    
}
@media (max-width:768px) {

    .six-col-grid {
        display: none;
    }

    .animate-charcter {
        font-size: clamp(48px, 8vw, 60px) !important;
        line-height: clamp(56px, 8vh, 60px) !important;
    }

    .finish-index {
        padding: 1% 3%;
    }


   
}
@media (min-width: 1536px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}
